
@keyframes spin
  100% 
    transform: rotate(360deg)

.library
  user-select: none
  z-index: 200
  position: fixed
  bottom: 0
  right: 0
  flex: 1
  width: 50%
  height: $appbar_height
  display: flex
  text-align: center
  white-space: nowrap
  background-color: #144C69
  >.button.style-action
    flex: 1
    display: inline-block
    height: $appbar_height
    background-position: center 10px
    background-repeat: no-repeat
    padding: 2px
    border-radius: 0
    margin: 0
    &.selected
      background-color: rgba(0,0,0,.2)
    &.posttrack
      display: none

    &.liked
      background-size: 27px
      background-image: url('/theme/fancy/icon/library/mobile/likes.svg')

    &.tracks
      background-position: center 8px
      background-size: 27px
      background-image: url('/theme/fancy/icon/library/mytracks.svg')
      
    &.people
      background-size: 32px
      background-image: url('/theme/fancy/icon/library/mobile/people.svg')
    label
      font-size: .7em
      text-transform: initial
      display: block
      padding-top: 32px


.dark-mode
  .library
    background-color: black


// body
//   &.registered-role, &.admin-role, &.digger-role, &.premium-role, &.press-role, &.friends-role
//     .appbar
//       .library
//         display: flex

@media only screen and (min-width: $desktop_switch)
  .library
    flex: none
    position: relative
    width: initial
    height: initial
    display: block
    padding-left: 32px
    margin-left: 64px
    padding-right: 26px
    background-color: rgba(0,0,0,.1)
    .button.style-action
      width: 44px
      border-radius: 50%
      border: 1px solid rgba(255,255,255,1)

      display: inline-block
      height: 44px
      width: 44px
      background-size: 100%
      background-position: center
      background-repeat: no-repeat
      border-radius: 50%
      margin: 4px
      border: 1px solid rgba(255,255,255,1)
      &.liked
        background-size: 100%
        background-color: #EA9F9D
        background-image: url('/theme/fancy/icon/library/liked.svg')
        &:hover
          background-image: url('/theme/fancy/icon/library/liked_o.svg')
        &.selected
          background-image: url('/theme/fancy/icon/library/liked-on.svg')
      &.tracks
        background-size: 65%
        background-color: #30669A
        background-image: url('/theme/fancy/icon/library/mytracks.svg')
        &.selected
          background-color: #22598a
      &.people
        background-size: 100%
        background-color: #72B746
        background-image: url('/theme/fancy/icon/library/people.svg')
        &:hover
          background-image: url('/theme/fancy/icon/library/people_o.svg')
          &.selected
            background-image: url('/theme/fancy/icon/library/people-on.svg')
      &.posttrack
        display: inline-block
        position: absolute
        left: -32px
        height: 54px
        width: 54px
        margin: 0
        background-color: white
        background-image: url('/theme/common/icon/posttrack.svg')
        &:hover
          animation: spin 1s linear infinite
          background-image: url('/theme/common/icon/posttrack.svg')
        &.selected
          background-image: url('/theme/common/icon/posttrack.svg')
      .label
        display: none

  .dark-mode
    .library
      background-color: transparent