.menu.country
  font-size: .8em
  color: rgba(0,0,0,.87)
  z-index: 101
  position: absolute
  top: 56px
  left: 0
  bottom: 100px
  width: 300px
  background-color: white
  overflow: auto
  padding-bottom: 44px
  .item
    padding: 16px 20px
    &:hover
      background-color: rgba(0,0,0,.05)


body.dark-mode
  .menu.country
    background-color: black
    color: rgba(255,255,255,.87)
    .item
      padding: 16px 20px
      &:hover
        background-color: rgba(255,255,255,.05)