
// mobile
.mode
  z-index: 90
  position: fixed
  bottom: 0
  left: 0
  display: inline-block
  padding: 0
  margin: 0
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  width: 50%
  // text-align: center 
  align-items: center
  justify-content: center
  background-color: #144C69
  -webkit-touch-callout: none
  -webkit-user-select: none
  .button.style-action
    display: inline-block
    height: $appbar_height
    flex: 1
    background-size: 34px
    background-position: center 10px
    background-repeat: no-repeat
    margin: 0
    border-radius: 0
    padding: 2px
    &:hover
      background-color: none
    &:focus
      background-color: none
    &.on
      background-color: rgba(0,0,0,.3)
    &.preselect
      background-color: rgba(0,0,0,.1)
    &.explore
      background-size: 38px
      background-position: center 9px
      background-image: url('/theme/fancy/icon/mode/mobile/home.svg')
    &.taxi
      background-position: center 10px
      background-size: 30px
      background-image: url('/theme/fancy/icon/mode/mobile/taxi.svg')
    &.islands
      background-position: center 8px
      background-size: 38px
      background-image: url('/theme/fancy/icon/mode/mobile/islands.svg')
    &.playlist
      display: none

    label
      text-transform: initial
      font-size: .7em
      display: block
      padding-top: 32px


.mode-taxi
  .appbar
    background-color: #CEB105

.mode-indicator
  display: none
  
.dark-mode
  .mode
    background-color: black
  .mode-indicator
    
    &.random
      background-color: #292A2D
    &.taxi
      color: rgba(255,255,255,1)
      background-color: #292A2D
    &.islands
      color: rgba(255,255,255,.87)
      background-color: #292A2D
    &.explore
      color: rgba(255,255,255,.87)
      background-color: #292A2D

.mode-random
  .appbar
    background-color: #034C70

.mode-islands
  .appbar
    background-color: #FBB03B


.mode-playlist
  .appbar
    background-color: #27669e



// desktop
@media only screen and (min-width: $desktop_switch)
  .mode
    position: relative
    width: 224px
    display: block
    background-color: transparent
    .button.style-action
      flex: none
      display: inline-block
      height: 44px
      width: 44px
      background-size: 100%
      background-position: center
      background-repeat: no-repeat
      border-radius: 50%
      margin: 4px
      border: 1px solid rgba(255,255,255,1)
      margin: 5px
      
      // &.on
      //   border: 1px solid rgba(255,255,255,1)

      &.preselect
        background-color: transparent

      &.explore
        display: none
        width: 2px
        visibility: hidden

      &.playlist
        display: none

      &.random
        display: inline-block
        background-color: #011216
        background-image: url('/theme/fancy/icon/mode/random.svg')
        &:hover
          background-image: url('/theme/fancy/icon/mode/random_o.svg')
        &.on
          background-image: url('/theme/fancy/icon/mode/random-on.svg')

      &.taxi
        background-position: center
        background-size: 100%
        background-color: #3FA8D7
        background-image: url('/theme/fancy/icon/mode/taxi.svg')
        &:hover
          background-image: url('/theme/fancy/icon/mode/taxi_o.svg')
        &.on
          background-image: url('/theme/fancy/icon/mode/taxi-on.svg')
       
      &.islands
        background-size: 100%
        background-color: #A5E9F9
        background-position: center
        background-image: url('/theme/fancy/icon/mode/islands.svg')
        &:hover
          background-image: url('/theme/fancy/icon/mode/islands_o.svg')
        &.on
          background-image: url('/theme/fancy/icon/mode/islands-on.svg')
      label
        display: none

  .mode-indicator
    display: none
    position: fixed
    z-index: 90
    top: 72px
    background-color: rgba(255,255,255,.97)
    max-width: 160px
    text-align: center
    padding: 5px 6px 4px
    transform: translateY(-10px)
    color: rgba(255,255,255,.87)
    border: 1px solid rgba(255,255,255,.87)
    background-color: $primary-color
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    text-transform: uppercase
    font-size: .7em
    &.show
      display: inline-block
    &.explore
      color: darken($secondary-color, 45%)
      color: rgba(0,0,0,.87)
      background-color: $secondary-color
      // border-color: darken($secondary-color, 45%)
    &.random
      background-color: #034C70
    &.taxi
      color: rgba(0,0,0,.87)
      background-color: #EADA68
      // border-color: darken(#EADA68, 35%)
    &.islands
      color: rgba(0,0,0,.87)
      background-color: #FBB03B
      // border-color: darken(#FBB03B, 35%)

    &.playlist
      display: none


  .dark-mode
    .mode
      background-color: transparent

