.moods 
  flex: 1
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  text-align: center
  white-space: nowrap
  justify-content: center
  padding: 0 4px
  -webkit-touch-callout: none
  -webkit-user-select: none
  button
    flex: 1
    cursor: pointer
    color: rgba(255,255,255,.87)
    font-size: 0.6em
    text-transform: uppercase
    font-weight: 400
    text-align: center
    position: relative
    display: inline-block
    max-width: 64px
    vertical-align: top
    padding: 0
    padding-top: 32px
    margin: 0
    align-items: inherit
    background-image: url('/theme/fancy/icon/off.svg')
    background-color: transparent
    background-repeat: no-repeat
    background-position: center 9px
    background-size: 26px 26px
    border: 0
    &:hover
      //background-image: url('/img/moods/selected.svg')
    &.on
      background-image: url('/theme/fancy/icon/on.svg')


@media only screen and (min-width: $desktop_switch)
  .moods
    position: relative
    width: 172px
    top: 0
    left: 0
    padding: 0 8px 0 8px
    display: flex
    justify-content: center
    button
      pointer-events: auto
      flex: none
      cursor: pointer
      color: rgba(255,255,255,.87)
      text-transform: uppercase
      font-size: 0.8em
      font-weight: 400
      text-align: center
      position: relative
      display: inline-block
      height: 70px
      width: 56px
      vertical-align: top
      padding: 0
      padding-bottom: 46px
      margin: 0 2px
      align-items: inherit
      border-bottom-left-radius: 32px
      border-bottom-right-radius: 32px
      background-image: url('/theme/fancy/icon/off.svg') 
      background-repeat: no-repeat
      background-position: center 26px
      background-size: 32px 32px
      background-color: #3FA8D7
      border: 2px solid rgba(255,255,255,1)
      border-top: 0
      &:hover
        //background-image: url('/img/moods/selected.svg')
      &.on
        background-image: url('/theme/fancy/icon/on.svg')


  .dark-mode
    .moods
      button
        font-size: 0.8em
        background-color: $surface-color-dark
        border: 2px solid rgba(0,0,0,1)
        border-top: 0
        background-position: center 28px
        background-size: 28px 28px
