input[type=range]
  height: 25px
  -webkit-appearance: none
  margin: 8px 0
  margin-left: 32px
  width: 80px
  background-color: transparent

input[type=range]:focus
  outline: none

input[type=range]::-webkit-slider-runnable-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0px 0px 0px #000000
  background: rgba(0,0,0,0.87)
  border-radius: 2px
  border: 0px solid #000000

input[type=range]::-webkit-slider-thumb
  box-shadow: 0px 0px 0px #000000
  border: 1px solid rgba(0,0,0,0.87)
  height: 18px
  width: 18px
  border-radius: 25px
  background: #FFFFFF
  cursor: pointer
  -webkit-appearance: none
  margin-top: -7px

input[type=range]:focus::-webkit-slider-runnable-track
  background: rgba(0,0,0,0.87)

input[type=range]::-moz-range-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0px 0px 0px #000000
  background: rgba(0,0,0,0.87)
  border-radius: 1px
  border: 0px solid #000000

input[type=range]::-moz-range-thumb
  box-shadow: 0px 0px 0px #000000
  border: 1px solid rgba(0,0,0,0.87)
  height: 18px
  width: 18px
  border-radius: 25px
  background: #FFFFFF
  cursor: pointer

input[type=range]::-ms-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  background: transparent
  border-color: transparent
  color: transparent

input[type=range]::-ms-fill-lower
  background: rgba(0,0,0,0.87)
  border: 0px solid #000000
  border-radius: 2px
  box-shadow: 0px 0px 0px #000000

input[type=range]::-ms-fill-upper
  background: rgba(0,0,0,0.87)
  border: 0px solid #000000
  border-radius: 2px
  box-shadow: 0px 0px 0px #000000

input[type=range]::-ms-thumb
  margin-top: 1px
  box-shadow: 0px 0px 0px #000000
  border: 1px solid rgba(0,0,0,0.87)
  height: 18px
  width: 18px
  border-radius: 25px
  background: #FFFFFF
  cursor: pointer

input[type=range]:focus::-ms-fill-lower
  background: rgba(0,0,0,0.87)

input[type=range]:focus::-ms-fill-upper
  background: rgba(0,0,0,0.87)
