.social.control
  // display: none
  display: none
  z-index: 5
  position: absolute
  top: 40%
  right: 0
  width: 36px
  a
    display: block
    width: 36px
    height: 36px
    border: none
    background-size: 50%
    background-position: center
    background-repeat: no-repeat
    background-color: rgba(0,0,0,.05)
    &:hover
      background-color: rgba(0,0,0,.1)
    &.facebook
      background-size: 30%
      background-image: url('/theme/common/icon/social/facebook.svg')
    &.twitter
      background-image: url('/theme/common/icon/social/twitter.svg')
    &.instagram
      background-image: url('/theme/common/icon/social/instagram.svg')

@media only screen and (min-width: $desktop_switch)
  .social.control
    display: block
  