
.sound
  pointer-events: auto
  display: inline-block
  width: 40px
  height: 40px
  margin: 8px
  background-image: url('/theme/common/icon/sound/sound.svg')
  background-size: 90%
  background-repeat: no-repeat
  background-position: center
  &.off
    background-image: url('/theme/common/icon/sound/sound-off.svg')

  &:hover
    opacity: 1

@media only screen and (min-width: $desktop_switch)
 
   

