.switch
  display: block
  position: relative
  padding-top: 0
  padding-bottom: 0
  margin-right: 16px
  vertical-align: top
  display: flex
  flew-direction: horizontal
  flex-wrap: nowrap

  //overflow: hidden;
  //border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  input
    position: absolute
    left: -10000px

    &:active
      //background-color: #D6E5E4;
      //transition: .1s;

  .label
    flex: 1
    order: 1
    cursor: default
    font-size: 1rem
    line-height: 1.2rem
    padding: 14px 0
    margin: 0px 2px 0px 0
    overflow: hidden

  .control
    order: 2
    cursor: pointer
    width: 48px
    height: 48px
    padding: 17px 7px
    border-radius: 50%
    transition: .3s

    .track
      cursor: pointer
      position: relative
      display: block
      height: 14px
      padding: 2px
      background-color: rgba(34, 31, 31, 0.26)
      border-radius: 7px
      transition: 0.2s cubic-bezier(0.46, 0, 0.24, 1)

      .knob
        cursor: pointer
        position: absolute
        top: -3px
        left: -2px
        display: block
        height: 20px
        width: 20px
        margin: 0
        border-radius: 50%
        background-color: rgba(241, 241, 241, 1)
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12)
        transition: 0.2s cubic-bezier(0.46, 0, 0.24, 1)

        &::after
          position: absolute
          top: -14px
          left: -14px
          width: 48px
          height: 48px

          // -webkit-transform: scale(0);
          // transform: scale(0);
          // -webkit-transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
          // transition: background-color 90ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
          // transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1), background-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
          // transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1), background-color 90ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
          border-radius: 24px
          content: ""

          //opacity: .2;
          transition: .2s

  &.is-checked
    .track
      background-color: rgba($secondary-color, .3)

      .knob
        background-color: $secondary-color
        left: 15px

  &.is-focused
    .track
      .knob
        &::after
          transition: .2s
          position: absolute
          top: -14px
          left: -14px
          width: 48px
          height: 48px
          border-radius: 24px
          background-color: rgba(0, 0, 0, 0.05)
          content: ""

  &.is-disabled
    .label
      opacity: .5

    .control
      order: 3
      cursor: pointer
      width: 48px
      height: 48px
      padding: 17px 7px

      //border-radius: 50%;
      //transition: .1s;
      .track
        background-color: rgba(34, 31, 31, 0.1)

        .knob
          background-color: rgb(189, 189, 189)
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.06)

.dark-mode
  .switch
    .control
      .track
        background-color: rgba(255, 255, 255, 0.5)

    &.is-checked
      .track
        background-color: rgba($secondary-color, .3)

    &.is-focused
      .control
        .track
          .knob
            &::after
              background-color: rgba(255, 255, 255, 0.05)
