.taxi-control
  z-index: 150
  display: block
  position: absolute
  flex-wrap: wrap
  //bottom: $appbar_height + $player_height + $timeline_height
  top: 56px
  left: 0
  right: 0
  margin: 8px
  flex-direction: column
  background-color: rgba(255,255,255,.5)
  background-color: #F4D80F
  -webkit-touch-callout: none
  -webkit-user-select: none
  border: 2px solid white
  border-radius: 10px
  &.show
    display: block
  .head
    display: flex
    flex-direction: row
    .title
      flex: 1
      font-weight: 500
      color: rgba(0,0,0,0.87)
      font-size: 1.4em
      padding: 8px 0 0
      margin: 0px 16px
    .close
      flex: none
      height: 36px
      width: 36px
      margin: 4px 4px 0

  .body
    //position: fixed
    //top: 56px
    flex: 1
    display: flex
    color: rgba(0,0,0,.87)
    line-height: 1.2em
    padding: 0
    // background-color: rgba(255,255,255,.5)
    .info
      font-size: .8em
      flex: 1
      padding: 0px 16px 8px
    .button.close
      background-image: url('/theme/common/icon/close.svg')
      flex: none
  .foot
    flex: none
    padding: 4px 12px 14px
    display: flex
    flex-direction: row
    // background-color: rgba(255,255,255,.5)
    .divider
      flex: 1
      font-size: 1.2em
      line-height: 1.2em
      padding: 6px
      color: rgba(0,0,0,.87)
      text-transform: uppercase
      text-align: center


    .button
      color: rgba(0,0,0,.87)
      flex: none
      margin: 0 4px
      height: 36px
      border-radius: 18px
      &.start
        color: white
        background-color: #E84E0F
        // font-size: .7em
       
        // width: 56px
        // height: 56px
        // text-align: center
      &.random
        color: white
        background-color: #68b5e4
        // font-size: .7em
        border-radius: 18px
        // width: 56px
        // height: 56px
        // text-align: center
      &.reset
        //color: $secondary-color
        //border: 1px solid $secondary-color
        border-radius: 18px
        background-color: rgba(0,0,0,.1)


.dark-mode
  .taxi-control
    // background-color: transparent
    .body
      // background-color: rgba(0,0,0,.5)
      color: rgba(0,0,0,.87)
      .button.close
        background-image: url('/theme/common/icon/dark/close.svg')
    .foot
      // background-color: rgba(0,0,0,.5)
      color: rgba(0,0,0,.87)
      .divider
        color: rgba(0,0,0,.87)
      .button
        color: rgba(0,0,0,.87)
        

.dialog-taxi
  .dialog-surface
    color: rgba(0,0,0,.87)
    .dialog-title
      margin: 12px 24px
    .dialog-actions
      text-align: right
      margin: 12px 24px


@media only screen and (min-width: $desktop_switch)
  .taxi-control
    z-index: 140
    opacity: 0
    top: 54px
    left: 170px
    width: 320px
    bottom: initial
    background-color: #F4D80F
    border-radius: 10px
    border: 2px solid rgba(255,255,255,1)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
    &.show
      opacity: 1
      pointer-events: auto
      transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
      //transform: translateY(0) scale(1)
      // width: initial
      position: relative
      flex-grow: 1
    .head
      display: flex
      flex-direction: row
      .title
        flex: 1
      .close
        flex: none
    .body
      position: relative
      top: 0
      flex: 1
      display: flex
      color: rgba(0, 0, 0, .87)
      line-height: 1.2em
      background-color: transparent
      .info
        font-size: .8em
      
    .foot
      background-color: transparent
      .button
        color: rgba(0,0,0,.87)
        flex: none
        margin: 0
        padding: 0
        height: 32px
        padding: 4px 12px
        background-color: white
        background-size: 32px 32px
        border-radius: 20px
        &.reset
          // border: 2px solid rgba(0,0,0,.87)
          // background-position: -2px center
          // background-image: url('/theme/fancy/icon/taxi/reset.svg')
          background-color: white
          &:hover
            // background-image: url('/theme/fancy/icon/taxi/reset_o.svg')
        &.random
          //width: 92px
          margin-left: 10px
          // border: 2px solid rgba(0,0,0,.87)
          // background-image: url('/theme/fancy/icon/taxi/play.svg')
          &:hover
            // background-image: url('/theme/fancy/icon/taxi/play_o.svg')
        &.start
          //width: 92px
          background-position: 58px center
          // border: 2px solid rgba(0,0,0,.87)
          // background-image: url('/theme/fancy/icon/taxi/play.svg')
          &:hover
            // background-image: url('/theme/fancy/icon/taxi/play_o.svg')
        
      .divider
        height: 32px
        overflow: hidden
        color: #F4D80F


  .dark-mode
    .taxi-control
      background-color: #F4D80F
      .body
        background-color: transparent
        color: rgba(0,0,0,.87)
        .button.close
          background-image: url('/theme/common/icon/close.svg')
      .foot
        background-color: transparent
        // background-color: rgba(0,0,0,.5)
        color: rgba(0,0,0,.87)
        
        .reset
          color: rgba(0,0,0,.87)
        &.divider
          display: none
