.info.profile
  height: 80px
  position: relative
  display: flex
  flex-direction: row
  // background-color: #22598a
  >.image
    flex: none
    overflow: hidden
    display: inline-block
    width: 64px
    height: 64px
    background-color: rgba(0,0,0,.1)
    margin: 8px 16px 8px 20px
    background-size: cover
    border-radius: 50%
    border: 2px solid white

  .info
    padding: 8px 16px
    flex: 1
    opacity: 1
    width: 100%
    background-color: transparent
    position: relative
    overflow: hidden
    top: 0
    right: 0
    left: 0
    padding: 8px
    .name
      font-size: 1em
      line-height: 1.4em
      //color: $default-color-text
    .country
      flex: 1
      opacity: .7
      font-size: .9em
      line-height: 1.2em
    .ranking
      display: inline-block
      font-size: .9em
      padding: 2px 8px
      margin: 4px 0
      white-space: no-wrap
      // color: $primary-color
      background-color: rgba(0,0,0,.05)
      border-radius: 10px
      .ranking-score
        display: inline-block
        font-size: .8em
      .ranking-title
        display: inline-block
        font-size: .8em
        text-transform: uppercase