
.list.follow
  .body
    -webkit-overflow-scrolling: touch
  .item
    flex: none
    position: relative
    display: flex
    flex-direction: row
    padding: 8px 8px 8px 8px
    border-bottom: 1px solid rgba(255,255,255,.2)
    // &:hover
    //   background-color: rgba(255,255,255,.2)
    .image
      cursor: pointer
      width: 64px
      height: 64px
      margin: 0 16px 0 0
      border-radius: 50%
      border: 1px solid white
    .info
      flex: 1
      display: block
      flex-direction: column
      white-space: pre-wrap
      .pseudonym
        font-size: 1em
        line-height: 1.4em
        //color: $default-color-text
      .country
        flex: 1
        opacity: .7
        font-size: .9em
        line-height: 1.3em
      .ranking
        display: inline-block
        font-size: .6em
        line-height: .8em
        padding: 3px 8px
        margin: 5px 0
        white-space: no-wrap
        // color: $primary-color
        background-color: #30669A
        border-radius: 10px
        display: inline-block
        text-transform: uppercase
 
    >.action
      flex: none
      padding: 28px 8px 0 8px
      >.follow
        cursor: pointer
        display: block
        width: 32px
        height: 32px
        margin: 0
        padding: 0
        text-align: center
        border-radius: 50%
        border: none
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        background-image: url('/theme/minimal/icon/social/follow.svg')
        // &:hover
        //   background-color: rgba(255,255,255,.4)
        &.followed
          background-image: url('/theme/minimal/icon/social/followed.svg')
           


@media only screen and (min-width: $desktop_switch)
  .list.follow
    .item
      .image
        margin-left: 12px