.liked.list
  z-index: 150
  position: absolute
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  overflow: hidden
  display: none
  flex-direction: column
  flex: none
  width: 100%
  background-color: #27669e
  &.show
    display: flex

  .list.tracks
    flex: 1
    position: relative
    h3
      display: none
  .foot
    display: none

body.trackdetail
  .liked.list
    bottom: $appbar_height + $player_height + 44px

body.dark-mode
  .list.liked
    background-color: darken(#27669e, 30%)
    .button.close
      background-image: url('/theme/common/icon/dark/close.svg')


@media only screen and (min-width: $desktop_switch)
  .list.liked
    position: absolute
    z-index: 50
    width: 400px
    top: 56px
    bottom: 100px
    left: initial
    right: 0
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
 
    &.show
      transform: translateY(0px)
      //transition: .225s opacity cubic-bezier(.4,0,.2,1)
    &.up
      bottom: 400px

    .head
      padding: 4px 8px 4px 20px
      height: 48px

    .body
      .item
        padding-right: 8px
        padding-left: 20px
        >.info
          >.title
            width: 242px
          >.artist
            width: 242px
        &:last-child
          border-bottom: none
    .foot
      display: block
      height: 44px
