.list
  display: flex
  flex-direction: column
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: hidden
  -webkit-touch-callout: none
  -webkit-user-select: none
  .head
    font-size: 0.8em
    font-weight: 400
    text-transform: uppercase
    flex: none
    display: flex
    flex-direction: row
    height: 48px
    padding: 0
    margin: 0
    .title
      font-size: 1.2em
      color: white
      text-transform: uppercase
      padding: 16px
    //box-shadow: none
    .divider
      flex: 1
    .button.close
      flex: none
      z-index: 2
      // right: 14px
      // top: 8px
      width: 54px
      height: 48px
      margin: 0
      background-image: url('/theme/common/icon/dark/close.svg')
      background-position: center
      background-repeat: no-repeat
    .button.shuffle
      flex: none
      z-index: 2
      // right: 14px
      // top: 8px
      width: 52px
      height: 48px
      margin: 0
      background-image: url('/theme/common/icon/dark/shuffle.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 40%
      opacity: .3
      &.selected
        opacity: 1

    .button.search
      flex: none
      z-index: 2
      // right: 14px
      // top: 8px
      width: 52px
      height: 48px
      margin: 0
      background-image: url('/theme/common/icon/dark/search.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 42%
      background-color: transparent
      opacity: .3
      &.selected
        opacity: 1
        background-color: transparent

@media only screen and (min-width: $desktop_switch)
  .list
    .head
      height: 40px
      padding: 8px 8px 8px 20px
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
      .title
        padding: 6px 0
        line-height: 1.4em
      .button.close
        flex: none
        z-index: 2
        // right: 14px
        // top: 8px
        width: 32px
        min-width: 32px
        height: 32px
        margin: 0 4px
        background-image: url('/theme/common/icon/dark/close.svg')
        background-position: center
        background-repeat: no-repeat

      .button.shuffle
        flex: none
        z-index: 2
        // right: 14px
        // top: 8px
        width: 32px
        min-width: 32px
        height: 32px
        margin: 0 4px
        background-image: url('/theme/common/icon/dark/shuffle.svg')
        background-position: center
        background-repeat: no-repeat
        background-size: 60%
        opacity: .3
        &.selected
          opacity: 1

      .button.search
        flex: none
        z-index: 2
        // right: 14px
        // top: 8px
        width: 32px
        min-width: 32px
        height: 32px
        margin: 4px
        background-image: url('/theme/common/icon/dark/search.svg')
        background-position: center
        background-repeat: no-repeat
        background-size: 65%
        opacity: .3
        background-color: transparent
        &.selected
          opacity: 1
          background-color: transparent
