
.list.notification
  z-index: 230
  display: none
  left: 0
  right: 0
  top: 56px
  bottom: $player_height + $appbar_height
  background-color: #FFFFFF
  &.show
    display: flex
  
  >.head
    display: flex
    flex-direction: row
    border-bottom: 1px solid rgba(0,0,0,.1)
    .title
      flex: 1
      font-size: 1.2em
      line-height: 1.3em
      color: rgba(0,0,0,.36)
    .button.close
      opacity: .3
      background-image: url('/theme/common/icon/close.svg')
      &:active
        opacity: .7

  
  >.body
    overflow-x: hidden
    .item
      color: rgba(0,0,0,.86)
      display: flex
      flex-direction: row
      position: relative
      padding: 8px 16px
      border-bottom: 1px solid rgba(0,0,0,.1)
      overflow: hidden
      .image
        cursor: pointer
        width: 48px
        height: 48px
      .imageFollow
        cursor: pointer
        border-radius: 50%
        border: 1px solid rgba(0,0,0,0.3)
        width: 48px
        height: 48px
      .content

        .date
          opacity: .7
          display: inline-block
          flex: 1
          font-size: .7em
          line-height: 1.5em
          display: block
          padding: 0
        .info 
          display: block
          white-space: nowrap
          height: 32px
          overflow: hidden
          line-height: 1.3em
          font-size: .8em
          .text
            opacity: 0.7
            white-space: pre-wrap
          .pseudonym, .track
            cursor: pointer
            white-space: pre-wrap

.dark-mode
  .list.notification
    color: rgba(255,255,255,.87)
    background-color: rgba(0,0,0,.95)
    >.head
      .title
        color: rgba(255,255,255,1)
      .button.close
        opacity: 8
        background-image: url('/theme/common/icon/dark/close.svg')
    >.body
      .item
        color: rgba(255,255,255,.87)

@media only screen and (min-width: $desktop_switch)
  .list.notification
    z-index: 50
    width: 360px
    top: 80px
    left: initial
    right: 20px
    bottom: 210px
    background-color: rgba(255,255,255,.85)
    border-radius: 12px
    border: 1px solid rgba(255,255,255,1)
    border-radius: 8px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    transition: .225s bottom cubic-bezier(.4,0,.2,1)

    &.up
      bottom: 470px
      transition: .195s bottom cubic-bezier(.4,0,.2,1)

  .dark-mode
    .list.notification
      border: 1px solid rgba(0,0,0,1)
      >.body
        .item
          color: rgba(255,255,255,.87)

