
.connect
  //border-top: 1px solid rgba(0,0,0,.1)
  margin-top: 16px
  // text-align: center
  margin-right: 32px
  .facebook
    overflow: hidden
    display: inline-block
    color: white
    font-size: 1em
    text-transform: uppercase
    text-decoration: none
    padding: 10px 12px 10px 40px
    background-color: #415A94
    background-repeat: no-repeat
    background-size: 12px
    background-position: 12px 8px
    background-image: url('/theme/common/icon/social/fblogo.svg')
    border: none
    border-radius: 2px
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
