
.code.form
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: initial
  display: none
  width: 100%
  background-color: $primary-color
  &.show
    display: block
  form
    .head
      display: flex
      flex-direction: column
      .button
        position: absolute
        right: 8px
        top: 8px
        background-image: url('/theme/common/icon/dark/close.svg')
    .body
      .field
        text-align: center
        .codefield
          text-align: left
          display: inline-block
          input
            font-size: 1.3em
            font-weight: 600
            text-align: center
      .group.support
        font-size: .9em
        padding-right: 20px
        a
          text-decoration: none
          color: rgba(0,0,0,.5)


@media only screen and (min-width: $desktop_switch)
  .code.form
    position: absolute
    top: 0
    right: 0
    left: initial
    width: 380px
    