.login.form
  pointer-events: none
  z-index: 221
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  opacity: 0
  background-color: rgba(0,0,0,.7)
  transition: .225s opacity cubic-bezier(.4,0,.2,1)
  &.show
    pointer-events: auto
    opacity: 1
    
    transition: .195s opacity cubic-bezier(.4,0,.2,1)
    >form
      box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
      transform: translateX(0px)
      transition: .225s transform cubic-bezier(.4,0,.2,1)

  >form
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    background-color: $primary-color
    overflow: visible
    width: 100%
    transform: translateX(100%)
    transition: .195s transform cubic-bezier(.4,0,.2,1)
    .head
      .button.close
        background-image: url(/theme/common/icon/dark/close.svg)
    >.body
      flex: none
      .message
        color: rgb(214, 57, 44)
        font-size: .8em
        height: 20px
        padding: 0 8px
      .material-error
        color: rgb(214, 57, 44)
        font-size: .8em
        height: 20px
        padding: 0 8px 8px
      >.group.register
          display: flex
          font-size: .9em
          
          .text
            flex: 1
          .button
            flex: none
            margin-right: 22px

      .signup
        margin-top: 16px

@media only screen and (min-width: 640px)
  .login.form
    >form
      width: 380px

   