.register.form
  display: none
  z-index: 221
  position: absolute
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.7)
  &.show
    display: block
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    form
      transform: translateX(0)
      opacity: 1
  form
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    background-color: $primary-color
    overflow: visible
    //justify-content: start
    width: 100%
    transform: translateX(100%)
    opacity: 0
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    .head
      .button.close
        background-image: url(/theme/common/icon/dark/close.svg)
    .body
      flex: 1
      .error
        color: #D74155
        font-size: .8em
      .group
        &.emphase
          padding-top: 0
        .title
          font-size: 1em
          font-weight: 400
          // text-transform: uppercase
          display: block
          padding: 8px 0 
          margin-right: 8px
          margin-bottom: 8px
        .information
          font-size: 0.8em
          padding: 8px 0
      
      .image
        position: relative
        overflow: hidden
        overflow: hidden
        display: block
        width: 80px
        height: 80px
        background-color: rgba(0,0,0,.2)
        margin: 16px 8px 16px 0
        background-size: cover
        background-position: center
        border-radius: 50%
        input[type=file]
          cursor: pointer
          font-size: 100px
          position: absolute
          left: 0
          top: 0
          bottom: 0
          right: 0
          width: 80px
          height: 80px
          opacity: 0
        // .material-text
        //   pointer-events: none
        //   text-align: center
        //   font-size: 1em
        //   display: inline-block
        //   padding: 12px 4px
        //   margin-top: 8px
        //   color: rgba(0,0,0,0.2)
        //   &:hover
        //     color: rgba(0,0,0,0.8)

      .component-left
        width: 132px
        margin-right: 16px
      .component-right
        background-color: transparent

    .foot
      .group.legal
        flex: 1
        font-size: .8em
        display: block
        >*
          display: inline-block
          padding-right: 6px
          line-height: 1.5em
          color: rgba(255,255,255,.7)
        .privacy
          cursor: pointer
          color: rgba(0,0,0,.3)

        .terms
          cursor: pointer
          color: rgba(0,0,0,.3)




    .information
      display: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #3FA8D7
      padding: 16px 22px 16px 32px
      &.show
        display: block
      .title
          font-size: 1.2em
          margin-bottom: 8px

      .message
        font-size: 1em
        margin-bottom: 32px

      .textfield
        input
          color: rgba(0,0,0,.87)


      .toolbar
        margin-top: 16px


@media only screen and (min-width: 640px)
  .register.form
    z-index: 201
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    >form
      position: absolute
      overflow: scroll
      left: initial
      top: 0
      right: 0
      width: 380px
      border-radius: 0
      .body
        flex: none

