.reset.form
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: flex
  width: 100%
  flex-direction: column
  flex: none
  z-index: 32
  width: 380px
  background-color: $primary-color
  //transform: translateY(100%)
  display: none
  //opacity: 0
  //transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  &.show
    display: block
    //opacity: 1
    //box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    //transform: translateY(0px)
    //transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)

  >form
    >.body
      flex: none
      .message
        color: rgb(214, 57, 44)
        font-size: .8em
        height: 20px
        padding: 0 8px


      .signup
        margin-top: 16px

@media only screen and (min-width: $desktop_switch)
  .reset.form
    position: absolute
    top: 0
    right: 0
    left: initial
    