.form.settings
  form
    .body
      .group
        display: flex
        //flex-direction: column
        .text
          font-size: .8em
          margin-left: 16px
        .select
          flex: 1
          display: flex
          flex-direction: row
          .label
            flex: 1
            cursor: default
            font-size: 1rem
            line-height: 1.2rem
            padding: 8px 0
            margin: 0px 2px 0px 0
            overflow: hidden
          .input
            flex: none
            width: initial
            min-width: 160px
        .switch
          flex: 1
          display: flex
          .label

              
    .foot
      flex: none
      
      display: flex
      flex-direction: row
      padding: 8px
      //border-bottom: 1px solid rgba(255,255,255,.3)
      .divider
        flex: 1



// by role

.form.settings
  form
    .body
      .group
        display: none
        .switch
          display: none
        .select
          display: none


// settings by role
body.registered-role
  .form.settings
    .body
      .group.application
        display: block
        .switch.startscreen
          display: flex
      .group.interface
        display: block
        .switch.tooltip
          display: flex

body.premium-role, body.digger-role, body.admin-role, body.press-role, body.friends-role
  .form.settings
    .body
      .group
        &.application
          display: block
          .switch.startscreen
            display: flex
          .switch.context
            display: flex
      
      .group.interface
        display: block
        .switch.darkmode
          display: flex
        .switch.tooltip
          display: flex
      .group.player
        display: block
        

body.admin-role
  .form.settings
    .body
      .group
        display: block
        .select
          display: flex
        .switch
          display: flex
  
