.button
  cursor: pointer
  user-select: none
  font-size: 0.875rem
  line-height: 1.5rem
  text-transform: uppercase
  flex: none
  display: flex
  -webkit-font-smoothing: antialiased
  white-space: nowrap
  position: relative
  vertical-align: middle
  height: 36px
  padding: 6px 16px
  margin: 0 8px
  border: none
  border-radius: $button_radius
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  transition: transform .2s 
  -webkit-touch-callout: none
  -webkit-user-select: none
  > *
    pointer-events: none
  &:active
    background-color: none

  &:disabled
    opacity: .5
    background-color: transparent
    &:hover
      background-color: transparent

  &.pushed
    transform: scale(.9)


  &[type="submit"]
    font-weight: 600
    padding: 6px 20px

  // styles
  &.style-raised
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

  &.style-outline
    border: 1px solid #E1E1E1
    padding: 5px 16px

  &.style-action
    width: 36px
    height: 36px
    border-radius: 50%
    padding: 6px
    background-position: center

    .icon
      padding: 0
      height: 24px
      width: 24px
      margin-left: 0

  &.style-link

    display: inline
    height: initial
    width: initial
    border: none
    padding: inherit
    margin: inherit
    text-transform: none
    &:hover
      background-color: transparent
    &:active
      background-color: transparent
    &:focus
      background-color: transparent
      &:hover
        background-color: transparent


  &.bold
    font-weight: 600

  &.normal-case
    text-transform: none

  &.color-secondary
    color: $secondary-color-text
    background-color: darken($secondary-color, 10%)
    &:focus
      background-color: darken($secondary-color, 10%)
    &:disabled
      background-color: darken($secondary-color, 10%)
      &:hover
        background-color: darken($secondary-color, 10%)

  &.color-primary
    color: $primary-color-text
    background-color: darken($primary-color, 10%)
    &:focus
      background-color: darken($primary-color, 10%)
    &:disabled
      background-color: darken($primary-color, 10%)
      &:hover
        background-color: darken($primary-color, 10%)

  &.close
    flex: none
    z-index: 2
    // right: 14px
    // top: 8px
    width: 48px
    height: 48px
    margin: 0
    border-radius: 50%
    background-image: url('/theme/common/icon/close.svg')
    background-position: center
    background-repeat: no-repeat
    transition: transform .1s, background-color .2s
    &.pushed
      transform: scale(.8)
      background-color: rgba(255,255,255,0.35)

@media only screen and (min-width: $desktop_switch)
  .button
    &:hover
      background-color: rgba(0, 0, 0, .1)
      &:focus
        background-color: rgba(0, 0, 0, .1)

    &:focus
      background-color: rgba(255,255,255,.1)

    &.style-action
      &:hover
        background-color: rgba(255,255,255,.2)

    &.color-secondary
      &:hover
        background-color: darken($secondary-color, 5%)
        &:focus
          background-color: darken($secondary-color, 5%)
      &:focus
        background-color: darken($secondary-color, 10%)
      &:disabled
        background-color: darken($secondary-color, 10%)
        &:hover
          background-color: darken($secondary-color, 10%)

    &.color-primary
      color: $primary-color-text
      background-color: darken($primary-color, 10%)
      &:hover
        background-color: darken($primary-color, 5%)
        &:focus
          background-color: darken($primary-color, 5%)
      &:focus
        background-color: darken($primary-color, 10%)
      &:disabled
        background-color: darken($primary-color, 10%)
        &:hover
          background-color: darken($primary-color, 10%)

    // predefined
    &.close
      flex: none
      z-index: 2
      // right: 14px
      // top: 8px
      width: 32px
      min-width: 32px
      height: 32px
      margin: 4px
      border-radius: 50%
      background-image: url('/theme/common/icon/close.svg')
      background-position: center
      background-repeat: no-repeat
