
@keyframes spin
  100% 
    transform: rotate(360deg)

.library
  z-index: 200
  position: fixed
  bottom: 0
  right: 0
  flex: 1
  width: 50%
  height: $appbar_height
  display: flex
  text-align: center
  white-space: nowrap
  background-color: #144C69
  >.button.style-action
    flex: 1
    display: inline-block
    height: $appbar_height
    background-position: center 10px
    background-repeat: no-repeat
    padding: 2px
    border-radius: 0
    margin: 0
    &.selected
      background-color: rgba(0,0,0,.2)
    &.posttrack
      display: none
    &.liked
      background-position: center 12px
      background-size: 22px
      background-image: url('/theme/minimal/icon/library/mobile/likes.svg')
    &.tracks
      background-position: center 10px
      background-size: 24px
      background-image: url('/theme/minimal/icon/library/mobile/tracks.svg')
    &.people
      background-position: center 10px
      background-size: 24px
      background-image: url('/theme/minimal/icon/library/mobile/people.svg')
    label
      font-size: .7em
      text-transform: initial
      display: block
      padding-top: 32px
      


.dark-mode
  .library
    background-color: black
    .button.style-action
      &.selected
        background-color: rgba(255,255,255,.1)

@media only screen and (min-width: $desktop_switch)
  .library
    position: relative
    width: initial
    height: initial
    display: block
    flex: none
    padding-left: 32px
    margin-left: 42px
    padding-right: 64px
    // width: 280px
    display: flex
    background-color: transparent
    .button
      &.posttrack
        display: none
    .button.style-action
      display: inline-block
      height: 44px
      width: 44px
      background-size: 105%
      background-position: center
      background-repeat: no-repeat
      border-radius: 50%
      margin: 4px
      border: 1px solid transparent
      background-color: rgba(255,255,255,.1)
      &:hover
        opacity: .8
      &.selected
        opacity: 1
        border: 1px solid rgba(255,255,255,.5)
        &:hover
          opacity: 1
          border: 1px solid rgba(255,255,255,.5)
      

      &.liked
        background-size: 65%
        background-position: center
        background-image: url('/theme/minimal/icon/library/liked.svg')
        &:hover
          background-color: #EA9F9D
        &.selected
          background-color: #EA9F9D
      &.tracks
        background-size: 65%
        background-position: center
        background-image: url('/theme/minimal/icon/library/mytracks.svg')
        &.selected, &:hover
          background-color: #22598a
      &.people
        background-size: 70%
        background-position: center
        background-image: url('/theme/minimal/icon/library/people.svg')
        &.selected, &:hover
          background-color: #7FB456
      &.posttrack
        display: inline-block
        background-color: transparent
        background-image: url('/theme/common/icon/posttrack.svg')
        &:hover
          animation: spin 1s linear infinite
          background-image: url('/theme/common/icon/posttrack.svg')
        &.selected
          background-image: url('/theme/common/icon/posttrack.svg')
      .label
        display: none

  .dark-mode
    .library
      background-color: transparent