
// mobile
.mode
  z-index: 200px
  position: fixed
  bottom: 0
  left: 0
  display: inline-block
  padding: 0
  margin: 0
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  width: 50%
  // text-align: center 
  align-items: center
  justify-content: center
  background-color: #144C69
  -webkit-touch-callout: none
  -webkit-user-select: none
  .button.style-action
    display: inline-block
    height: $appbar_height
    flex: 1
    background-size: 34px
    background-position: center 10px
    background-repeat: no-repeat
    margin: 0
    border-radius: 0
    padding: 2px
    &:hover
      background-color: rgba(0,0,0,.1)
    &:focus
      background-color: rgba(0,0,0,.1)
    &.on
      background-color: rgba(0,0,0,.2)
    &.explore
      background-size: 24px
      background-position: center 10px
      background-image: url('/theme/minimal/icon/mode/mobile/home.svg')
    &.taxi
      background-position: center 10px
      background-size: 24px
      background-image: url('/theme/minimal/icon/mode/mobile/taxi.svg')
    &.islands
      background-position: center 10px
      background-size: 24px
      background-image: url('/theme/minimal/icon/mode/mobile/islands.svg')
    &.playlist
      display: none

    label
      text-transform: initial
      font-size: .7em
      display: block
      padding-top: 32px

.mode-indicator
  display: none
  position: fixed
  z-index: 90
  right: 10 px
  top: 76px
  background-color: rgba(255,255,255,.97)
  max-width: 160px
  text-align: center
  padding: 5px 6px 4px
  transform: translateY(-10px)
  color: rgba(255,255,255,.87)
  //border: 1px solid rgba(255,255,255,.87)
  background-color: #27669e
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  text-transform: uppercase
  font-size: .6em


.dark-mode
  .mode
    background-color: black
    .button.style-action
      &.on
        background-color: rgba(255,255,255,.1)
  .mode-indicator
    
    // &.random
    //   background-color: #292A2D
    // &.taxi
    //   color: rgba(255,255,255,1)
    //   background-color: #292A2D
    // &.islands
    //   color: rgba(255,255,255,.87)
    //   background-color: #292A2D
    // &.explore
    //   color: rgba(255,255,255,.87)
    //   background-color: #292A2D




// desktop
@media only screen and (min-width: $desktop_switch)
  .mode
    position: relative
    width: 168px
    display: block
    background-color: transparent
    .button.style-action
      flex: none
      display: inline-block
      height: 44px
      width: 44px
      background-size: 105%
      background-position: center
      background-repeat: no-repeat
      background-color: rgba(255,255,255, .1)
      border-radius: 50%
      margin: 4px
      border: 1px solid transparent
      margin: 5px
      
      &:hover
        background-color: rgba(255,255,255, .2)

      &.on
        border: 1px solid rgba(255,255,255,.8)

      &.explore
        display: none
        width: 2px
        visibility: hidden

      &.playlist
        display: none

      &.random
        display: inline-block
        background-size: 80%
        background-image: url('/theme/minimal/icon/mode/random.svg')
        background-color: rgba(255,255,255, .1)
        &:hover
          background-color: rgba(#011216, .5)
        &.on
          background-color: #011216
          background-image: url('/theme/minimal/icon/mode/random-on.svg')

      &.taxi
        background-position: center
        background-size: 60%

        background-image: url('/theme/minimal/icon/mode/taxi.svg')
        background-color: rgba(255,255,255, .1)
        &:hover
          background-color: rgba(#3FA8D7, .5)
        &.on, &.preselect
          background-color: #3FA8D7
       
      &.islands
        background-size: 105%
        background-position: center
        background-image: url('/theme/minimal/icon/mode/islands.svg')
        background-color: rgba(255,255,255, .1)
        &:hover, &.on, &.preselect
          background-image: url('/theme/minimal/icon/mode/islands_on.svg')

      label
        display: none

  .mode-indicator
    position: fixed
    z-index: 90
    top: 72px
    background-color: rgba(255,255,255,.97)
    max-width: 160px
    text-align: center
    padding: 5px 6px 4px
    transform: translateY(-10px)
    color: rgba(255,255,255,.87)
    //border: 1px solid rgba(255,255,255,.87)
    background-color: #27669e
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    text-transform: uppercase
    font-size: .6em
    &.show
      display: block
    // &.explore
    //   color: darken($secondary-color, 45%)
    //   color: rgba(0,0,0,.87)
    //   background-color: $secondary-color
    //   // border-color: darken($secondary-color, 45%)
    // &.random
    //   background-color: #034C70
    // &.taxi
    //   color: rgba(0,0,0,.87)
    //   background-color: #EADA68
    //   // border-color: darken(#EADA68, 35%)
    // &.islands
    //   color: rgba(0,0,0,.87)
    //   background-color: #FBB03B
    //   // border-color: darken(#FBB03B, 35%)

    &.playlist
      display: none


  .dark-mode
    .mode
      background-color: transparent

