.mood.select
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  position: relative
  margin-right: 16px
  padding-top: 8px
  margin-bottom: 8px
  vertical-align: top
  label
    flex: 1
  ul
    // flex: none
    // list-style: none
    // padding: 0
    // margin: 12px 0 8px 8px
    // border-radius: 6px
    user-select: auto
    color: rgba(0, 0, 0, 0.87)
    float: none
    width: 100%
    border: none
    margin: 0
    padding: 12px 8px 8px 12px
    background-color: rgba(255, 255, 255, 0.47)
    border-radius: 3px
    transition: 0.195s background-color
    text-align: right
    li
      cursor: pointer
      font-size: .9em
      padding: 3px 5px
      display: inline-block
      background-color: rgba(0,0,0,.1)
      &:first-child
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
      &:last-child
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
      &.selected
        color: rgba(255,255,255, 1)
        background-color: #4891F4
