.rgpd
  color: rgba(0,0,0,.86)
  font-size: .9em
  z-index: 300
  position: fixed
  top: 64px
  right: 20px
  display: block
  width: 336px
  background: rgba(white, .9)
  border-radius: 8px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  transform: translateX(3000px)
  transition: 195ms transform cubic-bezier(.4,0,.2,1)
  &.show
    transform: translateX(0)
    transition: 225ms transform cubic-bezier(.4,0,.2,1)
  .info
    line-height: 1.3em
    padding: 16px 20px 8px
  .toolbar
    display: flex
    padding: 0 8px 16px
    .divider
      flex: 1
    .button
      flex: none
    .button.more
      color: #669df6

