.zoom
  display: flex
  flex-direction: column
  position: absolute
  z-index: 1
  width: 56px
  height: 112px
  left: 0
  top: 100px
  margin: 0
  -webkit-touch-callout: none
  -webkit-user-select: none
  .button
    flex: none
    cursor: pointer
    width: 56px
    height: 56px
    padding: 0
    margin: 0
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    border-radius: 50%

    &.zoom-in
      order: 1
      background-image: url('/theme/minimal/icon/zoom-in.svg')
      &:active
        background-image: url('/theme/minimal/icon/zoom-in_a.svg')

    &.zoom-out
      order: 2
      background-image: url('/theme/minimal/icon/zoom-out.svg')
      &:active
        background-image: url('/theme/minimal/icon/zoom-out_a.svg')



@media only screen and (min-width: $desktop_switch)
  .zoom
    z-index: 7
    display: flex
    flex-direction: row
    position: fixed
    width: 52px
    height: 52px
    left: 32px 
    top: 64px
    bottom: initial
    margin: 0
    color: rgba(0, 0, 0, 0.47)
    white-space: nowrap
    > .button
      &.zoom-in
        order: 2
        width: 48px
        height: 48px
        margin: 0
        &:hover
          background-image: url('/theme/minimal/icon/zoom-in_o.svg')
      &.zoom-out
        order: 1
        width: 48px
        height: 48px
        margin: 0
        &:hover
          background-image: url('/theme/minimal/icon/zoom-out_o.svg')