.dialog
  .surface
    color: rgba(0,0,0,.87)
    border-radius: 8px
    max-width: 320px
    .head
      padding: 16px
      padding-bottom: 8px
      display: flex
      flex-direction: row
      .title
        font-size: 1.2em
        padding-right: 40px
        flex: 1
      .close
        position: absolute
        top: 8px
        right: 8px
        height: 32px
        width: 32px
        flex: none
    .body
      padding: 0 16px
    .foot
      display: flex
      flex-direction: row
      padding: 16px
      .divider
        flex: 1
      .button
        font-weight: 500
        text-align: center
        display: block
        margin: 0
        // border-radius: 8px
        &.ok
          padding: 6px 16px 
        &.cancel
          color: rgba(0,0,0,.67)
          padding: 6px 16px 