.share.dialog
  z-index: 151
  .surface
    color: white
    width: 90%
    background-color: #0B89B5
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    .head
      position: relative
      display: flex
      flex-direction: row
      padding: 16px 16px 0 16px
      .icon
        position: absolute
        top: -32px
        left: 220px
        display: none
        width: 48px
        height: 48px
        background-size: 100%
        background-image: url('/theme/fancy/icon/share/icon.svg')
        background-repeat: no-repeat
      .title
        text-transform: uppercase
        font-size: 1.1em
        display: block
        margin-top: 0
        flex: 1
      .close
        background-image: url(/theme/common/icon/dark/close.svg)
    .link
      margin: 4px 16px
      border: none
      background-color: #0B89B5
      &:disabled
        color: white
    .body
      user-select: none
      display: flex
      flex-direction: row
      flex: none
      height: 96px
      z-index: 2
      padding: 16px
      .image
        flex: none
        display: none
        width: 80px
        height: 80px
        margin: 0
        background-color: rgba(0, 0, 0, .2)
        background-size: cover
        background-repeat: no-repeat
        background-position: center
      .info
        flex: 1
        font-size: 1em
        .title
          display: block
          padding: 2px 0px
          line-height: 1em
          //white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
        .artist   
          font-size: .9em
          font-weight: 500
          display: block
          padding: 2px 0
          margin-bottom: 4px
          overflow: hidden
          text-overflow: ellipsis
        .group
          opacity: .7
          display: flex
          font-size: .9em
          .country, .year
            flex: none
            padding: 2px 2px 2px 0
          .year
            padding: 2px

    .foot
      display: flex
      flex-direction: row
      padding: 16px
      padding-left: 0
      padding-top: 0
      .button
        margin: 0 0 0 16px
        border-radius: 8px
        &.cancel
          display: none
          margin: 0
      a
        cursor: pointer
        user-select: none
        font-size: 0.875rem
        line-height: 1.5rem
        text-transform: uppercase
        color: white
        text-decoration: none
        text-transform: uppercase
        height: 36px
        padding: 6px 12px
        margin: 0 0 0 8px
        background-position: 4px 4px
        background-size: 26px 26px
        border-radius: 8px
        &.facebook
          padding-left: 40px
          background-color: #3B5998
          background-image: url('/theme/fancy/icon/share/facebook.svg')
          background-repeat: no-repeat
        &.twitter
          padding-left: 40px
          background-color: #1DA1F2
          background-image: url('/theme/fancy/icon/share/twitter.svg')
          background-repeat: no-repeat
      .divider
        flex: 1


@media only screen and (min-width: $desktop_switch)
  .share.dialog
    z-index: 151
    .surface
      color: white
      width: 500px
      max-width: 500px
      background-color: #0B89B5
      border: 10px solid #034C70
      border-radius: 20px
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
      .head
        position: relative
        display: flex
        flex-direction: row
        padding: 16px 16px 0 16px
        .icon
          position: absolute
          top: -32px
          left: 220px
          display: block
          width: 48px
          height: 48px
          background-size: 100%
          background-image: url('/theme/fancy/icon/share/icon.svg')
          background-repeat: no-repeat
        .title
          text-transform: uppercase
          font-size: 1.5em
          display: block
          margin-top: 4px
          flex: 1

      .link
        height: 32px
        margin: 16px
        border: none
        background-color: #0B89B5

      .body
        user-select: none
        display: flex
        flex-direction: row
        flex: none
        height: 96px
        z-index: 2
        padding: 16px
        .image
          flex: none
          display: block
          width: 80px
          height: 80px
          margin: 0
          background-color: rgba(0, 0, 0, .2)
          background-size: cover
          background-repeat: no-repeat
          background-position: center
      
        .info
          flex: 1
          font-size: 1.3em
          .title
            display: block
            padding: 0px 16px
            line-height: 1.3em
            //white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
          .artist   
            font-size: .9em
            font-weight: 500
            display: block
            padding: 2px 16px
            margin-bottom: 4px
            overflow: hidden
            text-overflow: ellipsis
          .group
            opacity: .7
            display: flex
            font-size: .9em
            .country, .year
              flex: none
              padding: 2px 16px
            .year
              padding: 2px

      .foot
        display: flex
        flex-direction: row
        padding: 16px
        padding-top: 0
        .button
          margin: 0 0 0 16px
          border-radius: 8px
          &.cancel
            margin: 0
        a
          cursor: pointer
          user-select: none
          font-size: 0.875rem
          line-height: 1.5rem
          text-transform: uppercase
          color: white
          text-decoration: none
          text-transform: uppercase
          height: 36px
          padding: 6px 12px
          margin: 0 0 0 16px
          background-position: 4px 4px
          background-size: 26px 26px
          border-radius: 8px
          &.facebook
            padding-left: 40px
            background-color: #3B5998
            background-image: url('/theme/fancy/icon/share/facebook.svg')
            background-repeat: no-repeat
          &.twitter
            padding-left: 40px
            background-color: #1DA1F2
            background-image: url('/theme/fancy/icon/share/twitter.svg')
            background-repeat: no-repeat
        .divider
          flex: 1





