.unfollow.dialog, .unlike.dialog
  position: absolute
  display: block
  background-color: transparent
  .surface
    position: absolute
    display: inline-block
    border-radius: 24px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    transition: none
    .foot
      padding: 3px

      .button.close
        opacity: .5
        color: rgba(0,0,0,.7)
        margin: 2px
        width: 32px
        min-width: 32px
        height: 32px
        border-radius: 50%
        &:hover
          opacity: 1
      .button.ok
        margin: 0
        border-radius: 20px

.unlike.dialog
  .surface
    transform: translateX(-4px)

.unfollow.dialog
  .surface
    transform: translateX(-10px) translateY(-5px)