.account.view
  font-family: roboto, Helvetica, Arial, sans-serif
  z-index: 210
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 100%
  display: flex
  flex-direction: column
  flex: none
  background-color: $account-color
  background-color: grey
  transform: translateX(100%)
  -webkit-overflow-scrolling: touch
  > .title
    display: none

  .button.close
    z-index: 2
    position: absolute
    right: 4px
    top: 4px
    margin: 0
    background-image: url('/theme/common/icon/dark/close.svg')

  .button.logout.style-action
    display: none
    position: absolute
    top: 46px
    right: 8px
    width: 40px
    height: 40px
    margin: 0
    background-size: 45%
    background-repeat: no-repeat
    background-position: center
    background-image: url('/theme/common/icon/account/signout.svg')
    label
      display: none

  >.profile
    height: 80px
    position: relative
    display: flex
    flex-direction: row
    // background-color: #22598a
    >.image
      cursor: pointer
      position: relative
      flex: none
      overflow: hidden
      display: inline-block
      width: 64px
      height: 64px
      background-color: rgba(0,0,0,.1)
      margin: 8px 16px 8px 20px
      background-size: cover
      background-position: center
      border-radius: 50%
      border: 1px solid white
      &:hover
        >.camera
          z-index: 3
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          pointer-events: none
          display: block
          width: 62px
          height: 62px
          background-color: rgba(0,0,0,.3)
          background-size: 50%
          background-position: center
          background-repeat: no-repeat
          background-image: url('/theme/common/icon/camera.svg')
      >.upload
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
      
    .info
      padding: 8px 16px
      flex: 1
      opacity: 1
      width: 100%
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 8px
      .name
        font-size: 1em
        line-height: 1.4em
        //color: $default-color-text
      .country
        flex: 1
        opacity: .7
        font-size: .9em
        line-height: 1.2em
      .ranking
        display: inline-block
        font-size: .9em
        padding: 2px 8px
        margin: 4px 0
        white-space: no-wrap
        // color: $primary-color
        background-color: rgba(0,0,0,.05)
        border-radius: 10px
        &.hide
          display: none
        .ranking-score
          display: inline-block
          font-size: .8em
        .ranking-title
          display: inline-block
          font-size: .8em
          text-transform: uppercase

  >.tabview
    >.indicator
      background-color: white
    >.tabs
      >.button
        opacity: .8
        flex: none
        width: 60px
        &.selected
          opacity: 1
        &.user
          background-size: 50%
          background-image: url('/theme/common/icon/user.svg')
          label
            display: none

        &.subscription
          background-size: 40%
          background-image: url('/theme/common/icon/subscription.svg')
          label
            display: none
         
        &.awards
          background-size: 35%
          background-image: url('/theme/common/icon/awards.svg')
          label
            display: none

        &.settings
          background-size: 35%
          background-image: url('/theme/common/icon/dark/settings.svg')
          label
            display: none

       


  .delete.button
    display: block
    text-align: center
    margin: 0
    height: initial
    padding: 12px
    border-radius: 0
    border-top: 1px solid rgba(255,255,255,.1)


  .dialog.delete
    .surface
      .foot
        .divider
          flex: none
          width: 10px
        .cancel
          flex: 1
          background-color: rgba(0,0,0,.04)
        .ok
          flex: 1
          background-color: #D73123



.account-underlay
  opacity: 0
  z-index: 210
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  pointer-events: none
  background-color: rgba(0,0,0,.4)
  transition: 595ms opacity cubic-bezier(.4,0,.2,1)
  will-change: opacity
  &.show
    pointer-events: auto
    opacity: 1
    transition: 425ms opacity cubic-bezier(.4,0,.2,1)

body.dark-mode
  .account.view
    background-color: $background-color-dark
    .button.close
      background-image: url('/theme/common/icon/dark/close.svg')
    .tabview
      background-color: $background-color-dark

@media only screen and (min-width: $desktop_switch)

  .account.view
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.7)
    width: 380px
    .button.close
      z-index: 2
      position: absolute
      right: 8px
      top: 8px
      margin: 4px
      background-image: url('/theme/common/icon/dark/close.svg')

@media only screen and (min-width: 640px)
  .account.view
    width: 380px



