// mobile

.contributor
  user-select: none
  flex: none
  position: relative
  // display: none
  width: 48px
  height: $player_height
  transition: .195s transform cubic-bezier(.4,0,.2,1)     
  box-shadow: none
  >.summary
    flex: none
    position: relative
    display: flex
    flex-direction: row
    // background-color: $contributor-head-color
    width: $player_height
    height: $player_height
    background-color: rgb(63, 168, 215)
    .image
      flex: none
      height: 40px
      width: 40px
      margin: 7px 3px
      border-radius: 50%
      border: 1px solid white
      background-size: cover
      background-color: rgba(0,0,0,.1)

    .group
      padding: 8px 16px
      display: none
      flex: 1
      opacity: 1
      width: 100%
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 8px
      .title
        opacity: .5
        font-size: .6em
        text-transform: uppercase
        height: 12px
      .name
        font-size: .9em
        line-height: 1.3em
        //color: $default-color-text
      .country
        flex: 1
        opacity: .8
        font-size: .8em
        line-height: 1.3em
      .info
        // display: none
        overflow-wrap: break-word
        margin-top: 1px
        height: 20px
        font-size: .7em
        line-height: 1.3em
        opacity: 0.8
        padding-right: 4px
        a
          color: rgba(255,255,255,.7)
      .ranking
        display: inline-block
        display: none
        font-size: .8em
        line-height: .8em
        padding: 1px 8px 2px
        margin: 5px 0
        white-space: no-wrap
        // color: $primary-color
        background-color: #30669A
        border-radius: 10px
        .ranking-score
          display: inline-block
          font-size: .8em
        .ranking-title
          display: inline-block
          font-size: .8em
          text-transform: uppercase
    >.action
      z-index: 2
      display: none
      flex: none
      width: 32px
      height: 32px
      position: absolute
      right: 12px
      top: 88px
      >.follow
        opacity: 1
        right: 16px
        top: 12px
        white-space: normal
        z-index: 1
        display: block
        width: 32px
        height: 32px
        text-align: center
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        background-image: url('/theme/fancy/icon/social/follow.svg')
        transition: .2s opacity ease
        background-image: url('/theme/fancy/icon/social/follow.svg')
        &:hover
          background-image: url('/theme/fancy/icon/social/follow_o.svg')
        &.followed
          background-image: url('/theme/fancy/icon/social/followed.svg')

  

  >.body
    display: none
    flex: 1
    position: relative
    flex-direction: column
    background-color: lighten($surface-color, 5%)
    // border-left: 1px solid rgba(0, 0, 0, .05)
    color: $contributor-body-color-text
    background-color: #0B89B5
    
    >.indicator
      background-color: white
    

    >.tabs
      border-bottom: 1px solid rgba(255, 255, 255, .1)
      height: 48px
      white-space: no-wrap
      display: flex
      flex-direction: row  
      >.divider
        flex: 1 
        display: inline-block
      >.button
        opacity: .8
        flex: none
        display: inline-block
        font-size: .8em
        // flex-direction: column
        // flex: 1
        // white-space: normal
        padding: 0 4px
        min-width: 56px
        height: 48px
        //margin: 0 1px
        border-radius: 0
        text-align: center
        background-repeat: no-repeat
        background-size: 50%
        background-position: center
        .count
          font-weight: 600
        &.selected
          opacity: 1
        &.tracks
          flex: none
          background-image: url('/theme/fancy/icon/profile/uploaded.svg')
          &.selected
            background-image: url('/theme/fancy/icon/profile/uploaded_s.svg')
        &.liked
          flex: none
          background-size: 42%
          background-image: url('/theme/fancy/icon/profile/liked.svg')
          &.selected
            background-image: url(/theme/common/icon/social/like.svg)
        &.awards
          background-size: 35%
          background-image: url('/theme/fancy/icon/profile/awards.svg')
        &.following
          margin: 0 4px
        &.followers
          margin: 0 4px

    >.views
      .indicator
        height: 1px
      .button.shuffle
        opacity: .4
        //display: none
        z-index: 2
        position: absolute
        right: 4px
        top: 0
        width: 37px
        height: 37px
        margin: 0 4px
        background-image: url("/theme/common/icon/dark/shuffle.svg")
        background-size: 50%
        background-position: center
        background-repeat: no-repeat
        &.selected
          opacity: 1
        &:hover
          opacity: 1
          background-color: transparent
        &:focus, &:active
          background-color: transparent
      .tabs
        height: 36px
        justify-content: center
        button
          flex: none
          display: block
          height: 35px
          padding: 0 8px
          margin: 0
          label
            font-size: 0.8em
            font-weight: 400

  // open
  &.show
    z-index: 3
    position: fixed
    top: $topbar_height
    left: 0
    right: 0
    bottom: $appbar_height + $player_height
    display: flex
    width: 100%
    height: initial
    flex-direction: column
    border-radius: 0
    transform: translateY(0)
    transition: .225s transform cubic-bezier(.4,0,.2,1)
    //transition: .225s bottom cubic-bezier(.4,0,.2,1)
    >.button.close
      z-index: 4
      position: absolute
      right: 8px
      top: 8px
      display: block
      width: 36px
      height: 36px
      margin: 0
      background-image: url('/theme/common/icon/closedown.svg')
      background-repeat: no-repeat
      background-position: center
    >.summary
      width: 100%
      height: 80px
      border-left: none
      background-color: #0B89B5
      .image
        margin: 8px
        width: 64px
        height: 64px
      .group
        display: block
      >.action
        display: inline-block
    >.body 
      display: flex

  > .title
    display: none
  .button.close
    display: none
  //.summary


// dark-mode

body.dark-mode
  .contributor
    >.summary
      background-color: $surface-color-dark
    &.show
      background-color: $surface-color-dark
      >.summary
        border-left: 1px solid rgba(255, 255, 255, .06)
        background-color: $surface-color-dark
      >.body
        border-left: 1px solid rgba(255, 255, 255, .04)
        background-color: $background-color-dark

// desktop

@media only screen and (min-width: $desktop_switch)
  .contributor
    position: fixed
    left: initial
    right: 0
    bottom: 0
    z-index: 1
    display: flex
    flex-direction: column
    // width: 380px
    height: 380px
    padding: 0
    background-color: #0B89B5
    transition: none  
    &.show
      z-index: 3
      position: absolute
      left: initial
      right: 0
      top: initial
      bottom: 0
      display: flex
      flex-direction: column
      width: 380px
      padding: 0
      border-radius: 0
      transform: none

      height: 100px
      right: 20px
      //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
      transition: none
      >.summary
        flex: none
        position: relative
        display: flex
        flex-direction: row
        height: 100px
        .image
          cursor: pointer
          top: 0
          left: -51px
          margin: 0
          width: 100px
          height: 100px

        >.action
          >.follow
            display: block
      >.body
        display: flex
        flex-direction: column
        flex: 1
      
    > .title
      display: none


    // show

    >.summary
      width: 100%
      height: 100px
      position: relative
      display: flex
      flex-direction: row
      background-color: $primary-color
      background-color: #0B89B5
      >.image
        cursor: pointer
        position: absolute
        top: 0
        left: -51px
        width: 100px
        height: 100px
        margin: 0
        border: 1px solid rgba(0,0,0,.87)
        background-color: #0B89B5
      >.group
        display: block
        margin-left: 60px
        .info
          height: 48px
          margin-right: 40px
          overflow-x: hidden
          overflow-y: auto
      >.action
        
        top: 12px
        right: 12px
        display: block
        .follow
          display: inline-block
          cursor: pointer
          border: none
          background-size: cover
          background-image: url('/theme/fancy/icon/social/follow.svg')
          &:hover
            background-image: url('/theme/fancy/icon/social/follow_o.svg')
          &.followed
            background-image: url('/theme/fancy/icon/social/followed.svg')

    >.body
      display: flex
      flex-direction: column
      height: 300px
      width: 100%
      flex: 1
      background-color: #0B89B5
      transition: 395ms transform cubic-bezier(.4,0,.2,1)


  // darkmode desktop

  body.dark-mode
    .contributor
      background-color: $surface-color-dark
      >.summary
        border-left: 1px solid rgba(255, 255, 255, .06)
        background-color: $surface-color-dark
        >.image
          background-color: $background-color-dark
      >.body
        border-left: 1px solid rgba(255, 255, 255, .04)
        background-color: $background-color-dark
      &.show
        background-color: $surface-color-dark
        >.summary
          border-left: 1px solid rgba(255, 255, 255, .06)
          background-color: $surface-color-dark
        >.body
          border-left: 1px solid rgba(255, 255, 255, .04)
          background-color: $background-color-dark
