.debug.view
  color: #78F14F
  display: none
  // pointer-events: none
  font-family: "Courier New", Courier, monospace
  font-size: .8em
  z-index: 1000
  position: absolute
  left: 0
  right: 0
  // bottom: 160px
  top: 0px
  padding: 0 8px
  height: 128px
  background-color: rgba(0,0,0,1)
  overflow: auto
  &.show
    display: block
  .close
    position: fixed
    top: 0
    right: 0
    background-image: url(/theme/common/icon/dark/close.svg)

body.debug
  .plans, .plans-mobile
    top: 128px

  .form.sign, .view.sign, .view.information
    top: 128px
  >.container
    position: fixed
    top: 128px
    left: 0
    bottom: 0
    right: 0

