.giftcard.view.sign
  form
    height: 100%
    background-color: #226593
    margin: 0
    .close
      position: absolute
      right: 0
      top: 0
      margin: 11px
      background-image: url('/theme/common/icon/dark/close.svg')
    button.info
      position: absolute
      left: 0
      top: 0
      margin: 11px
      background-image: url('/theme/common/icon/dark/info.svg')    
    .head
      color: white
      text-align: center
      font-family: futura
      .icon
        height: 96px
        text-align: center
        margin-bottom: 16px
        .gift
          display: inline-block
          height: 96px
          width: 96px
          background-image: url('/theme/common/icon/gift.svg')
          background-size: contain
          background-repeat: no-repeat
          background-position: center
          border: 3px solid rgba(255,255,255,.9)
          border-radius: 50%
      .title
        display: block
        font-weight: 700
        font-size: 2em
        text-transform: uppercase
      .sub
        display: inline-block
        font-weight: 700
        font-size: 1.4em
        text-transform: uppercase
        .text
          display: inline-block
        .love
          display: inline-block
          color: #E2AFB0
          padding-left: 8px
    .body
      background-color: white
      padding: 32px 32px 16px 32px
      margin: 16px
      border-radius: 16px
      .choose
        font-size: 1.1em
        margin-bottom: 8px

      .subscription, .gift
        font-size: 1.2em
        display: flex
        padding: 10px 0
        margin: 8px 0 8px
        border-top: 1px solid rgba(0,0,0,.1)
        border-bottom: 1px solid rgba(0,0,0,.1)
        .price
          flex: none
          font-weight: 600
        .premium
          flex: none
          text-transform: capitalize
          padding-right: 5px

        .plan
          flex: 1



      .gift
        border-bottom: none
        margin-bottom: 0
        margin-top: 0
        input[type=radio]
          height: 16px
          width: 16px
          margin-right: 10px

    .space
      height: 32px
      &.small
        height: 16px

    .stripe *
      font-family: Roboto, Open Sans, Segoe UI, sans-serif
      font-size: 16px
      font-weight: 500
      color: rgba(0,0,0,.87)

    .stripe
      width: 100%
      padding: 0
      margin: 0 auto
      // background-color: #6772e5

      #card-element
        height: 48.8px
        background-color: rgba(0,0,0,0.05)
        &.hide
          display: none

      fieldset
        margin: 0 15px 20px
        padding: 0
        border-style: none
        background-color: #7795f8
        box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff
        border-radius: 4px

      .row
        display: -ms-flexbox
        display: flex
        -ms-flex-align: center
        align-items: center
        margin-left: 15px

      .row + .row
        border-top: 1px solid #819efc

      label
        width: 15%
        min-width: 70px
        padding: 11px 0
        color: #c4f0ff
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

      input, button
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        outline: none
        border-style: none

      input:-webkit-autofill
        -webkit-text-fill-color: #fce883
        transition: background-color 100000000s
        -webkit-animation: 1ms void-animation-out

      .StripeElement--webkit-autofill
        background: transparent !important

      .StripeElement
        display: block
        padding: 16px 12px 16px 12px
        background-color: rgba(0,0,0,.05)
        border-radius: 6px
        // margin-right: 20px
        &.StripeElement--focus
          padding: 14px 10px 14px 10px
          border: 2px solid #1a73e8

      input
        width: 100%
        padding: 11px 15px 11px 0
        color: #fff
        background-color: transparent
        -webkit-animation: 1ms void-animation-out

      input::-webkit-input-placeholder
        color: rgba(0,0,0,.7)

      input::-moz-placeholder
        color: rgba(0,0,0,.7)

      input:-ms-input-placeholder
        color: rgba(0,0,0,.7)

      button
        font-style: roboto, arial, sans-serif
        color: white
        font-size: 1em
        font-weight: 600
        text-decoration: none
        display: inline-block
        height: 46px
        width: 100%
        text-transform: none
        padding: 10px auto
        background-color: #358825
        border-radius: 22px
        margin: 8px 0 16px 0
       
      #card-errors
        opacity: .8
        font-size: 12px
        color: #DF3A31
        margin-top: 4px
        height: 13px

      .error svg .base
        fill: #fff

      .error svg .glyph
        fill: #6772e5

      .error .message
        color: #fff

      .success .icon .border
        stroke: #87bbfd

      .success .icon .checkmark
        stroke: #fff

      .success .title
        color: #fff

      .success .message
        color: #9cdbff

      .success .reset path
        fill: #fff

      .info.cancel
        text-align: center
        color: rgba(0,0,0,.67)


    .secured
      display: none
      height: 140px
      border-top: 1px solid rgba(0,0,0,.08)
      margin: 120px 20px 0
      padding: 20px
      padding-bottom: 0
      text-align: center
      background-image: url('/img/payment/securedgrey.png')
      background-size: 90%
      background-repeat: no-repeat
      background-position: center

    .processing
      display: none

      &.show
        display: block
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: rgba(255, 255, 255, 1)

      .message
        text-align: center
        font-size: 1.4em
        padding: 64px 32px 84px

      .loader
        margin: 60px auto
        font-size: 10px
        position: relative
        text-indent: -9999em
        border-top: 1.1em solid rgba(147, 202, 236, 0.2)
        border-right: 1.1em solid rgba(147, 202, 236, 0.2)
        border-bottom: 1.1em solid rgba(147, 202, 236, 0.2)
        border-left: 1.1em solid rgba(147, 202, 236, 1)
        transform: translateZ(0)
        animation: loader 1.1s infinite linear

      .loader
        border-radius: 50%
        width: 10em
        height: 10em

      .loader:after
        border-radius: 50%
        width: 10em
        height:  10em

@media only screen and (min-width: 640px)
  .giftcard.view.sign
    form
      height: initial
      .stripe
        // width: $width
      .secured
        display: block
        height: 140px
        width: 100%
        margin: 20px auto
        padding: 20px
        padding-bottom: 0
        text-align: center
        border-top: 1px solid rgba(0,0,0,.08)
        background-image: url('/img/payment/securedgrey.png')
        background-size: 90%
        background-repeat: no-repeat
        background-position: center
        
@keyframes loader
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
