.view.history
  color: rgba(0,0,0,.87)
  z-index: 200
  position: absolute
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  overflow: hidden
  display: flex
  flex-direction: column
  flex: none
  width: 100%
  background-color: rgba(255,255,255,1)
  transform: translateY(-120%)
  //transition: .195s opacity cubic-bezier(.4,0,.2,1)
  &.show
    transform: translateY(0px)
    // transition: .195s opacity cubic-bezier(.4,0,.2,1)

  .head
    flex: none
    display: flex
    flex-direction: row
    height: 48px
    padding: 0 8px
    border-bottom: 1px solid rgba(255,255,255,.1)
    .title
      text-transform: uppercase
      padding: 16px 8px
    //box-shadow: none
    .divider
      flex: 1
    .button.close
      flex: none
      z-index: 2
      // right: 14px
      // top: 8px
      width: 32px
      min-width: 32px
      height: 32px
      margin: 8px 4px
      background-image: url('/theme/common/icon/close.svg')
      background-position: center
      background-repeat: no-repeat
  .body
    .item
      padding-right: 8px
      padding-left: 20px
      border-bottom: none
      &.selected
        background-color: white
      &:hover
        background-color: rgba(255,255,255,.81)
      .info
        .title
          width: 242px
        .artist
          width: 242px
      &:last-child
        border-bottom: none  

    .button-search
      flex: none
      //display: none
      z-index: 2
      // position: absolute
      // right: 14px
      // top: 8px
      width: 32px
      min-width: 32px
      height: 32px
      margin: 8px 4px
      background-image: url('/theme/common/icon/dark/search.svg')
      background-position: center
      background-repeat: no-repeat

  .list.tracks
    flex: 1
    position: relative
    // background-color: #27669e
    h3
      display: none

body.trackdetail
  .view.history
    bottom: $appbar_height + $player_height + 44px

body.dark-mode
  .view.history
    color: rgba(255,255,255,.87)
    background-color: $background-color-dark
    .button.close
      background-image: url('/theme/common/icon/dark/close.svg')
    .body
      background-color: $surface-color-dark


@media only screen and (min-width: $desktop_switch)
  .view.history
    z-index: 50
    width: 380px
    top: 200px
    bottom: 0
    // right: 0
    left: 50%
    margin-left: -230px
    background-color: rgba(255,255,255,.7)
    border-bottom: 1px solid rgba(255,255,255,.1)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    transform: translateY(100%)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .225s transform cubic-bezier(.4,0,.2,1)
    transition: .225s transform cubic-bezier(.4,0,.2,1)
    &.show
      transform: translateY(0px)
      transition: .225s transform cubic-bezier(.4,0,.2,1)
    &.up
      bottom: 300px
      transition: .195s bottom cubic-bezier(.4,0,.2,1)

    .list.tracks
      h3
        display: none
      .body
        .item
          padding-right: 8px
          padding-left: 20px
          border-bottom: none
          &.selected
            background-color: white
          &:hover
            background-color: rgba(255,255,255,.81)
          .info
            .title
              width: 242px
            .artist
              width: 242px
          &:last-child
            border-bottom: none  

    .foot
      flex: none
      height: 182px


  body.dark-mode
    .view.history
      .list.tracks
        .body
          .item
            &:hover, &.selected
              background-color: rgba(0,0,0,.4)
