.homescreen
  font-family: roboto, arial, sans-serif
  z-index: 20
  position: absolute
  opacity: 0
  display: flex
  align-items: center
  justify-content: center
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: linear-gradient(180deg, rgba(3,76,112,0.8) 40.1%, #034A6D 100%, rgba(0, 0, 0, .9))
  transition: .195s opacity cubic-bezier(.4,0,.2,1)

  &.show
    opacity: 1
  .button.close
    position: absolute
    top: 0
    right: 0
    left: initial
    flex: none
    background-image: url('/theme/common/icon/dark/close.svg')
    margin: 8px 
  .body
    display: flex
    flex-direction: column
    width: 100%
    .radiooooo
      width: 260px
      position: relative
      height: 130px
      margin: 8px auto 32px
      background-image: url('https://asset.radiooooo.app/theme/minimal/img/homescreen.svg')
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      .title
        user-select: none
        font-family: futura
        font-size: .9em
        text-align: center
        text-transform: uppercase
        line-height: 1.7em
        color: black
        display: block
        height: 24px
        padding-right: 26px
        margin-bottom: 4px
        margin-left: 2px
        position: absolute
        left: 0
        right: 0
        bottom: 0
        .themusical
          font-weight: 400
          margin-right: 8px
        .timemachine
          font-weight: 700

    .action
      display: flex
      flex-direction: column
      text-align: center
      .button
        font-family: roboto, arial, sans-serif
        text-transform: none
        font-size: 1em
        font-weight: 700
        width: 220px
        display: inline-block
        margin: 12px auto
        height: initial
        &.join
          background-color: #0FBE0B
        &.basic
          border: 2px solid white
          padding: 4px 12px
        &.giftcards
          margin-top: 32px
          background-color: orange

      .signin
        display: none
        margin-top: 32px
        .text
          font-size: .9em
          display: inline-block
          padding: 6px 0
        .button
          color: #68b5e4
          font-size: .9em
          font-weight: 700
          width: initial
          background-color: transparent
          margin: initial
          padding: 6px 8px

        &.show
          display: block
        .account
          margin-top: 32px

@media only screen and (min-width: $desktop_switch)
  .homescreen
    .body
      width: 600px
      .radiooooo
        width: 536px
        height: 280px
        margin: 8px 32px 32px
        .title
          font-family: futura
          font-size: 1.9em
          text-transform: uppercase
          text-align: center
          line-height: 1.65em
          color: black

          padding-right: 56px
          margin-left: 4px
          margin-bottom: 0
          position: absolute
          left: 0
          right: 0
          bottom: 14px
          height: 50px
          // background-color: greenyellow
          .themusical
            font-weight: 400
            margin-right: 8px
          .timemachine
            font-weight: 700

