$navi_width: 260px 

.information.view
  font-family: roboto, arial, sans-serif
  z-index: 5
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  // bottom: $appbar_height + $player_height 
  display: flex
  -webkit-touch-callout: none
  -webkit-user-select: none
  &.infoonly
    .navi.show
      display: none
    .info
      .head
        .button.back
          display: none
  button
    font-family: roboto, arial, sans-serif
  .navi
    z-index: 1
    flex: none
    width: 100%
    display: flex
    flex-direction: column
    background-color: #417EB9
    transform: translateX(-1000px)
    transition: 225ms transform cubic-bezier(.4,0,.2,1)
    &.show
      transform: translateX(0)
      transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .body
        background-position: bottom
    .head
      flex: none
      cursor: pointer
      flex: none
      height: inherit
      padding: 0
      display: block
      .logo
        position: relative
        display: inline-block
        cursor: pointer
        top: 0
        left: 0
        width: 172px
        height: 56px
        margin: 4px 4px 4px 20px
        background-repeat: no-repeat
        background-position: top center
        background-size: contain
        background-image: url(/theme/common/logo.svg)
        flex: none
      .button.close
        position: absolute
        top: 0
        right: 0
        background-position: center
        //background-size: 100%
        background-repeat: no-repeat
        background-image: url('/theme/common/icon/dark/close.svg')
        margin: 4px
        border-radius: 50%
    .body
      flex: 1
      overflow: auto
      background-position: bottom
      // display: flex
      // flex-direction: column
      border-top: 1px solid rgba(255,255,255,.1)
      .group
        flex: 1
        overflow: auto
        background-position: bottom
        display: flex
        flex-direction: column
      .menu
        text-align: left
        text-transform: none
        font-size: 1.4em
        display: flex
        height: initial
        padding: 13px 16px 13px 36px
        margin: 0
        border-radius: 0
        border-bottom: 1px solid rgba(255,255,255,.1)
        background-image: url('/theme/common/icon/dark/forward.svg')
        background-position: 96% center
        background-repeat: no-repeat
        transform: none
        transition: none
        background-color: rgba(0,0,0,0)
        transition: 225ms background-color cubic-bezier(.4,0,.2,1)
        vertical-align: top
        &.pushed
          background-color: rgba(0,0,0,.1)
        &.account
          background-color: rgba(0,0,0,.05)
        &.redeem
          background-color: rgba(0,0,0,.05)
        &.new
          label
            font-size: .7em
            color: white
            background-color: rgba(205, 58, 88, 1)
            padding: 0 10px
            margin-right: 10px
            border-radius: 12px
      .divider
        display: none
        flex: none
        width: 100%
        padding-bottom: 8px
        margin-bottom: 8px
    .foot
      display: flex
      flex-direction: row
      text-align: right
      .debug
        width: 46px
        height: 46px
        flex: none
        font-weight: 400
      .version
        flex: 1
        opacity: .3
        font-size: .8em
        font-weight: 400
        padding: 8px 32px
  .info
    z-index: 2
    color: rgba(0,0,0,.87)
    position: absolute
    top: 0
    left: 0
    bottom: 0
    display: flex
    flex-direction: column
    flex: none
    width: 100%
    background-color: #ecdfc0
    transform: translateX(1000px)
    transition: 195ms transform cubic-bezier(.4,0,.2,1)
    &.show
      transform: translateX(0)
      transition: 225ms transform cubic-bezier(.4,0,.2,1)
    ul
      line-height: 1.3em
      li
        margin-bottom: 8px
    .head
      display: flex
      flex-direction: row
      flex: none
      height: 48px
      .button.close
        flex: none
        background-position: center
        //background-size: 100%
        background-repeat: no-repeat
        background-image: url('/theme/common/icon/close.svg')
        margin: 0
      .button.back
        flex: none
        height: 48px
        padding: 12px 16px 12px 32px
        margin: 0
        background-image: url('/theme/common/icon/back.svg')
        background-position: 6px center
        background-repeat: no-repeat
        background-size: 28px
        .label
          color: rgba(0,0,0,.87)
      .divider
        flex: 1
      .title
        flex: 1
        font-size: 2em
        padding: 8px 0

    .body
      flex: 1
      font-size: 1em
      display: flex
      flex-direction: column
      overflow-y: scroll
      padding: 16px
      .title
        flex: none
        margin-top: 0
      .content
        flex: 1
      .article
        // padding-top: 10px
        // margin-bottom: 10px
        // border-bottom: 1px solid rgba(0,0,0,.45)
      .news
        padding-bottom: 16px
        margin-bottom: 16px
        border-bottom: 1px solid rgba(0,0,0,.2)
        .date
          font-size: .8em
          padding: 6px 0
        figure.media
          height: 360px
          oembed
            width: 100%
            height: 400px

      h2
        font-size: 1.4em
      figure
        margin: 0
        img
          width: 100%



@media only screen and (min-width: 768px)
  .information.view
    z-index: 300
    display: flex
    bottom: 0
    //background-color: green
    &.show
      display: flex
    &.infoonly
      .navi.show
        //display: none
      .info
        .head
          .button.back
            display: none
    .navi
      position: absolute
      z-index: 2
      top: 0
      bottom: 0
      left: 0 
      display: flex
      width: $navi_width
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
      transform: translateX(-360px)
      transition: 195ms transform cubic-bezier(.4,0,.2,1)
      &.show
        transform: translateX(0)
        transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .head
        .button.close
          top: 12px
          right: 12px
          margin: 0
      .body
        .category
          height: 459px
        .menu
          font-size: 1.2em
          background-position: 94% center
          &.selected
            background-color: rgba(255,255,255,.2)
            border-bottom: 1px solid rgba(255,255,255,0)
            &:hover
              background-color: rgba(255,255,255,.2)
          &:hover
            background-color: rgba(255,255,255,.1)
            border-bottom: 1px solid rgba(255,255,255,0)
    .info
      z-index: 1
      color: rgba(0,0,0,.87)
      flex: none
      position: absolute
      top: 0
      left: $navi_width
      bottom: 0
      display: flex
      width: 640px
      
      background-color: white
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
      transform: translateX(-1000px)
      transition: 195ms transform cubic-bezier(.4,0,.2,1)
      &.show
        transform: translateX(0)
        transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .head

        display: none
        .button.back
          display: none
        .button.close
          display: none
          position: absolute
          top: 8px
          right: 8px
          background-position: center
          //background-size: 100%
          background-repeat: no-repeat
          background-image: url('/theme/common/icon/close.svg')
          margin: 0
      .body
        font-size: 1.1em
        display: block
        overflow-y: scroll
        padding: 32px 32px 32px 32px
        .date
          font-size: .9em

        

