$width: 1200px

.installapp
  font-family: roboto,arial,sans-serif
  z-index: 1
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  opacity: 1
  display: block
  background-color: rgba(0,0,0,.7)
  // transition: .225s opacity cubic-bezier(.4,0,.2,1)
  -webkit-touch-callout: none
  -webkit-user-select: none
  &.show
    opacity: 1
    // transition: .195s opacity cubic-bezier(.4,0,.2,1)

  button.button
    font-family: roboto,arial,sans-serif

  .surface
    color: rgba(0,0,0,.87)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    background-color: white
    overflow: auto
    width: 100%
    scroll-behavior: smooth
    // transform: translateX(100%)
    // transition: .195s transform cubic-bezier(.4,0,.2,1)
    .head
      flex: none
      // display: flex
      // flex-direction: column
      text-align: center
      color: white
      padding-top: 36px
      padding-bottom: 8px
      padding-left: 48px
      padding-right: 48px
      // border-bottom: 1px solid rgba(0,0,0,.1)
      background-color: #3EA8D7
      .logo
        position: relative
        display: inline-block
        top: 0
        left: 0
        width: 160px
        height: 50px
        margin: 0 16px 10px
        background-image: url('/theme/common/logo.svg')
        background-size: cover
        flex: none
      .title
        flex: 1
        color: white
        font-size: 2.2em
        font-weight: 600
        // line-height: 1.3em
        padding: 0
        margin: 10px 16px
      .join
        height: 40px
        font-size: 1.1em
        font-weight: 300
      // .thankyou
      //   display: none 
      .action
        text-align: center
        padding: 24px
        .install
          color: white
          font-size: 1.1em
          font-weight: 600
          text-decoration: none
          display: inline-block
          height: initial
          text-transform: none
          padding: 12px 48px
          background-color: #038B00
          border-radius: 22px

      
@media only screen and (min-width: 760px)
  .installapp
    .surface
      .head
        .logo
          width: 260px
          height: 80px
          margin: 10px 16px
        .title
          font-size: 2.4em
        .join
          height: 20px
        .action
          text-align: center
          padding: 42px
        .close
          position: fixed
          top: 2px
          right: 2px
          flex: none
          background-image: url('/theme/common/icon/dark/close.svg')
          background-color: #3EA8D7
          margin: 8px
