
$map_width: 4200px
$map_height: 2660px

$map_offset: 2000px
$map_offset_mobile: 0px

// country color
$country-background: #ECDFC0
$country-border: #BEAD8F
// country color dark
$country-background-dark: #2B2D2F
$country-border-dark: #804144

.hmap
  z-index: 2
  // cursor: grab
  width: 100%

  user-select: none
  position: absolute
  bottom: $appbar_height + $player_height
  top: 56px
  left: 0
  right: 0
  background-color: #7FC5DD
  will-change: transform
  overflow: hidden
  transition: .4s opacity linear
  &.show
    opacity: 1
    transition: .4s opacity linear
  &.hide
    pointer-events: none
    opacity: 0
    transition: .4s opacity linear

.map
  user-select: none
  opacity: 0
  transition: .4s opacity linear


.map.leaflet-container
  z-index: 2
  // // cursor: grab
  // user-select: none
  position: absolute
  bottom: $appbar_height + $player_height
  top: 56px
  left: 0
  right: 0
  // background-color: #7FC5DD
  // will-change: transform
  // overflow: hidden
  background: transparent
  
  &.hide
    pointer-events: none
    opacity: 0

  &.show
    opacity: 1
    transition: .4s opacity linear

  // &.dragging
  //   svg
  //     pointer-events: none

  .islands
    z-index: 3

  .background
    z-index: 800
    background-image: url("/theme/common/img/map/background.png")
    background-size: 40%
    opacity: .5

  .border
    z-index: 801
    opacity: 1
    background-image: url("/theme/common/img/map/border.png")
    background-position: center
    background-size: 100%

  .leaflet-control-container
    .leaflet-top
      top: 56px
      
    .leaflet-bottom
      // bottom: 164px
    .leaflet-right
      // right: 16px
    .leaflet-right
      right: 0px
      left: inherit
      bottom: 64px

  svg
    z-index: 802
    pointer-events: auto
    // position: absolute
    // left: 1045px
    // top: 1480px
    //
    // width: $map_width
    // height: $map_height

    // margin: 0 auto
    // .correction
    //   transform: translateX(4095px)
    g
      //visibility: hidden
      // opacity: 0
      // &.hide
      //   display: none

      polygon
        cursor: pointer
        fill: $country-background
        fill-opacity: 1
        fill-rule: evenodd
        stroke: lighten($country-border, 1%)
        stroke-width: 1.2
        stroke-opacity: 1
        stroke-linejoin: round
        stroke-linecap: round
        stroke-location: inside
        //transition: fill .1s linear
        // transition: .2s fill linear
        // transition: stroke 2.5s linear
      &.selected
        polygon
          cursor: default
          fill: #F1BAB8
          fill-opacity: 1
          stroke-opacity: 1
          // &.selected.playing
        // &:hover
        //   path, polygon
        //     cursor: default
        //     fill: $secondary-color
        //     //transition: .2s fill linear 
      &.focused
        polygon
          cursor: default
          fill: darken(#f1bab8, 2%)
          fill-opacity: 1
          stroke-opacity: 1
          // &.selected.playing
        // &:hover
        //   path, polygon
        //     cursor: default
        //     fill: $secondary-color
        //     //transition: .2s fill linear 
      &.empty
        polygon
          cursor: default
          fill: lighten($country-background, 5%)
          // stroke-opacity: .5
          stroke-dasharray: 2.5
          stroke: lighten($country-border, 5%)
      &.selected.empty
        polygon
          cursor: default
          fill: lighten(#F1BAB8, 5%)

  &.zoom--3 
    svg g polygon
      stroke-width: 2.3
  &.zoom--2    
    svg g polygon
      stroke-width: 2
  &.zoom--1    
    svg g polygon
      stroke-width: 1.7
  &.zoom-0    
    svg g polygon
      stroke-width: 1.2
  &.zoom-1    
    svg g polygon  
      stroke-width: 0.9
  &.zoom-2    
    svg g polygon
      stroke-width: 0.6
  &.zoom-3    
    svg g polygon
      stroke-width: 0.3
  &.zoom-4    
    svg g polygon
      stroke-width: 0.2
  &.zoom-5    
    svg g polygon
      stroke-width: 0.15
  &.zoom-6    
    svg g polygon
      stroke-width: 0.1


  .country-label
    color: rgba(0,0,0,.7)
    display: none
    pointer-events: none
    z-index: 1000
    font-size: .7em
    position: fixed
    padding: 1px 3px
    background-color: #ffffff
    border: 1px solid rgba(0,0,0,.8)
    border-radius: 4px
    &.show
      display: block


  .output
    // display: none
    z-index: 500
    background-color: rgba(0,0,0,.4)
    color: white
    font-size: .7em
    position: fixed
    top: 100px
    right: 16px
    height: 100px
    width: 300px
    padding:  8px 16px
    overflow: scroll

  .leaflet-control-attribution 
    display: none

  .leaflet-bar
    margin: 10px
    -webkit-touch-callout: none
    -webkit-user-select: none

.mode-taxi
  .map.leaflet-container
    svg
      z-index: 802
      pointer-events: auto
      // position: absolute
      // left: 1045px
      // top: 1480px
      //
      // width: $map_width
      // height: $map_height

      // margin: 0 auto
      // .correction
      //   transform: translateX(4095px)
      g
        //visibility: hidden
        // opacity: 0
        // &.hide
        //   display: none

        
        &.selected.focused
          polygon
            cursor: default
            fill: darken(#f1bab8, 5%)

        &.focused
          polygon
            cursor: default
            fill: lighten(#f1bab8, 5%)

.dark-mode
  .map.leaflet-container
    background-color: darken(#354565, 15%)
    background-image: none
    .background
      opacity: .1
    .border
      z-index: 801
      opacity: 1
      background-image: url("/theme/common/img/map/dark/border.png")
      background-position: center
      background-size: 100%

    svg
      g
        polygon
          fill: $country-background-dark
          stroke: $country-border-dark
        &.empty
          polygon
            fill: lighten($country-background-dark, 5%)
            stroke: $country-border-dark
            stroke-dasharray: 2.5
            &:hover
              fill: lighten($country-background-dark, 5%)
              stroke: $country-border-dark
              stroke-dasharray: 2.5
        &.selected
          polygon
            cursor: default
            fill: darken($country-border-dark, 10%)
              // &.selected.playing
            // &:hover
            //   path
            //     cursor: default
            //     fill: darken($country-border-dark, 10%)
            //     transition: .2s fill linear 
            &:hover
             
              fill: darken($country-border-dark, 15%)
              transition: .2s fill linear

  .leaflet-control-zoom-in, .leaflet-control-zoom-out
    &.leaflet-disabled
      background-color: $background-color-dark

  .leaflet-bar a, .leaflet-bar a:hover
    color: rgba(255,255,255,87)
    background-color: $surface-color-dark
    
    border-bottom: 1px solid $background-color-dark


@media only screen and (min-width: $desktop_switch)
  .map.leaflet-container
    top: 0
    bottom: 0
    // background-color: #B7E4F5
    overflow: hidden
    //opacity: 0
    &.show
      opacity: 1

    // &.dragging
    //   svg 
    //     g:hover polygon
    //       fill: $country-background
    //     g.selected polygon
    //       fill: $country-background

    svg
      pointer-events: auto
      g     
        polygon:hover
          fill: lighten(#F1BAB8, 5%)
          fill-opacity: 1
          stroke-opacity: 1
        &.empty
          polygon:hover
            cursor: default
            fill: lighten($country-background, 5%)
            // stroke-opacity: .5
            stroke-dasharray: 2.5
            stroke: lighten($country-border, 5%)
        &.selected
          polygon:hover
            cursor: default
            fill: #F1BAB8
            // stroke-opacity: .5
            stroke: lighten($country-border, 5%)

    .leaflet-control-container
      .leaflet-top
        top: 100px
        
      .leaflet-bottom
        bottom: inherit

      .leaflet-left
        top: 100px
        left: 16px

      .leaflet-left
        right: inherit
        .leaflet-bar
          display: flex
          z-index: 7
          display: flex
          flex-direction: row
          position: fixed
          height: 52px
          left: 32px 
          top: 64px
          bottom: initial
          margin: 0
          border: 0
          color: rgba(0, 0, 0, 0.47)
          white-space: nowrap
          box-shadow: none
          a
            background-color: transparent
            box-shadow: none
            width: 48px
            height: 48px
            margin: 0
            border-radius: 50%
            border-bottom: 0
            &:hover
              background-color: rgba(255,255,255,.2)
              border-bottom: 0
              box-shadow: none
            &:active
              background-color: rgba(255,255,255,.2)
              box-shadow: none

            &.leaflet-disabled
              opacity: .5
              &:hover
                background-image: url('/theme/fancy/icon/zoom-in.svg')

            &.leaflet-control-zoom-in
              order: 2
              background-image: url('/theme/fancy/icon/zoom-in.svg')
              &:hover
                background-image: url('/theme/fancy/icon/zoom-in_o.svg')
                &.leaflet-disabled
                  background-image: url('/theme/fancy/icon/zoom-in.svg')
              &:active
                background-image: url('/theme/fancy/icon/zoom-in_a.svg')
                &.leaflet-disabled
                  background-image: url('/theme/fancy/icon/zoom-in.svg')
              

            &.leaflet-control-zoom-out
              order: 1
              background-image: url('/theme/fancy/icon/zoom-out.svg')
              &:hover
                background-image: url('/theme/fancy/icon/zoom-out_o.svg')
                &.leaflet-disabled
                  background-image: url('/theme/fancy/icon/zoom-out.svg')
              &:active
                background-image: url('/theme/fancy/icon/zoom-out_a.svg')
                &.leaflet-disabled
                  background-image: url('/theme/fancy/icon/zoom-out.svg')



  .dark-mode
    .map.leaflet-container
      background-image: none
      svg
        g
          polygon
            fill: $country-background-dark
            stroke: $country-border-dark
          &.empty
            polygon
              fill: #373a3c
              stroke: #804144
            polygon:hover
              fill: #373a3c
              stroke: #804144
              stroke-dasharray: 2.5
          &.selected
            polygon
              cursor: default
              fill: darken($country-border-dark, 10%)
              stroke: $country-border-dark
                // &.selected.playing
              &:hover
                
                cursor: default
                fill: darken($country-border-dark, 10%)
                stroke: $country-border-dark

// .dark-mode
//   .map
//   
// @media (hover: none) and (pointer: coarse)
//   .map
//     // background-color: #7FC5DD
//     svg
//       g     
//         polygon:hover
//           fill: $country-background



.leafleft-marker-pane
  .leafleft-marker
    pointer-events: none
  .marker-country
    pointer-events: none

.leaflet-tooltip-pane
  .leaflet-tooltip
    transform: translate(50px, -100px)
    background: transparent
    background-clip: padding-box
    border-color: transparent
    border-radius: 4px
    border-style: solid
    border-width: 0px
    color: rgba(0,0,0,.5)
    display: block
    font: 14px/22px "Helvetica Neue", Arial, Helvetica, sans-serif
    font-weight: 700
    padding: 0
    position: absolute
    user-select: none
    pointer-events: none
    white-space: nowrap
    box-shadow: none
    z-index: 6

  .leaflet-tooltip.leaflet-clickable
    cursor: pointer
    pointer-events: auto

  .leaflet-tooltip:before,
  .leaflet-tooltip:after
    border-top: 6px solid transparent
    border-bottom: 6px solid transparent
    content: none
    position: absolute
    top: 5px

  .leaflet-tooltip:before
    border-right: 6px solid black
    border-right-color: inherit
    left: -10px

  .leaflet-tooltip:after
    border-left: 6px solid black
    border-left-color: inherit
    right: -10px

  .leaflet-tooltip-right:before,
  .leaflet-tooltip-left:after
    content: ""



.zoom--3
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 4px/10px "Helvetica Neue", Arial, Helvetica, sans-serif


.zoom--2
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 6px/14px "Helvetica Neue", Arial, Helvetica, sans-serif

.zoom--1
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 8px/18px "Helvetica Neue", Arial, Helvetica, sans-serif

.zoom-0
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 12px/22px "Helvetica Neue", Arial, Helvetica, sans-serif


.zoom-1
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 16px/26px "Helvetica Neue", Arial, Helvetica, sans-serif


.zoom-2
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 20px/30px "Helvetica Neue", Arial, Helvetica, sans-serif


.zoom-3
  .leaflet-tooltip-pane
    .leaflet-tooltip
      font: 24px/34px "Helvetica Neue", Arial, Helvetica, sans-serif
