.view.people
  user-select: none
  z-index: 130
  position: absolute
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  width: 100%
  overflow: hidden
  display: none
  flex-direction: column
  flex: none
  background-color: #0B89B5
  &.show
    display: flex
  >.head

    position: relative
    flex: none
    display: flex
    padding: 4px 8px 4px 8px
    border-bottom: 1px solid rgba(255,255,255,.1)
    .title
      cursor: pointer
      flex: 1
      color: rgba(255,255,255,.87)
      font-size: 1.2em
      padding: 8px 4px
      text-transform: capitalize
    .button
      flex: none
      width: 40px
      min-width: 40px
      height: 40px
      margin: 0
      background-position: center
      background-repeat: no-repeat
      &.back
        opacity: .8
        pointer-events: none       
        &.show
          pointer-events: auto  
          background-image: url('/theme/common/icon/dark/back.svg')
          &:hover
            background-color: rgba(255,255,255,.2)
        &:hover, &:focus, &:active
          background-color: transparent
        &:hover
          opacity: 1
      &.next
        opacity: .8
        pointer-events: none
        transform: rotate(180deg)
        pointer-events: auto
        background-image: url('/theme/common/icon/dark/back.svg')

        &:hover
          background-color: rgba(255,255,255,.2)
        &:hover, &:focus, &:active
          background-color: transparent
        &:hover
          opacity: 1
      &.home
        opacity: .8
        //pointer-events: none
        background-image: url('/theme/common/icon/dark/home.svg')   
        pointer-events: auto  
        &:hover
          background-color: rgba(255,255,255,.2)
        &:hover
          opacity: 1
      &.close
        background-image: url('/theme/common/icon/dark/close.svg')

      &.search
        opacity: .5
        background-image: url('/theme/common/icon/dark/search.svg')
        &.on
          opacity: 1

  >.list.follow
    z-index: 5
    position: absolute
    top: 49px
    bottom: 0
    left: 0
    right: 0
    display: none
    background-color: #0B89B5
    &.show
      display: flex

    .body
      .item
        .action
          display: none


  >.profile
    z-index: 2
    flex: 1
    &.hide
      display: none


  >.tabview
    z-index: 1
    flex: 1
    position: relative
    &.hide
      display: none
    >.tabs
      padding-right: 60px
      border-bottom: 1px solid rgba(255,255,255,.1)
      button
        font-size: .8em
        .count
          // background-color: rgba(0,0,0,.1)
          font-weight: 600
          padding: 0 2px
          margin-left: 2px
          border-radius: 4px

    >.indicator
      background-color: white
    >.views
      flex: 1
      background-color: transparent

body.trackdetail
  .view.people
    bottom: $appbar_height + $player_height + 44px

body.dark-mode
  .view.people
    background-color: darken(#0B89B5, 30%)
    >.follow
      background-color: darken(#0B89B5, 30%)
    >.tabview>.tabs
      border-bottom: 1px solid rgba(255,255,255,.05)
    >.button.close
      background-image: url('/theme/common/icon/dark/close.svg')
    // .tabview
    //   background-color: $surface-color-dark

@media only screen and (min-width: $desktop_switch)
  .view.people
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    width: 400px
    z-index: 110
    top: 0
    right: 0
    bottom: 0
    padding-top: 56px
    border-radius: 12px
    border: 1px solid rgba(255,255,255,1)
    border-right: none
    border-bottom: none
    border-top: none
    border-radius: 0
    background-color: #0B89B5
    >.head
      .button
        height: 32px
        width: 32px
        min-width: 32px
        margin: 4px
      &.up
        bottom: 460px
    >.list.follow
      top: 104px

  .dark-mode
    .view.people
      border: 1px solid black

