// mobile

.profile.view
  position: absolute
  z-index: 4
  bottom: 0
  left: 0
  right: 0
  display: none
  flex-direction: column
  width: 100%
  padding: 0 8px 0 0 
  // transform: translateY(100%)
  // transition: .195s transform cubic-bezier(.4,0,.2,1)
  &.show
    display: flex
  >.button.close
    display: none
    z-index: 4
    position: absolute
    right: 0
    top: 0
    width: 52px
    height: 48px
    margin: 0
    background-image: url('/theme/common/icon/closedown.svg')
    background-repeat: no-repeat
    background-position: center
  >.summary
    flex: none
    height: 64px
    position: relative
    display: flex
    flex-direction: row
    background-color: #0B89B5
    width: 100%
    border-left: none
    .image
      height: 48px
      width: 48px
      margin: 8px 8px 8px 20px
      border-radius: 50%
      background-color: rgba(0,0,0,.1)
      background-size: cover
      border: 1px solid white
    .group
      padding: 8px 16px
      display: none
      flex: 1
      opacity: 1
      width: 100%
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 4px 8px 0
      .title
        display: none
      .name
        font-size: 1em
        line-height: 1.4em
        //color: $default-color-text
      .country
        flex: 1
        font-size: .9em
        line-height: 1.3em
      .info
        font-size: .8em
        height: 64px
        overflow-x: hidden
        overflow-y: auto
        a
          color: rgba(255,255,255,.7)
      .ranking
        display: inline-block
        font-size: .8em
        line-height: .8em
        padding: 1px 8px 2px
        margin: 5px 0
        white-space: no-wrap
        // color: $primary-color
        background-color: #30669A
        border-radius: 10px
        .ranking-score
          display: inline-block
          font-size: .8em
        .ranking-title
          display: inline-block
          font-size: .8em
          text-transform: uppercase
    >.action
      width: 40px
      height: 48px
      padding: 0
      margin: 8px 4px 0 4px
      flex: none
      >.follow
        cursor: pointer
        display: block
        width: 32px
        height: 32px
        margin: 0
        padding: 0
        text-align: center
        border-radius: 50%
        border: none
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        background-image: url(/theme/fancy/icon/social/follow.svg)
        &:hover
          background-color: rgba(255,255,255,.4)
        &.followed
          background-image: url(/theme/fancy/icon/social/followed.svg)
        &.following
          background-image: url(/theme/fancy/icon/social/followed.svg)

  >.tabview
    display: none
    flex: 1
    position: relative
    flex-direction: column
    background-color: #0B89B5
    // border-left: 1px solid rgba(0, 0, 0, .05)
    color: $contributor-body-color-text



    >.indicator
      background-color: white
      
    >.tabs
      border-bottom: 1px solid rgba(255, 255, 255, .1)
      height: 48px
      white-space: no-wrap
      display: flex
      flex-direction: row  
      .material-divider
        flex: 1 
        display: inline-block
      button
        opacity: .8
        flex: none
        display: inline-block
        padding: 0 8px
        font-size: .8em
        // min-width: 64px
        height: 48px
        //margin: 0 1px
        border-radius: 0
        text-align: center
        background-repeat: no-repeat
        background-size: 50%
        background-position: center
        &:disabled
          opacity: .3
        &.selected
          opacity: 2
        .count
          font-weight: 600
        &.tracks
          flex: none
          width: 56px
          padding: 0 4px
          background-image: url('/theme/fancy/icon/profile/uploaded.svg')
          &.selected
            background-image: url('/theme/fancy/icon/profile/uploaded_s.svg')
          label
            display: none
        &.liked
          flex: none
          width: 56px
          padding: 0 4px
          background-size: 40%
          background-image: url('/theme/fancy/icon/profile/liked.svg')
          &.selected
            background-image: url(/theme/common/icon/social/like.svg)
          label
            display: none
          
        &.awards
          background-size: 35%
          background-image: url('/theme/fancy/icon/profile/awards.svg')
          label
            display: none
        // &.following
        //   background-size: 45%
        //   background-image: url('/theme/fancy/icon/social/following.svg')
        // &.followers
        //   background-size: 45%
        //   background-image: url('/theme/fancy/icon/social/followers.svg')

    >.views
      .indicator
        height: 1px

      .button.shuffle
        opacity: .4
        //display: none
        z-index: 2
        position: absolute
        right: 8px
        top: 0
        width: 40px
        height: 40px
        margin: 0
        background-image: url("/theme/common/icon/dark/shuffle.svg")
        background-size: 50%
        background-position: center
        background-repeat: no-repeat
        &.selected
          opacity: 1
        &:hover
          opacity: 1
          background-color: transparent
        &:focus, &:active
          background-color: transparent
      .tabs
        justify-content: center
        height: 40px
        border-bottom: 1px solid rgba(255,255,255,.1)
        button
          flex: none
          display: block
          height: 39px
          padding: 0 8px
          margin: 0
          label
            font-size: 0.8em
            font-weight: 400

  // open
  &.show
    position: absolute
    top: 49px
    // height: 100%
    padding: 0
    border-radius: 0
    // transform: translateY(0)
    //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
      // transition: none
    
    >.summary
      width: 100%
      height: 104px
      background-color: #0B89B5
      border-left: none
      .image
        margin: 8px
        width: 64px
        height: 64px
      .group
        display: block

    >.tabview 
      display: flex

  > .title
    display: none
  .button-close
    display: none



// dark-mode

body.dark-mode
  .profile.view
    &.show
      background-color: darken(#0B89B5, 30%)
      >.summary
        border-left: 1px solid rgba(255, 255, 255, .06)
        background-color: darken(#0B89B5, 30%)
      >.body
        border-left: 1px solid rgba(255, 255, 255, .04)
        background-color: darken(#0B89B5, 30%)

// desktop

@media only screen and (min-width: $desktop_switch)
  .profile.view
    position: absolute
    z-index: 4
    top: 113px
    bottom: 0
    left: 0
    right: 0
    display: none
    flex-direction: column
    width: 400px
    // height: 0
    padding: 0
    &.show
      display: flex
    >.button.close
      display: none
      position: absolute
      right: 8px
      top: 4px
      width: 32px
      height: 32px
      margin: 4px
      border-radius: 50%
    >.summary
      height: 80px
      background-color: #0B89B5
      >.group
        display: block
      >.action
        .follow
          display: inline-block

    > .title
      display: none


    // show

    &.show
      position: absolute
      top: 113px
      display: flex
      flex-direction: column
      padding: 0
      border-radius: 0
      // transform: translateY(0)
      >.summary
        flex: none
        position: relative
        display: flex
        flex-direction: row
        .image
          border: 1px solid rgba(255,255,255,1)
          cursor: pointer
          width: 64px
          height: 64px
          margin: 8px 8px 8px 20px
        >.action
          >.follow
            display: block
            &.followed
              background-image: url(/theme/fancy/icon/social/followed.svg)
      >.body
        display: flex
        flex-direction: column
        flex: 1

    >.summary
      position: relative
      display: flex
      flex-direction: row
      .image
        width: 64px
        height: 64px
        margin: 8px 8px 8px 20px
      
    >.tabview
      display: flex
      flex-direction: column
      height: 300px
      width: 100%
      flex: 1
      background-color: #0B89B5

  // darkmode desktop

  body.dark-mode
    .profile.view
      background-color: $surface-color-dark
      >.button-close
        background-image: url('/theme/common/icon/closedown.svg')
      >.summary
        border-left: 1px solid rgba(255, 255, 255, .06)
      >.body
        border-left: 1px solid rgba(255, 255, 255, .04)
        // background-color: $background-color-dark
      &.show
        background-color: $surface-color-dark
        >.summary
          border-left: 1px solid rgba(255, 255, 255, .06)
        >.body
          border-left: 1px solid rgba(255, 255, 255, .04)
