.shuffle.view
  z-index: 20
  position: absolute
  top: 0
  bottom: 0
  left: 0
  display: none
  width: 100%
  background-color: rgba(0,0,0,.5)
  background-size: 65%
  background-repeat: no-repeat
  //background-position: 32px 90%
  background-position:  center 38%
  background-image: url('/theme/fancy/img/shuffle.svg')
  &.show
    display: block
  

@media only screen and (min-width: $desktop_switch)
  .shuffle.view
    display: block
    pointer-events: none
    opacity: 0
    background-size: 25%
    background-position: center 40%
    &.show
      display: block
      pointer-events: auto
      opacity: 1
      transition: .5s opacity ease
