.splash
  z-index: 20
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 0
  height: 0
  opacity: 0
  background-color: rgba(0,0,0,.3)
  background-size: 56%
  background-repeat: no-repeat
  //background-position: 32px 90%
  background-position: center 38%
  &.show
    width: 100%
    height: 100%
    opacity: 1
    transition: .5s opacity linear
  &.startscreen
      background-size: 75%

@media only screen and (min-width: $desktop_switch)
  .splash
    cursor: pointer
    background-size: 25%
    background-position: center 40%
    &.startscreen
      background-size: 35%