$width: 1200px

.subscribed.view
  font-family: roboto,arial,sans-serif
  z-index: 240
  display: none
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0,0,0,.7)
  // transition: .225s opacity cubic-bezier(.4,0,.2,1)
  -webkit-touch-callout: none
  -webkit-user-select: none
  &.show
    display: block
    // transition: .195s opacity cubic-bezier(.4,0,.2,1)
    // >.surface
    //   box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    //   transform: translateX(0px)
    //   transition: .225s transform cubic-bezier(.4,0,.2,1)

  .surface
    color: rgba(0,0,0,.87)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    background-color: white
    overflow: auto
    width: 100%
    scroll-behavior: smooth
    // transform: translateX(100%)
    // transition: .195s transform cubic-bezier(.4,0,.2,1)
    .head
      flex: none
      // display: flex
      // flex-direction: column
      text-align: center
      color: rgba(0,0,0,.87)
      padding-top: 36px
      padding-bottom: 8px
      padding-left: 48px
      padding-right: 48px
      // border-bottom: 1px solid rgba(0,0,0,.1)
      background-color: #EA9F9D

      .logo
        position: relative
        display: inline-block
        top: 0
        left: 0
        width: 170px
        height: 60px
        margin: 16px
        background-image: url('/theme/common/logo.svg')
        background-size: cover
        flex: none
      .title
        flex: 1
        color: white
        font-size: 2em
        // line-height: 1.3em
        padding: 0
        margin: 10px 0 10px 0
      .join
        color: rgba(255,255,255,.67)
        font-size: 1.1em
        font-weight: 400
      .group
        text-align: center
        padding-top: 32px
        .love
          display: inline-block
          width: 84px
          height: 84px
          border-radius: 50%
          border: 2px solid rgba(255,255,255,.8)
          background-image: url('/plans/img/like.svg')
          background-size: contain
          background-position: center
        .gift
          display: inline-block
          width: 84px
          height: 84px
          border-radius: 50%
          border: 2px solid rgba(255,255,255,.8)
          background-image: url('/theme/common/icon/gift.svg')
          background-size: contain
          background-position: center
      .action
        text-align: center
        padding: 36px 0
        .viewplans
          color: white
          font-size: 1em
          font-weight: 600
          text-decoration: none
          display: inline-block
          height: 46px
          text-transform: none
          padding: 10px 32px
          background-color: #358825
          border-radius: 6px
        .download
          color: white
          font-size: 1.3em
          font-weight: 600
          text-decoration: none
          display: inline-block
          height: 46px
          text-transform: none
          padding: 10px 32px
          background-color: #358825
          border-radius: 23px
          
      .close
        position: absolute
        top: 2px
        right: 2px
        flex: none
        background-image: url('/theme/common/icon/dark/close.svg')
        margin: 0
    >iframe
      flex: 1
      border: 0
      height: 100%
      

    .dialog
      .surface
        margin: 20px
        .head
          .button
            position: absolute
            right: 4px
            top: 4px

    .block
      max-width: $width
      margin: 0 auto
      .title
        font-size: 2em
        font-weight: 400
        margin: 32px 16px
        

    .block.what
      display: block
      padding: 16px 32px
      margin: 0 auto
      border-radius: 6px

      .group
        display: flex
        flex-direction: column
        .item
          display: flex
          flex-direction: column
          justify-content: center
          font-size: .9em
          line-height: 1.3em
          width: 100%
          margin-bottom: 32px
          height: 80px
          padding-left: 96px
          padding-right: 16px
          vertical-align: center
          background-repeat: no-repeat
          background-position: 0 0
          background-size: contain
          &.playlist
            background-image: url('/plans/img/like.svg')
          &.player
            background-image: url('/plans/img/skip.svg')
          &.tracks
            padding-bottom: 8px
            background-image: url('/plans/img/tracks.svg')
          &.power
            background-image: url('/plans/img/power.png')
          .emphase
            font-weight: 600
            // text-transform: uppercase
            padding: 0
            margin: 0
            flex: none
          .support
            margin-top: 10px

    .block.faq
      display: block
      padding: 16px
      margin: 0 auto
      border-radius: 6px
      .title
        margin: 32px 0
      .items
        font-size: 1em
        line-height: 1.3em
        display: block
        overflow: hidden
        margin: 0
        .item
          // float: left
          display: block
          margin-bottom: 32px
          height: initial
          vertical-align: center
          background-repeat: no-repeat
          background-position: 0 0
          background-size: contain
          padding-right: 0
          .question
            display: block
            font-weight: 600
          .text
            display: block

      .subscribe.button
        font-size: 1em
        font-weight: 600
        color: #fff
        text-transform: none
        background-color: #358825
        display: inline-block
        justify-content: center
        padding: 10px 48px
        margin: 10px 0
        height: initial
        border-radius: 10px
    .group.end
      margin: 16px 20px 16px 16px
      .info
        color: darken(#F4CECE, 15%)
        font-size: .7em
        text-transform: uppercase
        text-align: center
        
  iframe.payment
    display: none
    border: none
    margin: none
    padding: 0
    background-color: white
    &.show
      display: block
      width: 100%
      position: absolute
      top: 54px
      left: 0
      right: 0
      bottom: 0


@media only screen and (min-width: 760px)
  .subscribed.view
    z-index: 240
    display: none
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(0,0,0,.7)
    // transition: .225s opacity cubic-bezier(.4,0,.2,1)
    -webkit-touch-callout: none
    -webkit-user-select: none
    &.show
      display: block
      // transition: .195s opacity cubic-bezier(.4,0,.2,1)
      // >.surface
      //   box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
      //   transform: translateX(0px)
      //   transition: .225s transform cubic-bezier(.4,0,.2,1)

    .surface
      .head
        .logo
          width: 280px
          height: 90px
        .title
          font-size: 3em
        .action
          text-align: center
          padding: 36px

            
        .close
          position: fixed
          top: 2px
          right: 2px
          flex: none
          background-image: url('/theme/common/icon/dark/close.svg')
          background-color: rgb(234, 159, 157)
          margin: 0
      >iframe
        flex: 1
        border: 0
        height: 100%

      .dialog
        .surface
          margin: 20px
          .head
            .button
              position: absolute
              right: 4px
              top: 4px

      .block
        max-width: $width
        margin: 0 auto 48px
        .title
          font-size: 2.1em
          font-weight: 400
          margin: 32px 16px
          

      .block.what
        margin-bottom: 32px
        .group
          display: flex
          flex-direction: row
          .item
            margin-bottom: 8px


      .block.faq
        display: block
        padding: 16px
        margin: 0 auto
        border-radius: 6px
        .title
          margin: 48px 0
        .items
          font-size: .9em
          line-height: 1.2em
          display: block
          overflow: hidden
          .item
            float: left
            display: inline-block
            width: 33.333%
            margin-bottom: 8px
            height: 120px
            vertical-align: center
            background-repeat: no-repeat
            background-position: 0 0
            background-size: contain
            padding-right: 32px
            .question
              font-weight: 600
      .group.end
        margin: 16px 20px 16px 16px
        .info
          color: darken(#F4CECE, 15%)
          font-size: .7em
          text-transform: uppercase
          text-align: center
          
    iframe.payment
      display: none
      border: none
      margin: none
      padding: 0
      background-color: white
      &.show
        display: block
        width: 100%
        position: absolute
        top: 54px
        left: 0
        right: 0
        bottom: 0

  .subscribed.view
    >.surface
      width: 100%
      >.head
        >.title
          flex: none
          color: white
          font-size: 2.5em
          font-weight: 500
        >.close
          flex: none
          background-image: url('/theme/common/icon/dark/close.svg')
          margin: 11px

   