.user
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: hidden

  >.body
    position: absolute
    right: 0
    left: 0
    bottom: 0
    top: 0
    >.tabview
      >.tabs
        display: block
        // margin: 0 auto
        button
          flex: none
          padding: 0 16px
          &.selected
            transform: scale(1)
      >.form
        overflow: scroll
        &.show
          display: block

        &.hide
          display: none

      >.profile,
      >.contact,
      >.password
        z-index: 37
        //position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        //background-color: rgb(51, 51, 51)
        //background-color: rgb(255,255,255)
        transition: 0.2s cubic-bezier(0, 0, 0.2, 1)

        >form
          display: flex
          flex-direction: column
          >.body
            flex: none
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            

          >.divider
            flex: 1

          .toolbar
            .divider
              flex: 1
            .button
              margin: 0

          