.dialog
  .surface
    color: rgba(0,0,0,.87)
    border-radius: 8px
    .head
      padding: 16px
      padding-bottom: 8px
      display: flex
      flex-direction: row
      .title
        font-size: 1.2em
        padding-right: 40px
        flex: 1
      .close
        position: absolute
        top: 8px
        right: 8px
        height: 32px
        width: 32px
        flex: none
    .body
      padding: 0 16px
    .foot
      display: flex
      padding: 16px
      .divider
        flex: 1
      .button
        &.ok
          padding: 6px 16px 
        &:last-child
          margin-right: 0