.dialog-notrack
  background-color: rgba(0,0,0,.7)
  &.dialog-show
    margin-top: -100px
  .dialog-surface
    display: flex
    flex-direction: column
    width: 100%
    background-color: #E4BE4B
    
    box-shadow: none
    margin: 32px
    .dialog-content
      flex: 1
      color: rgba(0,0,0,.97)
      font-size: 1.1em
      line-height: 1.3em
      padding: 20px

    .material-toolbar
      flex: none
      display: flex
      padding: 0px 0px 12px 216px
      height: 36px
      .material-button
        color: rgba(255,255,255,1)
        background-color: #E84E0F
        border-radius: 18px
        label.button-label
          font-size: 1em
        &:hover
          color: rgba(255,255,255,1)
          background-color: rgba(0,0,0,1)
        &:last-child
          display: none


.dark-mode
  .dialog-notrack
    .dialog-surface
      background-color: transparent
      .dialog-content
        color: rgba(255,255,255,.87)


@media only screen and (min-width: $desktop_switch)
  .dialog-notrack
    .dialog-surface
      display: flex
      flex-direction: column
      width: 488px
      height: 247px
      padding-top: 97px
      background-color: transparent
      
      background-repeat: no-repeat
      background-size: contain
      
      box-shadow: none

      background-image: url('/theme/minimal/background/notrack.svg')
      .dialog-content
        flex: 1
        color: rgba(0,0,0,.97)
        font-size: 1.1em
        line-height: 1.3em
        padding: 20px 20px 0 189px 


      .material-toolbar
        flex: none
        display: flex
        padding-left: 216px
        height: 36px
        .material-button
          color: rgba(255,255,255,1)
          background-color: #E84E0F
          border-radius: 18px
          label.button-label
            font-size: 1em
          &:hover
            color: rgba(255,255,255,1)
            background-color: rgba(0,0,0,1)

