
.dialog.register
  z-index: 160
  position: absolute
  top: 64px
  right: 20px
  left: initial
  bottom: initial
  display: block
  width: 260px
  background-color: transparent
  border-radius: 10px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  &.emphase
    transform: scale(1.1)
    // border: 2px solid orange
  .surface
    position: relative
    background-color: #FFF8E8
    border-radius: 10px
    border: 2px solid white
    .head
      padding: 0
      .button.ok
        width: 100%
        height: 48px
        color: rgba(0,0,0,.87)
        cursor: pointer
        z-index: 100
        margin: 0
        
        border-radius: 3px
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)



    .body
      display: flex
      flex-direction: row
      cursor: pointer
      padding: 0
      border-radius: 3px
      .content
        flex: 1
        font-size: .8em
        line-height: 1.3em
        padding: 8px 16px 8px
      .button
        flex: none
        margin: 8px
