body
  .track-container
    pointer-events: none
    z-index: 160
    position: absolute
    bottom: $appbar_height + $player_height
    top: $topbar_height
    left: 0
    right: 0
    overflow: hidden
    .track.info
      font-family: roboto
      pointer-events: auto
      z-index: 0
      overflow: hidden
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      display: flex
      flex-direction: column
      // width: 100%
      height: initial       
      margin: 0
      padding: 0
      padding-bottom: 44px
      // border-radius: 7px 7px 0 0
      background-color: $surface-color
      transform: translateY(1000px)
      transition: 425ms transform cubic-bezier(.4,0,.2,1)
      -webkit-touch-callout: none
      -webkit-user-select: none


      // border-top: 2px solid white
      // border-top: 3px solid rgba(0,0,0,.3)
      
      &.show
        z-index: 0
        transform: translateY(0)
        transition: 425ms transform cubic-bezier(.4,0,.2,1)
      .button.close
        //display: none
        z-index: 3
        position: absolute
        right: 0
        top: 0
        width: 48px
        height: 48px
        margin: 0 4px
        background-image: url('/theme/common/icon/closedown.svg')
        background-repeat: no-repeat
        background-position: center

      .button.share
        //display: none
        z-index: 3
        position: absolute
        right: 10px
        bottom: 64px
        width: 36px
        height: 36px
        margin: 0
        background-image: url('/theme/minimal/icon/social/share.svg')
        background-repeat: no-repeat
        background-position: center
      .cover
        flex: none
        height: 200px
        width: 100%
        margin: 0
        margin-top: 32px
        .image
          height: 200px
          width: 200px
          margin: 0 auto
          //background-color: transparent
          background-size: cover
          background-repeat: no-repeat
          background-position: center
          border: 2px solid rgba(255,255,255,.87)
          &.generic
            background-image: url("/img/generic/nocover.png")
      .side
        user-select: none
        flex: 1
        display: flex
        flex-direction: column
        overflow: auto
        .info
          flex: 2
          padding: 16px 16px 8px 16px
          .field
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            padding: 2px 0 3px
            border: 0
            margin: 0
            border-bottomm: 1px solid rgba(0,0,0,.05)
            .text
              flex: 1
              display: inline-block
              font-size: 1em
              padding: 2px 0
              margin-right: 0
              overflow: hidden
              text-overflow: ellipsis
            .label
              text-align: right
              font-size: .7em
              opacity: .5
              flex: none
              padding-top: 8px
              margin-right: 8px
              display: inline-block
              width: 64px
              //text-transform: uppercase

    .progress
      z-index: 2
      pointer-events: auto
      display: block
      position: absolute
      z-index: 3
      bottom: 0
      left: 0
      right: 0
      height: 0
      flex: none
      overflow: hidden
      transition: .2s ease height
      background-color: rgb(34, 89, 138)
      border-top: 1px solid rgba(255,255,255,.1)
      &.show
        height: 44px
      >.indicator    
        position: absolute
        bottom: 0
        left: 0
        height: 100%
        border-right: 1px solid #E3A39F
        background-color: rgba(0,0,0,.1)
        transition: width 25ms ease
      >.buffer
        bottom: 0
        left: 0
        position: absolute
        height: 100%
        background-color: rgba(0,0,0,.05)
        transition: width 25ms ease

      >.time
        display: block
        z-index: 3
        pointer-events: none
        position: absolute
        left: 0
        right: 0
        bottom: 2px
        height: 18px
        >div
          position: absolute
          display: block
          width: 50px
          font-size: .7em
          padding: 3px
        .current
          text-align: left
          top: 0
          left: 12px
        .duration
          text-align: right
          top: 0
          right: 12px


        .comments
          display: none

.dark-mode
  >.container
    >.track.info
      background-color: $background-color-dark
      .side
        .info
          .field
            border-bottom: 1px solid rgba(255,255,255,.05)

@media only screen and (min-width: $desktop_switch)
  body
    >.container
      >.track.info
        display: none
        &.show
          display: none
          .button.share
            display: none
        .button.share
          display: none