
.appbar
  z-index: 160
  flex: none
  position: absolute
  top: 0
  left: 0
  right: 0
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  height: 56px
  padding: 0
  margin: 0
  color: $appbar-color-text
  background-color: #27669e
  // transition: 1s background-color$
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -webkit-app-region: drag
  .button.style-action
    height: 44px
    width: 44px
    margin: 5px 0
    transition: transform .1s, background-color .2s
    &.pushed
      transform: scale(.8)
      background-color: rgba(255,255,255,0.3)
    &.menu
      margin: 5px
      display: block
      //display: none
      background-image: url('/theme/common/icon/menu.svg')
    &.shuffle
      // display: none
      background-size: 90%
      background-image: url('/theme/minimal/icon/mode/mobile/shuffle.svg')
      box-shadow: none
      &.on
        background-image: url('/theme/minimal/icon/mode/mobile/shuffle-on.svg')
  .logo
    display: none
    cursor: pointer
    width: 112px
    height: 48px
    position: absolute
    top: 20px
    left: 10px
    background-image: url('/theme/common/logo.svg')
    background-size: contain
    background-repeat: no-repeat
    flex: none

  .gift
    display: none
    height: 44px
    width: 44px
    margin: 5px 0
    border-radius: 50%
    background-size: 100%
    background-image: url('/theme/common/icon/gift.svg')
    box-shadow: none
    border: 1px solid #fff

  .mode
    .button.random
      display: none
  .moods
    flex: 1
  .trial
    display: none
    padding: 9px 0
    .signup
      color: white
      background-color: #358825
      text-transform: none
      font-weight: 600
      margin-left: 0
  .notification-count
    font-family: arial
    display: none
    cursor: pointer
    font-size: .6em
    font-weight: 600
    text-align: center
    position: absolute
    z-index: 4
    right: 128px
    top: 14px
    // width: 16px
    // height: 16px
    padding: 1px 3px
    border-radius: 3px
    // border: 1px solid rgba(255,255,255,1)
    background-color: red
    &.show
      display: block

  .toolbar-account
    flex: none
    display: flex
    flex-direction: row
    justify-content: flex-end
    // width: 56px
    .button
      &.login
        display: inline-block
        text-transform: none
        margin-left: 0
        margin: 9px 8px 9px 0
        background-color: #68b5e4
     
      &.account
        display: inline-block
        flex: none
        padding: 0
        height: 40px
        width: 40px
        margin: 8px
        background-size: 100%
        background-image: url('/theme/common/icon/dark/account.svg')
        border: 1px solid white
        .label
          display: none
        i
          display: block
          height: 100%
          width: 100%
          background-size: 100%
          border-radius: 50%

      &.notification
        display: none
        opacity: .4
        height: 44px
        width: 44px
        margin: 5px 0
        border-radius: 50%
        background-size: 65%
        background-image: url('/theme/common/icon/notifs.svg')
        box-shadow: none        
        &.selected
          opacity: 1

      &.settings
        display: none
        opacity: .4
        height: 44px
        width: 44px
        margin: 5px 0
        border-radius: 50%
        background-size: 65%
        background-image: url('/theme/common/icon/dark/settings.svg')
        box-shadow: none
        &.selected
          opacity: 1

.platform-electron
  .appbar
    margin-top: 50px

.densite-compact
  .appbar
    height: 52px

body.dark-mode
  .appbar
    background-color: $background-color-dark
    // border-bottom: 1px solid rgb(0,0,0)
    .toolbar-account
      
      .button-account
        background-image: url('/theme/common/icon/account.svg')


body
  &.registered-role, &.admin-role, &.digger-role, &.premium-role, &.press-role, &.friends-role
    .appbar
      >.toolbar-account
        .button
          &.notification
            display: inline-block
          &.login
            display: inline-block

      .trial
        display: none

      .library
        display: flex



// @media only screen and (min-width: 320px)
//   .appbar
//     .button.style-action
//       margin: 5px



// @media only screen and (min-width: 768px)
//   .appbar

//     >.button.menu
//       display: block

//     >.logo
//       display: none



@media only screen and (min-width: $desktop_switch)
  .appbar
    z-index: 130
    // border-bottom-left-radius: 24px
    // border-left: 1.5px solid rgb(255,255,255)
    margin: 0
    // border: 2px solid rgb(255,255,255)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    .button.style-action
      &.menu
        display: none

      &.explore
        display: none

      &.shuffle
        display: none

      &.random
        display: inline-block

    .logo
      position: relative
      display: inline-block
      cursor: pointer
      top: 0
      left: 0
      width: 220px
      height: 56px
      margin: 4px 4px 0 20px
      background-image: url('/theme/common/logo.svg')
      flex: none



    .mode
      flex: none
      // padding-left: 60px

    .gift
      visibility: hidden
      display: inline-block

    .trial
      display: inline-block
      text-align: right
      padding: 9px 0
      width: 310px
      .signup
        display: inline-block
        color: white
        background-color: #358825
        text-transform: none
        font-weight: 600
        padding: 6px 24px
        &:hover
          background-color: #358825
    .library
      display: none
      flex: none
      // width: 255px
      height: 100%
      .button.tracks
        display: inline-block

    .notification-count.show
      display: block

    .toolbar-account
      position: relative
      // width: 112px
      // width: 132px
      padding-right: 8px
      .button
        &.notification
          display: none
          background-size: 50%
          margin: 4px
        
        &.settings
          display: none
          background-size: 40%
          margin: 4px 8px 4px 0
          &:hover
            opacity: 50%

        &.account
          width: 44px
          height: 44px
          margin: 4px

        &.login
          width: initial
          height: 36px
          box-shadow: initial
          background-image: none
          margin: 8px 4px
          
          // border: 1px solid rgba(255,255,255,1)

          //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
          label
            display: block


  body
    &.registered-role, &.admin-role, &.digger-role, &.premium-role, &.press-role, &.friends-role
      .appbar
        >.toolbar-account
          button
            &.notification
              display: inline-block
            &.settings
              display: inline-block
        .library
          display: inline-block

    &.dark-mode
      .appbar
        .toolbar-account
          background-color: transparent

  body.dark-mode
    .appbar
      background-color: $surface-color-dark
