*
  tap-highlight-color: transparent
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
  //outline: none
  -webkit-text-size-adjust: none
  -webkit-touch-callout: none
  -webkit-user-select: none

html
  //overscroll-behavior: contain

html, body
  overflow: hidden
  touch-action: none
  -webkit-touch-callout: none
  -webkit-user-select: none

body
  color: white
  font-family: roboto, Helvetica, Arial, sans-serif
  // transform: translateX(0)
  //-webkit-font-smoothing: antialiased
  // overscroll-behavior: none
  touch-action: none
  >.container
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    
    transition: 195ms transform cubic-bezier(.4,0,.2,1)
    will-change: transform
  &.account-mode
    >.container
      transform: translateX(-380px)
      transition: 225ms transform cubic-bezier(.4,0,.2,1)

body.debug
  .plans, .plans-mobile
    top: 128px

  .form.sign, .view.sign, .view.information
    top: 128px
  >.container
    position: fixed
    top: 128px
    left: 0
    bottom: 0
    right: 0

body.p404
  background-color: orange
  padding: 0 16px

body.dark-mode
  background-color: $background-color-dark
  color: $default-color-text-dark

  .country-label
    display: none
    pointer-events: none
    font-size: .7em
    position: fixed
    padding: 1px 3px
    color: rgba(255,255,255,.87)
    background-color: rgba(0,0,0,.87)
    border-radius: 4px


body.density-compact
  font-size: .9em

.button.close
  width: 40px
  height: 40px
  margin: 0
  background-image: url('/theme/common/icon/dark/close.svg')
  background-position: center
  background-repeat: no-repeat

.group.sign
  margin-left: 32px
  margin-right: 20px
  padding: 0
  .info
    font-size: .8em
  .connect
    //border-top: 1px solid rgba(0,0,0,.1)
    margin-top: 16px
    // text-align: center
    margin-right: 32px
    .facebook
      overflow: hidden
      display: inline-block
      color: white
      font-size: 1em
      text-transform: uppercase
      text-decoration: none
      padding: 10px 12px 10px 40px
      background-color: #415A94
      background-repeat: no-repeat
      background-size: 12px
      background-position: 12px 8px
      background-image: url('/theme/common/icon/social/fblogo.svg')
      border: none
      border-radius: 2px
      // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)


.tabview
  >.tabs
    border-bottom: 1px solid rgba(255,255,255,.1)
    padding-left: 18px
  >.indicator
    background-color: white


.material-dialog
  .dialog-surface
    .dialog-title
      margin: 12px
      margin-bottom: 0  


body 
  >.notouch
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    touch-action: none
  >.container 
    >.network
      pointer-events: none
      z-index: 400
      position: absolute
      top: 84px
      left: 0
      right: 0
      display: none
      text-align: center
      >.message
        color: white
        font-size: .8em
        text-transform: uppercase
        display: inline-block
        padding: 3px 8px
        padding-left: 32px
        margin: 0 auto
        background-color: #E6B13A
        background-image: url('/theme/common/icon/warning.svg')
        background-position: 8px center 
        background-repeat: no-repeat
        background-size: 16px 16px
        border-radius: 2px
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
        transition: 1s
      &.show
        display: block

@media only screen and (max-width: 640px)
  body
    &.account-mode
      >.container
        transform: translateX(-100%)

  .button-menu-navi
    display: none
    z-index: 10
    position: fixed
    top: 14px
    left: 8px

  .button-menu-account
    display: none

  .container-main
    width: 100%
    margin: 0 auto


  .country-label
    display: none
    &.show
      display: none

