$form_right: 20px
$form_left: 20px


.form
  // position: absolute
  // right: 0
  // left: 0
  // bottom: 0
  // top: 0
  // background-color: rgba(0,0,0,.4)
  &.hide
    display: none

  form
    display: flex
    flex-direction: column
    position: absolute
    right: 0
    left: 0
    bottom: 0
    top: 0

    input, select, button
      font-family: roboto, Helvetica, Arial, sans-serif

    // form elements
    .file
      display: block
      position: relative
      margin-right: $form_right
      padding-top: 8px
      margin-bottom: 8px
      vertical-align: top
      flex: none
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      .field
        user-select: auto
        color: rgba(0,0,0,.87)
        float: none
        width: 100%
        border: none
        margin: 0
        padding: 9px 8px 8px 12px
        background-color: rgba(255,255,255,.47)
        border-radius: 3px
        input
          color: rgba(0,0,0,.37)
          opacity: 0
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          cursor: pointer

        &:focus
          background-color: rgba(255,255,255,.67)        

    .textfield, .select
      display: block
      display: block
      position: relative
      margin-right: 20px
      padding-top: 8px
      margin-bottom: 8px
      vertical-align: top
      flex: none
      display: flex
      flex-direction: column
      flex-wrap: nowrap

      label
        // color: rgba(0,0,0,.5)
        //font-size: 0.7em
      input
        user-select: auto
        color: rgba(0,0,0,.87)
        float: none
        width: 100%
        border: none
        margin: 0
        padding: 15px 12px 14px
        // background-color: rgba(255,255,255,.47)
        border-radius: 3px
        background-color: rgba(255,255,255,.67)
        // border: 1px solid rgba(0,0,0,.1)
        // transition: .195s background-color
        &:focus
          background-color: rgba(255,255,255,1)
          transition: .225s background-color
          // border: 1px solid rgba(0,0,0,.5)
        &:disabled
          color: rgba(0,0,0,.57)
          background-color: rgba(255,255,255,.27)

      select
        cursor: pointer
        -webkit-appearance: none
        appearance: none
        color: rgba(0,0,0,.87)
        float: none
        width: 100%
        border: none
        margin: 0
        padding: 15px 12px 14px
        // background-color: rgba(255,255,255,.47)
        border-radius: 3px
        // border: 1px solid rgba(0,0,0,.1)
        background-color: rgba(255,255,255,.67)
        // transition: .195s background-color       
        &:focus
          background-color: rgba(255,255,255,1)
          // border: 1px solid rgba(0,0,0,.5)
          // transition: .225s background-color
        &:disabled
          color: rgba(0,0,0,.57)
          background-color: rgba(255,255,255,.27)

      .error
        color: rgba(0,0,0,.87)
        float: none
        width: 100%
        border: none
        margin: 0
        background-color: rgba(255,255,255,.87)
        border-radius: 0

      &.hide
        display: none
    // blocks
    >.head
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      padding: 8px 8px 8px 32px
      &.smallbar
        file: none
        font-size: .9em
        font-weight: 400
        text-transform: uppercase
        display: block
        padding: 16px
        margin: 0
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      .title
        font-size: 1.5em
        font-weight: 400
        
        line-height: 1.7em
        text-transform: uppercase

      .divider
        flex: 1

    // body
    >.body
      // flex: 1
      overflow-x: hidden
      overflow-y: auto
      -webkit-overflow-scrolling: touch
      >.group 
        //position: relative
        padding: 16px 0 16px 20px
        padding-top: 16px
        border-bottom: 1px solid rgba(255,255,255,.1)
        label
          -webkit-touch-callout: none
          -webkit-user-select: none
        em
          display: block
          text-align: center
          margin-bottom: 32px
          margin-right: $form_right
          -webkit-touch-callout: none
          -webkit-user-select: none
        >.title
          font-size: 1.3em
          line-height: 1.5em
          padding-right: $form_right
        .content
          display: block
          margin-bottom: 16px
          padding-right: $form_right
        .toolbar
          display: flex
          flex-direction: row,
          flex-wrap: nowrap
          padding-right: $form_right
          .divider
            flex: 1
          button
            margin: 0
            &:first-child
              margin-left: 0
            &:last-child
              margin-right: 0

      .message
        height: 26px
        padding: 4px 0
        margin-right: $form_right
        &.error
          color: orange


        em
          padding: 0px 40px 16px 20px
          text-align: center
          display: block
          opacity: 0.7
          text-transform: normal

        // .field
        //   display: block
        //   flex: none
        //   display: flex
        //   flex-direction: row
        //   flex-wrap: nowrap
        //   .label-field
        //     flex: 1
        //     //color: rgba(255,255,255,.8)
        //     padding: 20px 16px 20px 0
        //   .material-textfield
        //     flex: none
        //     min-width: 160px
        //     label
        //       display: none
        //       //color: rgba(255,255,255,.8)
        //     select
        //       //color: rgba(255,255,255,.8)
        //   .switch
        //     flex: 1
        //     display: flex
        //     margin-left: 16px
        //     margin-right: 16px
            
        //     label

    .toolbar
      display: flex
      flex-direction: row,
      flex-wrap: nowrap
      .divider
        flex: 1
      button
        flex: none
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
    // foot
    .foot
      flex: none
      display: flex
      flex-direction: row
      padding: 8px $form_right 8px 32px
      display: flex
      flex-direction: row,
      flex-wrap: nowrap
      border-top: 1px solid rgba(255,255,255,.3)
      .divider
        flex: 1
      button
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
      