.login.form
  opacity: 0
  transform: translateY(-3000px)
  transition: .295s opacity cubic-bezier(.4,0,.2,1)
  &.show
    opacity: 1
    transform: translateY(0)
    transition: .295s opacity cubic-bezier(.4,0,.2,1)
  form
    .group.signup
      font-size: .9em
      position: relative
      display: none
      padding: 9px 0 9px 20px
      border-bottom: 1px solid rgba(0,0,0,0.1)

      &.show
        display: flex
      .text
        display: block
        font-size: .9em
        flex: 1
        line-height: 1.4em
        .new
          font-weight: 700
      .button
        color: #038B00
        flex: none
        margin-right: 52px
        &:hover
          background-color: rgba(0,0,0,.02)

    .group.register
      font-size: .9em
      position: relative
      display: none
      padding: 9px 0 9px 20px
      border-bottom: 1px solid rgba(0,0,0,0.1)

      &.show
        display: flex
      .text
        font-size: .9em
        flex: 1
        line-height: 1.4em
        .new
          font-weight: 700
      .button
        color: #038B00
        flex: none
        margin-right: 64px
        &:hover
          background-color: rgba(0,0,0,.02)


    .body
      flex: none
      .group

        .message
          color: rgb(214, 57, 44)
          font-size: .8em
          height: 20px
          padding: 0 8px
        .error
          color: rgb(214, 57, 44)
          font-size: .8em
          height: 20px
          padding: 0 0 24px

        .toolbar
          .forgot
            color: rgba(0,0,0,.5)
          button[type=submit]
            background-color: #68b5e4



@media only screen and (min-width: $desktop_switch)
  .login.form
    form
      .group.signup
        .button
          color: #038B00
          flex: none
          margin-right: 16px
      .group.register
        .button
          color: #038B00
          flex: none
          margin-right: 16px