
.posttrack.form
  z-index: 120
  position: fixed
  top: 0
  bottom: 56px
  right: 0
  width: 100%
  display: flex
  color: rgba(0,0,0,.87)
  flex-direction: column
  flex: none
  border-left: 1px solid white
  background-color: #FEE34A
  transform: translateY(-150%)
  opacity: 0
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  // transition: .195s opacity cubic-bezier(.4,0,.2,1)
  &.show
    opacity: 1
    transform: translateY(0px)
    //transition: .195s opacity cubic-bezier(.4,0,.2,1)
  &.hide
    display: none

  form.emphasis
    transition: .1s  
    zoom: 1.01
 
  form
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-top: 56px
    display: flex
    flex-direction: column
    >.head
      flex: none
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      padding: 6px 8px 6px 20px
      border-bottom: 1px solid rgba(255,255,255,.4)
      >.title
        flex: 1
        font-size: 1em
        text-transform: uppercase
        font-weight: 400
        padding: 6px 0
        margin: 0
        
      >.close
        z-index: 0
        flex: none
        width: 32px
        height: 32px
        background-image: url(/theme/common/icon/close.svg)
        background-position: center
        background-repeat: no-repeat
    >.body
      flex: 1
      padding: 0
      overflow-x: hidden
      overflow-y: scroll
      >.group
        padding: 16px 0 16px 20px
        border-bottom: 1px solid rgba(255,255,255,.4)
        .fieldset
          display: flex
          flex-wrap: nowrap
          .year
            flex: none
            width: 120px
          .country
            flex: 1

      >.group
        .optional
          font-size: .8em
          display: block
          margin-bottom: 8px
      >.group.files
        display: flex
        flex-direction: row
        flex-wrap: nowrap

        >.file
          .field
            overflow: hidden
            height: 80px
            width: 140px
            background-size: 40%
            background-repeat: no-repeat
            background-position: center
            input
              cursor: pointer
          &.track
            .field
              background-image: url('/theme/minimal/icon/upload/track.svg')
              background-color: #84BAD6
              border: 1px solid rgba(0,0,0,.87)
              &.ready
                background-image: url('/theme/minimal/icon/upload/track-ready.svg')


          &.cover
            .field
              background-color: #FACECD
              background-image: url('/theme/minimal/icon/upload/cover.svg')
              border: 1px solid rgba(0,0,0,.87)



    >.foot
      >.button
        color: rgba(0,0,0,.87)
        &.color-primary
          color: white
          background-color: #B8332C

    .information
      color: rgba(0,0,0,87)
      z-index: 2
      display: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,.3)
      padding: 16px 22px 16px 32px
      &.show
        display: block
      .dialog
        position: relative
        width: 90%
        height: 200px
        padding: 16px
        background-color: white
        margin: 64px auto
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.07)
        border-radius: 10px
        opacity: 1
        .inner
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          display: flex
          flex-direction: column
          padding: 16px
          .head
            flex: none
            font-size: 1.2em
            boder-bottom: 1px solid rgba(0,0,0,.05)
            margin-bottom: 16px
          .body
            flex: 1
          .foot
            display: flex
            flex-direction: row
            flex: none
            margin-top: 16px
            boder-top: 1px solid rgba(0,0,0,.05)
            .divider
              flex: 1
            .button
              color: rgba(0,0,0,.87)
              &.color-primary
                color: rgba(255,255,255,.87)
        

  >.upload.control
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background-color: rgba(0,0,0,.3)
    padding: 16px 22px 16px 32px

    >.surface
      color: rgba(0,0,0,.87)
      position: relative
      display: flex
      flex-direction: column
      width: 90%
      height: 200px
      padding: 16px
      background-color: white
      margin: 64px auto
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.02)
      border-radius: 10px
      .head
        margin-bottom: 16px
        .title
          flex: none
          font-size: 1.2em
          line-height: 1.4em
        .info
          font-size: .9em

      .body
        flex: 1
        .progress
          position: relative
          flex: none
          height: 32px
          border-radius: 3px
          overflow: hidden
          margin-bottom: 8px
          background-color: rgba(0,0,0,.1)
          .bar
            position: absolute
            top: 0
            left: 0
            bottom: 0
            width: 0
            background-color: #96C354
            transition: .5s width
          .percent
            color: white
            z-index: 1
            font-size: .9em
            text-align: center
            padding: 10px
            position: absolute
            top: 0
            left: 0
            bottom: 0
            width: 100%
        .bytes
          color: rgba(0,0,0,.4)
          font-size: .8em
          font-weight: 400

      .foot
        display: flex
        .divider
          flex: 1
        .button
          color: rgba(0,0,0,.87)
          margin-right: 0

body.dark-mode
  .posttrack.form
    background-color: darken(#fee34a, 40%)
    color: rgba(255,255,255,.87)
    border-left: 1px solid rgba(0,0,0,.7)
    form
      .head
        border-bottom: 1px solid rgba(255,255,255,.07)
        .button.close
          background-image: url('/theme/common/icon/dark/close.svg')
      >.body
        .group
          border-bottom: 1px solid rgba(255,255,255,.07)
      .foot
        border-top: 1px solid rgba(255,255,255,.07)

@media only screen and (min-width: $desktop_switch)
  .posttrack.form
    width: 400px
    bottom: 0
    form
      >.body
        >.group.files
          display: flex
          flex-direction: row
          flex-wrap: nowrap

          >.file
            .field
              overflow: hidden
              height: 120px
              width: 160px
              background-size: 50%
              background-repeat: no-repeat
              background-position: center
              input
                cursor: pointer
            &.track
              .field
                background-image: url('/theme/minimal/icon/upload/track.svg')
                background-color: #84BAD6
                border: 1px solid rgba(0,0,0,.87)
                &.ready
                  background-image: url('/theme/minimal/icon/upload/track-ready.svg')


            &.cover
              .field
                background-color: #FACECD
                background-image: url('/theme/minimal/icon/upload/cover.svg')
                border: 1px solid rgba(0,0,0,.87)


        .information
          color: rgba(0,0,0,87)
          z-index: 2
          display: none
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-color: rgba(0,0,0,.3)
          padding: 16px 22px 16px 32px
          &.show
            display: block
          .dialog
            position: relative
            width: 90%
            height: 200px
            padding: 16px
            background-color: white
            margin: 64px auto
            box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.07)
            border-radius: 10px
            opacity: 1
            .inner
              position: absolute
              top: 0
              left: 0
              right: 0
              bottom: 0
              display: flex
              flex-direction: column
              padding: 16px
              .head
                flex: none
                font-size: 1.2em
                boder-bottom: 1px solid rgba(0,0,0,.05)
                margin-bottom: 16px
              .body
                flex: 1
              .foot
                display: flex
                flex-direction: row
                flex: none
                margin-top: 16px
                boder-top: 1px solid rgba(0,0,0,.05)
                .divider
                  flex: 1
                .button
                  color: rgba(0,0,0,.87)
                  &.color-primary
                    color: rgba(255,255,255,.87)
            