
.redeem.form
  z-index: 261
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: initial
  display: none
  width: 100%
  background-color: white
  overflow: auto
  &.show
    display: flex
  form
    .head
      .title
        margin: 4px 0 2px
      .info
        font-size: .9em
    .body
      .field
        margin: 32px 0
        text-align: center
        .codefield
          text-align: left
          display: inline-block
          input
            text-align: center
            font-size: 1.3em
            font-weight: 600
            text-align: center
            color: rgba(0,0,0,.87)
            background-color: rgba(0,0,0,.05)
      .toolbar
        button[type=submit]
          background-color: #68b5e4
        button.resend
          color: rgba(0,0,0,.87)
          background-color: rgba(0,0,0,.05)
      .group.support
        font-size: .8em
        line-height: 1.3em
        padding-right: 20px
        background-color: rgba(0,0,0,.03)
        .bold
          font-weight: 700
        a
          text-decoration: none
          color: rgba(0,0,0,.5)


@media only screen and (min-width: $desktop_switch)
  .redeem.form
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    overflow: scroll
    display: none
    align-items: center
    justify-content: center