.register.form
  z-index: 4
  form
    .body
      flex: none
      .group
        padding: 0 0 0 32px
        &.emphase
          padding-top: 0
        .information
          font-size: 0.8em
          padding: 8px 0
        .email.error
          display: flex
          color: #D74155
          .login
            cursor: pointer
            margin-left: 6px
            color: #005e94
        button[type=submit]
          color: rgba(255,255,255,87)
          background-color: #358825
      .component-left
        width: 132px
        margin-right: 16px
      .component-right
        background-color: transparent

    .legal
      flex: 1
      font-size: .8em
      display: inline-block
      padding: 0 8px 0 0
      >*
        display: inline-block
        padding-right: 6px
        line-height: 1.5em
      .privacy
        cursor: pointer
        color: dodgerblue
        text-transform: underline
      .terms
        cursor: pointer
        color: dodgerblue
        text-transform: underline

    .information
      display: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #3FA8D7
      padding: 16px 22px 16px 32px
      &.show
        display: block
      .title
          font-size: 1.2em
          margin-bottom: 8px

      .message
        font-size: 1em
        margin-bottom: 32px

     


      .toolbar
        margin-top: 16px


@media only screen and (min-width: 640px)
  .register.form
    form
      .body
        flex: none

