.reset.form  
  form
    .body
      .group
        border-bottom: 1px solid rgba(0,0,0,0.1)
        .textfield
          margin-top: 16px
          margin-bottom: 16px
          input
            color: rgba(0,0,0,0.87)
            background-color: rgba(0,0,0,0.05)
        .toolbar
          .cancel
            color: rgba(0,0,0,.5)

      .message
        color: rgb(214, 57, 44)
        font-size: .8em
        height: 20px
        padding: 0 8px

@media only screen and (min-width: $desktop_switch)
  .reset.form
    form
      .head
        .close
          position: fixed