$font-color: rgba(0,0,0,.67)

.form.sign, .view.sign
  font-family: roboto, arial, sans-serif
  color: $font-color
  opacity: 0
  display: block
  z-index: 1
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  background-color: rgba(255,255,255,1)
  // transition: .195s opacity cubic-bezier(.4,0,.2,1)
  
  &.show
    opacity: 1
    // transition: .195s opacity cubic-bezier(.4,0,.2,1)
  &.reset
    z-index:30
  form
    color: $font-color
    overflow: auto
    width: 100%
    background-color: white
    .textfield, .select
      margin-bottom: 8px
      border-radius: 6px
      input, select
        color: $font-color
        background-color: rgba(0,0,0,.05)
      input
        padding: 15px 12px
      select
        padding: 15px 12px
      label
        z-index: 1
        display: none
      &.focused
        label
          color: #1a73e8
          font-size: .8em
          position: absolute
          top: 0
          left: 8px
          display: inline-block
          padding: 1px 4px
          background-color: white
          border-radius: 2px
        input, select
          padding: 13px 10px
          border: 2px solid #1a73e8

    .select
      select.empty
        color: rgba(0,0,0,.5) !important

    button
      padding: 6px 16px
      &.color-primary
        font-size: 600
        background-color: #038B00
      &[type=submit]
        padding: 6px 24px

    .error
      font-size: .8em
      color: #D74155
      display: block
      padding: 8px 0
      margin-right: 20px
      &.email
        padding: 0

    .body
      .group
        border-bottom: 1px solid rgba(0,0,0,0.1)
        &:first-child
          padding: 0 0 16px 20px
        .title
          font-size: .8em
          font-weight: 500
          // text-transform: uppercase
          display: block
          padding: 8px 0 
          margin-right: 22px
        &.support
          padding-right: 22px
          font-size: .8em
          background-color: rgba(0,0,0,.03)
    .head
      flex: none
      display: flex
      flex-direction: column
      padding: 16px 20px 0 20px
      .logo
        display: none
      .title
        font-size: 1.2em
        font-weight: 600
        text-transform: none
        margin: 4px 0 8px
      .info
        font-size: .9em
        text-transform: none
        margin: 0
      .close
        position: absolute
        top: 0
        right: 0
        margin: 0
        flex: none
        display: inline-block
        width: 40px
        height: 40px
        padding: 0
        margin: 6px 4px
        background-image: url('/theme/common/icon/close.svg')
        &.pushed
          background-color: rgba(0,0,0,.1)
        

    .group
      .title
        font-size: .8
    .group.message
      font-size: .8em
      line-height: 1.4em
      padding: 16px 20px 16px 20px
      background-color: rgba(0,0,0,.03)
      border-bottom: 1px solid rgba(1,1,1,.03)
      .text
        display: block
      .title
        font-weight: 600

    .group.sign
      padding: 16px 20px
      // border-top: 1px solid rgba(0,0,0,.1)
      margin-bottom: 8px 0
      .signwith
        color: rgba(0,0,0,.67)
        text-align: center
        font-size: .9em
        display: block
      .connect
        display: block
        // display: flex
        //border-top: 1px solid rgba(0,0,0,.1)
        margin-top: 8px
        text-align: center
        button
          flex: none
          display: inline-block
          text-transform: none
          padding: 8px
          height: 56px
          width: 56px
          margin-left: 0
          margin-right: 14px
          border-radius: 7px
          border: none
          &:last-child
            margin-right: 0
          &:first-child
            margin-left: 0
          &.apple
            background-color: #313131
            background-size: 22px
            background-position: 17px 12px
            background-image: url('/theme/common/icon/sign/apple.svg')
          &.facebook
            background-color: #1877f2
            background-repeat: no-repeat
            background-size: 20px
            background-position: 22px 14px
            background-image: url('/theme/common/icon/social/fblogo.svg')


    .foot
      padding: 8px 20px 8px 20px

    .processing
      z-index: 3
      display: none

      &.show
        display: block
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: rgba(255, 255, 255, 1)

      .message
        text-align: center
        font-size: 1.4em
        padding: 64px 32px 84px

      .loader
        margin: 60px auto
        font-size: 10px
        position: relative
        text-indent: -9999em
        border-top: 1.1em solid rgba(147, 202, 236, 0.2)
        border-right: 1.1em solid rgba(147, 202, 236, 0.2)
        border-bottom: 1.1em solid rgba(147, 202, 236, 0.2)
        border-left: 1.1em solid rgba(147, 202, 236, 1)
        transform: translateZ(0)
        animation: loader 1.1s infinite linear

      .loader
        border-radius: 50%
        width: 10em
        height: 10em

      .loader:after
        border-radius: 50%
        width: 10em
        height:  10em

@media only screen and (min-width: 640px)
  .form.sign, .view.sign
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    overflow: scroll
    form
      position: relative
      overflow: scroll
      width: 400px
      border-radius: 0
      margin: 0 auto
      border: 1px solid rgba(0,0,0,.1)
      border-radius: 6px
      box-shadow: 0px 0px 17px rgba(0,0,0,0.05)
      // form elements
      margin-bottom: 56px
      button
        // padding: 6px 24px
        &[type=submit]
          padding: 6px 36px

      .head
        .logo
          flex: none
          position: fixed
          display: inline-block
          top: 0
          left: 0
          width: 172px
          height: 64px
          margin: 4px 4px 4px 20px
          background-image: url('/theme/common/logo.svg')
          background-size: contain
          background-repeat: no-repeat
          
        .close
          position: fixed
          top: 0
      .body
        flex: none

      
@keyframes loader
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

