.rgpd
  color: rgba(0,0,0,.86)
  font-size: .9em
  z-index: 240
  position: fixed
  top: 56px
  right: 0
  left: 0
  display: block
  background: rgba(white, .9)
  border-radius: 0
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  transform: translateX(3000px)
  transition: 195ms transform cubic-bezier(.4,0,.2,1)
  &.show
    transform: translateX(0)
    transition: 225ms transform cubic-bezier(.4,0,.2,1)
  .info
    line-height: 1.3em
    padding: 16px 20px 8px
  .toolbar
    display: flex
    padding: 0 8px 16px
    .divider
      flex: 1
    .button
      flex: none
    .button.more
      color: #669df6

.dark-mode
  .dialog.rgpd
    background: $surface-color-dark

@media only screen and (min-width: $desktop_switch)
  .rgpd
    width: 336px
    top: 64px
    right: 20px
    left: initial
    border-radius: 8px
    .surface
      .body
        .button
          margin: 8px
