.help.view
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 300
  overflow: visible
  .info
    position: absolute
    display: flex
    flex-wrap: wrap
    display: flex
    flex-direction: column
    padding: 8px 8px
    background-color: #93CAEC
    border-radius: 10px
    border: 2px solid white
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    transition: 0.225s transform cubic-bezier(0.4, 0, 0.2, 1), 0.195s opacity cubic-bezier(0.4, 0, 0.2, 1)
    .pointer
      position: absolute
      top: -14px
      left: 100px
      width: 30px
      height: 15px
      background-size: contain
      background-image: url('/theme/common/icon/pointer.svg')

    .head
      flex: none
      display: flex
      flex: row
      .title
        flex: 1
        font-size: 1.5em
        line-height: 1.4em
      .close
        flex: none
        background-image: url('/theme/common/icon/dark/close.svg')
    .content
      flex: 1
    .foot
      flex: none
      display: flex
      flex-direction: row
      .step
        padding: 8px 0
      .divider
        flex: 1
      .button
        flex: none
    &.help-modes
      display: none
      top: 100px
      left: 232px
      width: 460px
      height: 200px
      &.show
        display: flex

    &.help-moods
      display: none
      width: 360px
      height: 300px
      .show
        display: flex

    &.help-moods
      display: none
      width: 360px
      height: 300px
      .show
        display: flex

    &.help-posttrack
      display: none
      width: 360px
      height: 300px
      .show
        display: flex


    &.help-library
      display: none
      width: 360px
      height: 300px
      .show
        display: flex


    &.help-timeline
      display: none
      width: 360px
      height: 300px
      .show
        display: flex





.help-control
  position: absolute
  top: 200px
  right: 8px
  flex: none
  background-image: url('/theme/common/icon/help.svg')

