$navi_width: 300px 


.information.view
  z-index: 250
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  bottom: $appbar_height + $player_height 
  display: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  &.show
    display: flex

  .navi
    z-index: 1
    flex: none
    width: 100%
    display: flex
    flex-direction: column
    background-color: #417EB9
    
    &.show
      transform: translateX(0)
      transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .body
        background-position: bottom
    .head
      flex: none
      cursor: pointer
      flex: none
      height: inherit
      padding: 0
      display: block
      height: 92px

      .logo
        position: relative
        display: inline-block
        cursor: pointer
        top: 0
        left: 0
        width: 172px
        height: 64px
        margin: 4px 4px 4px 20px
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        background-image: url(/theme/common/logo.svg)
        flex: none
        


      .button.close
        position: absolute
        top: 12px
        right: 12px
        background-position: center
        //background-size: 100%
        background-repeat: no-repeat
        background-image: url('/theme/common/icon/dark/close.svg')
        margin: 0
        border-radius: 50%
    // .body
    //   .group
    //     display: flex
    //     flex-direction: column
    //     align-items: flex-end
    .body
      flex: 1
      overflow: auto
      background-position: bottom
      .group
        display: flex
        flex-direction: column
        align-items: flex-end
        .button
          border-radius: 18px
          padding: 6px 16px
          margin: 4px
          margin-right: 16px
        .divider
          flex: 1
          width: 100%
          padding-bottom: 8px
          border-bottom: 1px solid rgba(255,255,255,.1)
          margin-bottom: 8px


    .foot
      padding: 8px 32px
      text-align: right
      .version
        opacity: .3
        font-size: .8em
        font-weight: 400

  .info
    z-index: 2
    color: rgba(0,0,0,.87)
    flex: none
    position: absolute
    top: 0
    left: 0
    bottom: 0
    display: flex
    width: 100%
    
    background-color: white
    transform: translateX(-1000px)
    transition: 195ms transform cubic-bezier(.4,0,.2,1)
    &.show
      transform: translateX(0)
      transition: 225ms transform cubic-bezier(.4,0,.2,1)
    .button.close
      position: absolute
      top: 8px
      right: 8px
      background-position: center
      //background-size: 100%
      background-repeat: no-repeat
      background-image: url('/theme/common/icon/close.svg')
      margin: 0
    .group
      font-size: .8em
      display: block
      overflow-y: scroll
      padding: 40px 32px 40px 32px
      .title
        font-size: 2em
 

@media only screen and (min-width: 768px)
  .information.view
    z-index: 300
    display: none
    bottom: 0
    //background-color: green
    &.show
      display: flex
    .navi
      position: absolute
      z-index: 2
      top: 0
      bottom: 0
      left: 0 
      display: flex
      width: $navi_width
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
      transform: translateX(-360px)
      transition: 195ms transform cubic-bezier(.4,0,.2,1)
      &.show
        transform: translateX(0)
        transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .body
        flex: 1
        background-position: bottom
        .group
          display: flex
          flex-direction: column
          align-items: flex-end
          .button
            border-radius: 18px
            padding: 6px 16px
            margin: 4px
            margin-right: 16px




    .info
      z-index: 1
      color: rgba(0,0,0,.87)
      flex: none
      position: absolute
      top: 0
      left: $navi_width
      bottom: 0
      display: flex
      width: 500px
      
      background-color: white
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
      transform: translateX(-1000px)
      transition: 195ms transform cubic-bezier(.4,0,.2,1)
      &.show
        transform: translateX(0)
        transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .button.close
        display: none
        position: absolute
        top: 8px
        right: 8px
        background-position: center
        //background-size: 100%
        background-repeat: no-repeat
        background-image: url('/theme/common/icon/close.svg')
        margin: 0
      .group
        display: block
        overflow-y: scroll
        padding: 40px 64px 40px 48px
        .title
          font-size: 2em

    >.divider
      flex: 1

