.worldmap
  .islands
    display: block
    .island
      display: block
      z-index: 5
      cursor: pointer
      border-radius: 50%
      padding: 32px
      &:hover
        //background-color: rgba(255,255,255,.7)
        //border: 2px solid red
      &.selected
        background-color: rgba(255,255,255,.3)

      img
        pointer-events: none

@media only screen and (min-width: $desktop_switch)
  .worldmap
    .islands
      display: block
      .island
        display: block
        z-index: 5
        cursor: pointer
        border-radius: 50%
        padding: 32px
        &:hover
          //background-color: rgba(255,255,255,.7)
          //border: 2px solid red
        &.selected
          background-color: rgba(255,255,255,.3)

        img
          pointer-events: none

@media (hover: none) and (pointer: coarse)
  .worldmap
    .islands
      //display: none
