
.now
  z-index: 90
  position: absolute
  bottom: $appbar_height
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  height: $player_height
  width: 100%
  >.group
    z-index: 3
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    .audio-player
      height: 400px
      .track
        display: none
        transform: translateY(1000px)
        //will-change: tranform
        //transition: 195ms transform cubic-bezier(.4,0,.2,1)
  &.open
    .group
      .audio-player
        .track
          // will-change: tranform
          transform: translateY(0)
          //transition: 225ms transform cubic-bezier(.4,0,.2,1)
      .contributor
        // display: none

@media only screen and (min-width: $desktop_switch)
  .now
    z-index: 100
    flex: none
    position: absolute
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    width: inherit
    height: 144px
    // overflow: hidden
    // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
    // transition: 195ms height cubic-bezier(.4,0,.2,1)
    // border-top: 1px solid rgba(0,0,0,1)
    >.group
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
      .audio-player
        flex: 1
        right: initial
        height: 400px
        position: relative
        // will-change: tranform
        //transform: translateY(320px)
        //transition: 395ms transform cubic-bezier(.4,0,.2,1)
        
        .inner
          position: fixed
          bottom: 0
          left: 0
          right: 400px
          width: initial
          .image
            // transition: 195ms width cubic-bezier(.4,0,.2,1)
          .body
            .progress
              //transition: 225ms left cubic-bezier(.4,0,.2,1)
            .time
              .duration
                transition: 225ms right cubic-bezier(.4,0,.2,1)
        .track
          display: flex
          //position: relative
          transform: none
          // transition: 395ms transform cubic-bezier(.4,0,.2,1)
          // will-change: none

      .contributor
        flex: none
        position: relative
        height: 300px
        width: 400px
        // left: initial
        // right: initial
        // will-change: tranform
        height: 400px  
        position: relative
        transform: none
        //transform: translateY(300px)
        // transition: 395ms transform cubic-bezier(.4,0,.2,1)
        >.button.close
          transform: rotate(180deg)
        .body
          transform: translateY(0)
          // transition: 195ms transform cubic-bezier(.4,0,.2,1)
          // 
        &.show
          
          transform: none
          // transition: 395ms transform cubic-bezier(.4,0,.2,1)
          

    &.open
      position: absolute
      left: 0
      bottom: 0
      right: 0
      width: inherit
      height: 444px
      // background-color: transparent
      // transition: 225ms height cubic-bezier(.4,0,.2,1)

      >.timeline
        // will-change: tranform
        //transform: translateY(-300px)
        //transition: 425ms transform cubic-bezier(.4,0,.2,1)

      >.group
        >.audio-player
          // transform: translateY(0)
          // transform: translateY(-300px)
          // transition: 425ms transform cubic-bezier(.4,0,.2,1)
          
          .inner
            .image
              width: 0
              border-right: none
              // transition: 225ms width cubic-bezier(.4,0,.2,1)
            .body
              padding-left: 0
              // transition: 225ms padding-left cubic-bezier(.4,0,.2,1)
              .progress
                left: 0
                // transition: 225ms left cubic-bezier(.4,0,.2,1)

              .time
                .duration
                  right: 12px
                  transition: 225ms right cubic-bezier(.4,0,.2,1)


          .track
            transform: none
            transition: 225ms transform cubic-bezier(.4,0,.2,1)
        >.contributor
          display: block
          height: 400px
          //transform: translateY(0px)
          // transition: 425ms transform cubic-bezier(.4,0,.2,1)
          // 
          >.button.close
            transform: rotate(0)
          >.body
            transform: none
            transition: 225ms transform cubic-bezier(.4,0,.2,1)

  // map overlay
  .map-overlay
    &.show
      z-index: 49
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
