.view.people
  overflow: hidden
  z-index: 150
  position: fixed
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  width: 100%
  display: none
  flex-direction: column
  flex: none
  background-color: #0B89B5

  &.show
    display: flex
  > .title
    display: none
  >.button.close
    //display: none
    position: absolute
    right: 0
    top: 0
    background-image: url('/theme/common/icon/dark/close.svg')
    background-position: center
    background-repeat: no-repeat

  >.tabview
    flex: 1
    positiom: relative
    >.tabs
      padding-right: 60px
      border-bottom: 1px solid rgba(255,255,255,.1)
      button
        .count
          background-color: rgba(0,0,0,.1)
          padding: 0 8px
          margin-left: 8px
          border-radius: 4px

    >.indicator
      background-color: white
    >.views
      flex: 1
      background-color: transparent

body.dark-mode
  .view.people
    background-color: $background-color-dark
    >.button.close
      background-image: url('/theme/common/icon/dark/close.svg')
    // .tabview
    //   background-color: $surface-color-dark


@media only screen and (min-width: $desktop_switch)
  .view.people
    z-index: 120
    top: 92px
    width: 380px
    bottom: initial
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)


    width: 400px
    z-index: 110
    top: 0
    right: 0
    bottom: 0
    padding-top: 64px
    border-radius: 12px
    border: 1px solid rgba(255,255,255,1)
    border-right: none
    border-bottom: none
    border-top: none
    border-radius: 0
    background-color: #0B89B5
    >.button.close
      right: 8px
      top: 68px
    &.up
      bottom: 460px


  .dark-mode
    .view.people
      border: 1px solid black

