.plans.view
  z-index: 240
  display: none
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0,0,0,.7)
  // transition: .225s opacity cubic-bezier(.4,0,.2,1)
  -webkit-touch-callout: none
  -webkit-user-select: none
  &.show
    display: block
    // transition: .195s opacity cubic-bezier(.4,0,.2,1)
    // >.surface
    //   box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    //   transform: translateX(0px)
    //   transition: .225s transform cubic-bezier(.4,0,.2,1)

  >.surface
    color: rgba(0,0,0,.87)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    display: flex
    flex-direction: column
    background-color: white
    overflow: visible
    width: 100%
    // transform: translateX(100%)
    // transition: .195s transform cubic-bezier(.4,0,.2,1)
    >.head
      flex: none
      display: flex
      flex-direction: row
      // border-bottom: 1px solid rgba(0,0,0,.1)
      background-color: #E3A39F
      >.title
        flex: 1
        color: white
        font-size: 1.6em
        line-height: 1.4em
        padding: 8px 20px 4px
      >.close
        flex: none
        background-image: url('/theme/common/icon/dark/close.svg')
        margin: 2px
    >iframe
      flex: 1
      border: 0
      height: 100%

    .dialog
      .surface
        margin: 20px
        .head
          .button
            position: absolute
            right: 4px
            top: 4px



    .body
      color: rgba(0,0,0,.87)
      display: flex
      flex-direction: column
      flex: 1
      // border: 2px solid rgba(0,0,0,.1)
      display: flex
      flex-direction: column
      overflow: auto



    .group.pick
      .title
        font-size: 1.2em
        color: #2483A7
        text-align: center
        margin: 12px 0 8px
        font-weight: 400
        text-align: center
        border-radius: 10px
        text-align: center     
      #emphase
        font-size: .8em
        text-transform: uppercase
        font-style: none
        line-height: 1.5em
        text-align: center
        display: block
        margin: 0 0 12px 0
        color: rgba(0,0,0,.6)

    .group.offer
      flex: none
      text-align: center
      margin-bottom: 10px
      margin-right: 20px
      margin-left: 16px
      >h3
        margin: 0

      &.offer
        display: flex
        flex-direction: row
        margin-right: 0
        height: 174px
      .plan
        font-size: .8em
        line-height: 1.5em
        color: rgba(0,0,0,.87)
        text-transform: none
        text-decoration:none
        text-align: center
        display: flex
        flex-direction: column
        flex: 1
        height: initial
        margin-right: 20px
        padding: 8px 8px
        background-color: #FFF8E8
        border: 1px solid #232220
        border: 1px solid darken(#FFF8E8, 30%)
        border-radius: 6px
        transition: 50ms transform
        &.yearly
          margin-right: 20px
          background-color: #E6F6F9
          border: 1px solid darken(#E6F6F9, 20%)
        span
          color: rgba(0,0,0,87)
          font-size: 1.2em
          display: block
          padding: 4px
        .title
          font-weight: 600
          color: #2483A7
          display: block
          margin-bottom: 4px
          border-bottom: 1px solid #2483A7
        .price
          font-size: 1em
          font-weight: 800
          color: rgba(0,0,0,.87)
          display: block
          &.instead
            font-size: 1.3em
            font-weight: 600
            color: rgba(0,0,0,.57)
            text-decoration: line-through
            margin: 0
        .monthly-price-text
          display: flex
          flex-direction: row
          justify-content: center
          .monthly-price
            padding: 0 5px
            font-weight: 600
        .button.subscribe
          font-size: 1em
          color: white
          background-color: #1E75C5
          display: block
          justify-content: center
          padding: 4px 8px
          margin: 10px 0
          border-radius: 6px
        .cancel
          color: #2483A7


    .group.purchases
      flex: none
      text-align: center
      margin: 10px 0
      display: none
      .restore
        cursor: pointer
        color: #1E75C5

    .group.new
      flex: none
      text-align: center
      margin-bottom: 10px
      margin-right: 20px
      margin-left: 16px
      em
        color: darken(#F4CECE, 15%)
        text-align: center
        font-size: .9em
        font-style: normal
        display: block
        text-align: center
        padding: 10px 20px
    

    .group.what
      padding: 16px
      margin: 0 16px
      background-color: #F4CECE
      border-radius: 6px
      .block
        margin-bottom: 8px
        &.playlist
          padding-left: 45px
          background-repeat: no-repeat
          background-image: url('/plans/img/like.svg')
          background-position: 0 0
        &.player
          padding-left: 45px
          background-repeat: no-repeat
          background-image: url('/plans/img/skip.svg')
          background-position: 0 0
        &.island
          padding-bottom: 8px
          padding-left: 45px
          background-repeat: no-repeat
          background-image: url('/plans/img/island.svg')
          background-position: 0 0
        &.community
          padding-left: 45px
          background-repeat: no-repeat
          background-image: url('/plans/img/social.svg')
          background-position: 0 0
        h3
          font-size: .8em
          text-transform: uppercase
          padding: 0
          margin: 0
          flex: none
        ul
          font-size: .8em
          // xlist-style: none
          padding: 0
          margin: 0
          margin-left: 16px
        .support
          margin-top: 10px

    .group.end
      margin: 16px 20px 16px 16px
      .info
        color: darken(#F4CECE, 15%)
        font-size: .7em
        text-transform: uppercase
        text-align: center
        
  iframe.payment
    display: none
    border: none
    margin: none
    padding: 0
    background-color: white
    &.show
      display: block
      width: 100%
      position: absolute
      top: 54px
      left: 0
      right: 0
      bottom: 0


@media only screen and (min-width: 640px)
  .plans.view
    >.surface
      width: 400px
      >.head
        >.title
          flex: 1
          color: white
          font-size: 1.6em
          padding: 11px 20px
        >.close
          flex: none
          background-image: url('/theme/common/icon/dark/close.svg')
          margin: 11px

   