.playlist.view
  position: fixed
  top: 0
  bottom: 0
  right: 0
  display: flex
  flex-direction: column
  flex: none
  z-index: 32
  width: 380px
  background-color: $background-color
  transform: translateX(100%)
  opacity: 0
  transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  &.open
    opacity: 1
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    transform: translateX(0px)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)

  > .title
    display: none
  //box-shadow: none
  .button-close
    z-index: 2
    position: absolute
    right: 8px
    top: 8px
    width: 40px
    height: 40px
    background-image: url('/theme/common/icon/close.svg')
    background-position: center
    background-repeat: no-repeat

  >.summary
    height: 96px
    position: relative
    display: flex
    flex-direction: row
    >.image
      flex: none
      overflow: hidden
      display: inline-block
      width: 64px
      height: 64px
      background-color: rgba(0,0,0,.1)
      margin: 16px
      background-size: cover
      border-radius: 50%


    .info
      display: flex 
      flex-direction: column
      padding: 16px
      flex: 1
      opacity: 1
      width: 100%
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 12px 8px 12px 0
      .name
        font-size: 1em
        padding: 4px 8px
        //color: $default-color-text
      .country
        flex: 1
        opacity: .7
        font-size: .9em
        padding: 0px 8px
      .ranking
        font-size: .9em
        padding: 4px 0
        display: flex
        flex-direction: row
        color: $secondary-color
        .ranking-score
          flex: none
          font-size: .9em
          padding: 4px 8px
        .ranking-title
          flex: 1
          font-size: .9em
          padding: 4px 8px

  .body
    flex: 1
    position: relative
    display: flex
    flex-direction: column
    .material-tabs
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      height: 48px
      white-space: no-wrap
      overflow: hidden
      .material-indicator
        background-color: $secondary-color
      .material-list
        display: flex
        flex-direction: row
        overflow: hidden
        .material-divider
          margin: 0
          padding: 0
          flex: 1 
          display: inline-block
        button
          flex: 1
          display: inline-block
          // flex-direction: column
          // flex: 1
          // white-space: normal
          padding: 0 10px
          //min-width: 60px
          height: 48px
          //margin: 0 1px
          border-radius: 0
          text-align: center
          background-repeat: no-repeat
          background-size: 30%
          background-position: center
          label
            color: $default-color-text
          &.button-uploaded
            background-size: 45%
            background-image: url(/theme/common/icon/uploaded.svg)
            label
              display: none

          &.button-likes
            background-size: 40%
            background-image: url(/theme/common/icon/like.svg)
            label
              display: none
            
          &.button-settings
            background-size: 35%
            background-image: url(/theme/common/icon/settings.svg)
            label
              display: none
            
          &.button-liked
            background-size: 40%
            background-image: url(/theme/common/icon/liked.svg)
            label
              display: none
            
          &.button-awards
            background-size: 40%
            background-image: url(/theme/common/icon/awards.svg)
            label
              display: none
            
          // &.button-contacts
          //   background-size: 40%
          //   background-image: url(/theme/common/icon/people.svg)
          //   label
          //     display: none

          &.button-userinfo
            background-size: 40%
            background-image: url(/theme/common/icon/user.svg)
            label
              display: none
            

    .views
      background-color: transparent
      .list.tracks
        color: rgba(255,255,255,.87)

  .toolbar-foot
    display: flex
    flex-direction: row
    padding: 16px
    margin: 0
    //display: flex
    .material-divider
      flex: 1
      border-bottom: none
      margin: 0
      padding: 0
    .button-settings
      width: 40px
      height: 40px
      background-image: url('/theme/common/icon/settings.svg')
      background-position: center
      background-repeat: no-repeat


body.dark-mode
  .playlist.view
    background-color: $background-color-dark
    .button-close
      background-image: url('/theme/common/icon/dark/close.svg')
    .body
      background-color: $surface-color-dark


@media only screen and (max-width: 640px)
  .playlist.view
    width: 100%

