
.registered.view
  z-index: 200
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  opacity: 0
  background-color: rgba(0,0,0,.7)
  transition: .225s opacity cubic-bezier(.4,0,.2,1)
  &.show
    pointer-events: auto
    opacity: 1
    transition: .195s opacity cubic-bezier(.4,0,.2,1)
    >.surface
      box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
      transform: translateX(0px)
      transition: .225s transform cubic-bezier(.4,0,.2,1)

  >.surface
    color: rgba(0,0,0,.87)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: initial
    display: flex
    flex-direction: column
    background-color: white
    overflow: visible
    width: 100%
    transform: translateX(100%)
    transition: .195s transform cubic-bezier(.4,0,.2,1)
    .head
      padding: 8px 16px
      flex: none
      display: flex
      height: 54px
      flex-direction: row
      background-color: #C5EFF9
      .title
        font-size: 1.3em
        color: rgba(0,0,0,.87)
        text-align: center
        margin: 6px 0
        font-weight: 400
        text-align: center
        border-radius: 10px
        text-align: center

      .button.close
        position: absolute
        right: 8px
        top: 8px

      .group.pick      
        #emphase
          font-size: .8em
          text-transform: uppercase
          font-style: none
          line-height: 1.5em
          text-align: center
          display: block
          margin: 0 0 12px 0
          color: rgba(0,0,0,.6)


    .body
      color: rgba(0,0,0,.87)
      display: flex
      flex-direction: column
      flex: 1
      // border: 2px solid rgba(0,0,0,.1)
      display: flex
      flex-direction: column

      .title
        padding: 16px

      .emphase
        font-size: .8em
        text-transform: uppercase
        font-style: none
        line-height: 1.5em
        text-align: center
        display: block
        margin: 12px 0
        color: #0085AC

      .group
        padding: 16px
        margin: 0 16px
        background-color: #F4CECE
        border-radius: 6px

      .group.new
        flex: none
        text-align: center
        margin-bottom: 10px
        margin-right: 20px
        margin-left: 16px
        em
          color: darken(#F4CECE, 15%)
          text-align: center
          font-size: .9em
          font-style: normal
          display: block
          text-align: center
          padding: 10px 20px
      

      .group.what
        padding: 16px
        margin: 0 16px
        background-color: #C5EFF9
        border-radius: 6px
        .block
          min-height: 50px
          padding-left: 45px
          margin-bottom: 8px
          background-position: 0 0
          background-repeat: no-repeat
          &.shuffle
            background-size: 36px
            background-image: url('/theme/minimal/icon/feature/shuffle.svg')
          &.taxi
            background-size: 36px
            background-image: url('/theme/minimal/icon/feature/taxi.svg')
          &.likes
            background-image: url('/theme/minimal/icon/feature/like.svg')
          &.player
            background-image: url('/theme/minimal/icon/feature/skip.svg')
          &.island
            background-image: url('/theme/minimal/icon/feature/island.svg')
          h3
            font-size: .8em
            text-transform: uppercase
            padding: 0
            margin: 0
            flex: none
          ul
            font-size: .8em
            // xlist-style: none
            padding: 0
            margin: 0
            margin-left: 16px
          .support
            margin-top: 10px

      .group.end
        margin: 16px 20px 16px 16px
        .info
          color: darken(#F4CECE, 15%)
          font-size: .7em
          text-transform: uppercase
          text-align: center
          

@media only screen and (min-width: $desktop_switch)
  .registered.view
    >.surface
      width: 380px

