.splash
  z-index: 20
  position: absolute
  top: 0
  bottom: 0
  left: 0
  opacity: 0
  background-color: rgba(0,0,0,.3)
  background-size: 56%
  background-repeat: no-repeat
  //background-position: 32px 90%
  background-position:  center 38%
  transition: .1s opacity linear
  &.show
    opacity: 1
    transition: .2s opacity linear


@media only screen and (min-width: $desktop_switch)
  .splash
    cursor: pointer
    background-size: 25%
    background-position: center 40%
    &.startscreen
      background-size: 35%