
// mobile
#startscreen
  cursor: pointer
  color: rgba(255,255,255,1)
  text-align: center
  font-size: 3em
  z-index: 1
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: none
  background-color: rgba(0, 0, 0, .4)
  background-image: url('/theme/minimal/img/startbeta.svg')
  background-size: 75%
  background-position: center 40%
  background-repeat: no-repeat
  &.show
    z-index: 50
    display: block

// desktop
@media only screen and (min-width: $desktop_switch)
  #startscreen
    //pointer-events: none

    background-size: 35%
    //display: block
    //opacity: 0
    //transition: .5s opacity
    &.show
      // pointer-events: auto
      //opacity: 1
      //transition: .5s opacity
      
