.subscription.view
  .head
    font-size: 0.8em
    font-weight: 400
    text-transform: uppercase
    position: absolute
    top: 0
    left: 0
    right: 0
    display: block
    padding: 8px 16px 8px 20px
    margin: 0
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  .body
    // position: relative
    overflow-x: hidden
    overflow-y: auto
    padding: 8px 20px
    margin-top: 31px
    .info
      padding: 16px 0
    .button
      margin: 0

    .subscription
      .card
        color: rgba(0,0,0,.67)
        background-color: rgba(255,255,255,.5)
        padding: 3px 6px
        border: 1px solid white
        border-radius: 3px
        margin-bottom: 20px
        margin-top: 20px
        
        .group
          display: flex
          .button
            flex: none
            
          .title 
            flex: 1
            font-size: 1.2em
            margin-bottom: 3px
        .group.detail
          border-top: 1px solid rgba(255,255,255,.5)
          div
            flex: 1
            padding: 3px 0
            &.brad
              flex: 3
            &.expdate
              text-align: right


      .nextbill
        display: flex
        .label
          flex: 1
        .billdate
          flex: none
          text-align: right

      .history
        .invoices
          color: rgba(0,0,0,.67)
          min-height: 26px
          background-color: rgba(255,255,255,.5)
          padding: 3px 6px
          border: 1px solid white
          border-radius: 3px
          margin-bottom: 20px
          margin-top: 20px
          .line
            display: flex
            .amount
              flex: 1
              text-align: right
            .status
              flex: 1
              text-align: center



      .toolbar
        display: flex
        margin-top: 20px
        .divider
          flex: 1

        .button
          border: 1px solid rgba(255,255,255,.87)
          color: rgba(255,255,255,.87)
          text-decoration: none

    .material-dialog
      position: absolute
      color: rgba(0,0,0,.87)
      .dialog-surface
        transform: translateY(-40%) scale(1)
        width: 320px
        .dialog-title
          margin: 12px 20px
        .material-toolbar
          text-align: right
          display: flex
          flex-direction: row
          margin: 12px 20px
          margin-left: auto
          .material-button
            color: rgba(0,0,0,.87)
            border: 1px solid rgba(0,0,0,.87)

  .method
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none
    background-color: white
    display: none
    flex-direction: column
    &.show
      display: flex
    .head
      flex: none
      .close
        background-image: url('/theme/common/icon/close.svg')
    .updateCard
      flex: 1
      border: 0
      margin: 0



.jointheclub
  cursor: pointer
  z-index: 190
  position: absolute
  bottom: 160px
  right: 0
  display: none
  height: 50px
  width: 90px
  margin: 0
  border-bottom-left-radius: 10px
  border-top-left-radius: 10px
  border: 2px solid white
  border-right: 0
  background-position: 5px center 
  background-size: 90%
  background-repeat: no-repeat
  background-image: url('/theme/minimal/icon/club/join.svg')
  background-color: #E99E9C
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  &:hover
    background-color: darken(#E99E9C, 10%)


body.registered-role
  .jointheclub
    display: block    

.dark-mode
  .subscription.view
    .body
      .material-dialog
        position: absolute
        color: rgba(0,0,0,.87)
        .dialog-surface
          background-color: white
          transform: translateY(-300px) scale(1)
          width: 320px
          .dialog-title
            margin: 12px 20px
          .material-toolbar
            text-align: right
            display: flex
            flex-direction: row
            margin: 12px 20px
            margin-left: auto
            .material-button
              color: rgba(0,0,0,.87)
              border: 1px solid rgba(0,0,0,.87)



@media only screen and (min-width: $desktop_switch)
  .jointheclub
    z-index: 3
    top: 140px
    bottom: initial
