.view.tracks
  z-index: 170
  position: fixed
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  width: 100%
  display: none
  flex-direction: column
  flex: none
  background-color: $primary-color
  
  // transition: .195s opacity cubic-bezier(.4,0,.2,1)
  &.show
    display: flex
    //transition: .195s opacity cubic-bezier(.4,0,.2,1)

  > .title
    display: none
  //box-shadow: none
  
  .tabview
    flex: 1
    positiom: relative
    .button.close
      //display: none
      z-index: 2
      position: absolute
      right: 14px
      top: 8px
      width: 32px
      height: 32px
      background-image: url('/theme/common/icon/dark/close.svg')
      background-position: center
      background-repeat: no-repeat
    .indicator
    >.tabs
      padding-right: 60px
      border-bottom: 1px solid rgba(255,255,255,.1)
      >.material-divider
        flex: 1
      >button
        
        margin: 0
        padding: 0
        label
          font-size: .9em
    >.indicator
      background-color: white
    >.views
      flex: 1
      background-color: transparent

body.dark-mode
  .view.tracks
    background-color: $background-color-dark
    .button-close
      background-image: url('/theme/common/icon/dark/close.svg')
    .tabvieww
      background-color: $surface-color-dark


@media only screen and (min-width: $desktop_switch)
  .view.tracks
    width: 400px
    z-index: 110
    top: 0
    right: 0
    bottom: 0
    padding-top: 64px
    border-radius: 12px
    border: 1px solid white
    border-right: none
    border-bottom: none
    border-top: none
    border-radius: 0
    background-color: #27669e
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    .tabview
      flex: 1
      positiom: relative
      .button.close
        right: 10px
        top: 4px

  body.dark-mode
    .view.tracks
      border: 1px solid black
       