.view
  overflow: hidden
  &.hide
    display: none
.views
  position: relative
  flex: 1
  overflow: hidden
  >.title
    font-size: 1.2em
    font-weight: 400
    padding: 8px 16px
    margin: 0

.tabview
  position: relative
  flex: 1
  >.list
    // position: relative 
    display: none
    &.show
      display: block

  >.form
    display: none
    overflow: scroll
    &.show
      display: block

  >.title
    flex: 1
    display: block
    text-transform: uppercase
    font-size: .8em
    font-weight: 400
    padding: 8px 16px 8px 20px
    margin: 0
    border-bottom: 1px solid rgba(255,255,255,.2)



.view
  overflow: initial

  .zoom
    left: 40px

  .view.history
   



.dark-mode
  .account.view
    
    //color: rgba(255,255,255,.87)
    //background-color: #eaeaea
