.context
  display: none
  position: absolute
  z-index: 10
  top: 76px
  right: 12px
  background-color: rgba(255,255,255,.97)
  max-width: 160px
  text-align: center
  padding: 5px 6px 4px
  transform: translateY(-10px)
  color: rgba(255,255,255,.87)
  border: 1px solid rgba(255,255,255,.87)
  background-color: $primary-color
  border-radius: 4px
  text-transform: uppercase
  font-size: .7em
  &.show
    display: flex
  .info
    flex: 1
    
  .more
    flex: 1

    display: none
    margin-left: 8px
    &.show
      display: block
    

@media only screen and (min-width: $desktop_switch)
  .context
    display: none
    &.show
      display: none