.view.country
  display: block
  z-index: 200
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  &.show
    .surface
      transform: translateX(0)
      transition: .195s transform cubic-bezier(.4,0,.2,1)

  .surface
    display: flex
    flex-direction: column
    font-size: 1.1em
    color: rgba(0,0,0,.87)
    z-index: 151
    position: absolute
    top: 56px
    left: 0
    bottom: 110px
    width: 100%
    background-color: white
    background-color: #ecdfc0
    overflow: hidden
    transform: translateX(-100%)
    transition: .195s transform cubic-bezier(.4,0,.2,1)
    .head
      flex: none
      display: flex
      border-bottom: 1px solid rgba(0,0,0,.1)
      .selectcountry
        display: block
        flex: 1
        padding: 12px 8px 12px 20px
      .close
        top: 0
        right: 0
        height: 44px
        width: 44px

    .body
      flex: 1
      overflow: auto
      .item
        padding: 16px 20px
        &:hover
          background-color: rgba(0,0,0,.05)

    .foot
      display: none
      flex: none

body.dark-mode
  .view.country
    .surface
      background-color: black
      color: rgba(255,255,255,.87)
      .head
        .close
          background-image: url('/theme/common/icon/dark/close.svg')
      .body
        .item
          &:hover
            background-color: rgba(255,255,255,.05)


@media only screen and (min-width: $desktop_switch)
  .view.country
    .surface
      font-size: 1.1em
      z-index: 150
      width: 300px
      bottom: 0
      padding-bottom: 0
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
      .head
        .close
          width: 32px
          height: 32px
          margin: 2px
          top: 4px
          right: 4px

      .body
        .item
          user-select: none
          cursor: pointer
          padding: 16px 22px
          &:hover
            background-color: rgba(0,0,0,.05)

      .foot
        display: block
        padding: 16px 22px
        flex: none