.search-input
  position: relative
  height: 40px
  width: 100%
  display: none
  flex-direction: row
  border-bottom: 1px solid rgba(255,255,255,.1)
  background-color: rgba(0,0,0,.1)
  &.show
    display: flex
  >.icon
    padding: 8px 0 8px 24px
    svg
      fill: $primary-color
  >.input
    flex: 1
    font-size: 1.2em
    padding: 8px 16px 8px 16px
    border: none
    margin: 0
    background-color: transparent
  
  >.clear
    cursor: pointer
    opacity: .4
    flex: none
    width: 56px
    height: 40px
    margin: 0
    background-color: transparent
    background-image: url('/theme/common/icon/search/clear.svg')
    background-position: center
    background-size: 40%
    &:focus
      opacity: .4
      background-color: transparent
    &:hover, &:active
      opacity: .7
      background-color: transparent
    .icon
      svg
        fill: $primary-color
      