.station
  user-select: none
  z-index: 10
  cursor: pointer
  display: none
  color: rgba(0,0,0,.87)
  font-size: 0.7em
  pointer-events: auto
  position: fixed
  left: 12px
  top: 66px
  padding: 4px 8px
  flex-direction: row
  background-color: #FEE760
  border-radius: 4px
  border: 1px solid rgba(255,255,255,.87)
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
  &.show
    display: flex
    
  .year, .place
    color: rgba(0, 0, 0, .7)
  .country
    opacity: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    text-transform: uppercase
  .year
    font-weight: 600
    padding-left: 2px

@media only screen and (min-width: $desktop_switch)
  .station
    display: none
    cursor: pointer
    height: 23px
    line-height: 1.2em
    padding: 4px 6px 4px
    top: 62px
    left: 32px
    font-weight: 500
    font-size: .7em
    color: rgb(39, 102, 158)
    color: rgba(0,0,0,.9)
    background-color: #FEE760
    border-radius: 4px
    border: 1px solid rgba(255,255,255,.87)
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
    &.show
      display: flex