.switcher
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  position: relative
  margin-right: 16px
  padding-top: 8px
  margin-bottom: 8px
  vertical-align: top
  label
    flex: 1
    order: 1
    cursor: default
    font-size: 1rem
    line-height: 1.2rem
    padding: 14px 0
    margin: 0px 2px 0px 0
    overflow: hidden
  ul
    order: 2
    display: inline-block
    list-style: none
    padding: 0
    height: 40px
    margin: 0
    padding: 5px
    border-radius: 20px
    background-color: rgba(0, 0, 0, 0.03)
    li
      cursor: pointer
      font-size: .8em
      font-weight: 600
      padding: 8px 16px 7px
      display: inline-block
      border-radius: 16px
      transition: 50ms background-color linear
      &.selected
        color: rgba(0,0,0, .87)
        // background-color: #4891F4
        background-color: white
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12)
        transition: 50ms backgroundColor linear
  &.small-size
    ul
      height: 32px
      margin: 0
      padding: 5px
      border-radius: 16px
      li
        cursor: pointer
        font-size: .7em
        font-weight: 600
        padding: 4px 8px 5px
        display: inline-block
        border-radius: 12px

  &.inline
    label
      display: inline