.warning.control
  z-index: 400
  position: absolute
  top: 84px
  left: 0
  right: 0
  display: none
  text-align: center
  &.clickable
    cursor: pointer
  >.message
    color: white
    font-size: .8em
    text-transform: uppercase
    display: inline-block
    padding: 3px 8px
    padding-left: 32px
    margin: 0 auto
    background-color: #E6B13A
    background-image: url('/theme/common/icon/warning.svg')
    background-position: 8px center 
    background-repeat: no-repeat
    background-size: 16px 16px
    border-radius: 2px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    transition: 1s
  &.show
    display: block
