// mobile first

.timeline
  user-select: none
  flex: none 
  position: absolute
  z-index: 2
  bottom: $player_height - 5px
  display: flex
  flex-direction: row
  left: 0
  right: 0
  color: $timeline-color-text
  background-color: rgba(255,255,255,.8)
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  transition: 425ms transform cubic-bezier(.4,0,.2,1)
  .body
    white-space: nowrap
    position: relative
    display: inline-block
    height: 50px
    vertical-align: bottom
    text-align: center
    padding: 5px 32px 7px
    overflow-x: scroll
    overflow-y: hidden
    padding-bottom: 4px
    -webkit-overflow-scrolling: touch
    .decade 
      color: $timeline-color-text
      font-size: 1em 
      vertical-align: bottom
      position: relative
      cursor: pointer
      display: inline-block
      width: 64px
      height: 34px
      margin: 0 2px
      padding: 0
      bottom: 0
      border-radius: 16px
      border: none
      box-shadow: none
      background-color: transparent
      &.selected
        z-index: 1
        color: white
        // font-weight: 700
        width: 64px
        cursor: default
        background-color: darken($primary-color, 10%)

  &.hide
    transform: translateY(48px)
    transition: 425ms transform cubic-bezier(.4,0,.2,1)

  //mode multiple
  &.mode-multiple
    .body
      .decade
        &.selected
          z-index: 1
          color: white
          // font-weight: 700
          // width: 64px
          cursor: default
          background-color: #CEB105
          &.playing
            opacity: 1
            background-color: darken($primary-color, 10%)
        &.playing
          z-index: 1
          color: white
          // font-weight: 700
          // width: 64px
          cursor: default
          background-color: darken($primary-color, 10%)

body.dark-mode
  .timeline
    background-color: rgba(0,0,0,.4)
    background-color: rgba($surface-color-dark,.4)
    background-color: rgba(255,255,255,.05)
    >.head
      .year, .place
        color: rgba(0,0,0,.6)
    >.body
      .decade
        color: rgba(255,255,255,.9)

// desktop
@media only screen and (min-width: $desktop_switch)
  // timeline
  .timeline
    text-align: center
    width: 100%
    height: 44px
    position: relative
    bottom: initial
    .head
      display: none
      cursor: pointer
      padding: 5px 6px 4px
      top: 62px
      left: 32px
      font-weight: 500
      font-size: .6em
      text-transform: uppercase
      color: rgb(39, 102, 158)
      color: rgba(0,0,0,.9)
      background-color: #FEE760
      border-radius: 4px
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
      &.show
        display: flex
    .body
      width: 100%
      height: 100%
    //mode multiple

  body.dark-mode
    .timeline
      .head
        // height: 36px
        // padding: 8px

      >.body
        >.decade
          &.selected
            &:hover
              background-color: #68b5e4


