// mobile first

.timeline
  user-select: none
  flex: none 
  position: absolute
  z-index: 2
  bottom: $player_height - 5px
  display: flex
  flex-direction: row
  left: 0
  right: 0
  color: $timeline-color-text
  background-color: rgba(255,255,255,.8)
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
  transition: 425ms transform cubic-bezier(.4,0,.2,1)
  .body
    white-space: nowrap
    position: relative
    display: inline-block
    height: 50px
    vertical-align: bottom
    text-align: center
    padding: 5px 32px 7px
    overflow-x: scroll
    overflow-y: hidden
    padding-bottom: 4px
    -webkit-overflow-scrolling: touch
    .decade
      color: $timeline-color-text
      font-size: 1em 
      vertical-align: bottom
      position: relative
      cursor: pointer
      display: inline-block
      width: 58px
      height: 34px
      margin: 0 2px
      padding: 0
      bottom: 0
      border-radius: 16px
      border: none
      box-shadow: none
      background-color: transparent
      &.selected
        z-index: 1
        color: white
        font-weight: 500
        width: 64px
        cursor: default
        background-color: darken($primary-color, 5%)

  &.hide
    transform: translateY(48px)
    transition: 425ms transform cubic-bezier(.4,0,.2,1)

  //mode multiple
  &.mode-multiple
    .body
      .decade
        &.selected
          z-index: 1
          color: white
          font-weight: 500
          width: 64px
          cursor: default
          background-color: #CEB105
          &.playing
            opacity: 1
            background-color: darken($primary-color, 10%)
        &.playing
          z-index: 1
          color: white
          font-weight: 500
          width: 64px
          cursor: default
          background-color: darken($primary-color, 10%)
          
  .button.settings
    display: none

body.dark-mode
  .timeline
    background-color: rgba(0,0,0,.4)
    background-color: rgba($surface-color-dark,.4)
    background-color: rgba(255,255,255,.05)
    >.head
      .year, .place
        color: rgba(255,255,255,.6)
    >.body
      .decade
        color: rgba(255,255,255,.9)

// desktop
@media only screen and (min-width: $desktop_switch)
  // timeline
  .timeline
    height: 32px
    position: relative
    bottom: initial
    border-bottom: 1px solid rgba(0,0,0,.87)
    border-top-left-radius: 14px
    border-top-right-radius: 14px
    background-color: rgba(255,255,255,1)
    &.up
      transform: none
      bottom: initial


    >.body
      pointer-events: none
      position: absolute
      width: 100%
      height: 96px
      bottom: 0
      margin: 0 auto
      vertical-align: bottom
      overflow: hidden
      overflow-x: hidden
      overflow-y: hidden
      // background-color: rgba(white, .4)

      >.decade
        pointer-events: auto
        font-size: .9em
        font-weight: 500
        color: rgba(0,0,0,.9)
        line-height: 1.1em
        width: 56px
        height: 64px
        padding: 0
        padding-top: 42px
        margin: 18px 3px 4px
        border-radius: none
        border-radius: 8px
        background-color: transparent
        background-size: 56px 120px
        background-repeat: no-repeat
        background-position: 0 0
        background-image: url('/theme/fancy/icon/timeline/off.svg')
        transition: 100ms cubic-bezier(.4,0,.2,1)

        &:hover
          height: 78px
          padding-top: 54px
          margin-top: 0
          background-color: transparent
          background-image: url('/theme/fancy/icon/timeline/off.svg')
          transition: 100ms cubic-bezier(.4,0,.2,1)

        &.selected, &.selected.playing
          color: rgba(0, 0, 0, 0.9)
          font-weight: 500
          height: 78px
          width: 56px
          padding-top: 54px
          margin-top: 0
          background-color: transparent
          background-size: 56px 120px
          background-image: url('/theme/fancy/icon/timeline/on.svg')
          transition: 100ms cubic-bezier(.4,0,.2,1)
          &:hover
            background-color: transparent
            background-size: 56px 120px
          // border-radius: 6px
          // // border: 2px solid rgba(255,255,255,1)
          // border: none
        &.playing
          opacity: 1
          color: rgba(0, 0, 0, 0.9)
          font-weight: 500
          height: 64px
          width: 56px
          padding-top: 42px
           margin: 18px 3px 4px
          background-color: transparent
          background-size: 56px 120px
          // background-image: url('/theme/fancy/icon/timeline/on.svg')
          transition: 100ms cubic-bezier(.4,0,.2,1)
          &:hover
            background-color: transparent
            background-size: 56px 120px
          // border-radius: 6px
          // // border: 2px solid rgba(255,255,255,1)
          // border: none


    //mode multiple
    &.mode-multiple
      .body
        .decade
          background-size: 56px 120px
          background-image: url('/theme/fancy/icon/timeline/off.svg')
          &:hover 
            background-image: url('/theme/fancy/icon/timeline/off.svg')
           
          &.selected, &.selected:hover
            cursor: pointer
            color: rgba(0, 0, 0, 0.9)
            font-weight: 500
            height: 78px
            width: 56px
            padding-top: 54px
            margin-top: 0
            background-color: transparent
            background-size: 56px 120px
            background-image: transparent
            background-image: url('/theme/fancy/icon/timeline/taxi.svg')
            transition: 100ms cubic-bezier(.4,0,.2,1)
            background-image: url('/theme/fancy/icon/timeline/taxi.svg')
            &.playing
              background-image: url('/theme/fancy/icon/timeline/on.svg')
              background-color: transparent
          &.playing
            opacity: 1
            color: rgba(0, 0, 0, 0.9)
            font-weight: 500
            height: 78px
            width: 56px
            padding-top: 54px
            margin-top: 0
            background-color: transparent
            background-size: 56px 120px
            background-image: url('/theme/fancy/icon/timeline/on.svg')
            transition: 100ms cubic-bezier(.4,0,.2,1)
            &:hover
              background-color: transparent
              background-size: 56px 120px

    .button.settings
      position: absolute
      right: 14px
      top: 0
      display: inline-block
      width: 32px
      height: 32px
      margin: 0
      background-size: 60%
      background-image: url(/theme/common/icon/settings.svg)

  body.dark-mode
    .timeline
      background-color: $background-color-dark
      >.body
        >.decade
          color: rgba(255, 255, 255, 0.9)
          background-image: url('/theme/fancy/icon/timeline/dark/off.svg')
          &:hover
            color: rgba(255, 255, 255, 0.9)
            background-image: url('/theme/fancy/icon/timeline/dark/on.svg')
          &.selected
            color: rgba(255, 255, 255, 0.9)
            background-image: url('/theme/fancy/icon/timeline/dark/on.svg')


      &.mode-multiple
        .body
          .decade
            color: rgba(255, 255, 255, 0.9)
            background-image: url('/theme/fancy/icon/timeline/dark/off.svg')
            &:hover
              color: rgba(255, 255, 255, 0.9)
              background-image: url('/theme/fancy/icon/timeline/dark/taxi.svg')
             
            &.selected, &.selected:hover
              color: rgba(255, 255, 255, 0.9)
              background-image: url('/theme/fancy/icon/timeline/dark/taxi.svg')
              &.playing
                background-image: url('/theme/fancy/icon/timeline/dark/on.svg')
            &.playing
              color: rgba(255, 255, 255, 0.9)
              background-image: url('/theme/fancy/icon/timeline/dark/on.svg')
