$width: 1200px

body.passculture
  .plans.view
    font-family: roboto,arial,sans-serif
    z-index: 1
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    opacity: 1
    display: block
    background-color: rgba(0,0,0,.7)
    opacity: 0
    transform: translateY(-1000px)
    transition: .295s opacity cubic-bezier(.4,0,.2,1), .395s transform cubic-bezier(.4,0,.2,1)
    &.show
      opacity: 1
      transform: translateY(0)
      transition: .295s opacity cubic-bezier(.4,0,.2,1), .395s transform cubic-bezier(.4,0,.2,1)

    button.button
      font-family: roboto,arial,sans-serif
      border: 0

    .surface
      color: rgba(0,0,0,.87)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: initial
      background-color: white
      overflow: auto
      width: 100%
      // scroll-behavior: smooth
      // transform: translateX(100%)
      // transition: .195s transform cubic-bezier(.4,0,.2,1)
      .head
        position: relative
        flex: none
        // display: flex
        // flex-direction: column
        text-align: center
        color: white
        padding-top: 36px
        padding-bottom: 8px
        padding-left: 48px
        padding-right: 48px
        // border-bottom: 1px solid rgba(0,0,0,.1)
        //background-color: #3EA8D7
        background-image: linear-gradient(90deg,#eb0055,#320096)
        .partner
          position: absolute
          top: 10px
          left: 0
          width: 346px
          height: 77px
          background-image: url('/theme/partner/passculture/logo.svg')
        .logo
          position: relative
          display: inline-block
          top: 0
          left: 0
          width: 160px
          height: 50px
          margin: 0 16px 10px
          background-image: url('/theme/common/logo.svg')
          background-size: cover
          flex: none
        .title
          flex: 1
          color: white
          font-size: 2.2em
          font-weight: 600
          // line-height: 1.3em
          padding: 0
          margin: 10px 16px
        .join
          height: 40px
          font-size: 1.1em
          font-weight: 300
        // .thankyou
        //   display: none 
        .action
          text-align: center
          padding: 24px
          .viewplans
            color: white
            font-size: 1.1em
            font-weight: 600
            text-decoration: none
            display: inline-block
            height: 45px
            text-transform: none
            padding: 8px 48px
            background-color: #038B00
            border-radius: 22px

        .purchases
          text-align: center
          display: none
          flex: none
          margin: 10px 0
          &.show
            display: block
          .restore
            display: inline-block
            padding: 16px
            cursor: pointer
            color: white

        .close
          position: absolute
          top: 4px
          right: 4px
          flex: none
          background-image: url('/theme/common/icon/dark/close.svg')
          margin: 0

      .body
        .block
          max-width: 800px
          margin: 0 auto
          .title
            font-size: 1.6em
            font-weight: 500
            margin: 36px 24px

        .block.what
          display: block
          padding: 16px 36px
          margin: 0 auto
          border-radius: 6px
          .title
            margin: 24px 0 48px
            text-align: center
          .group
            display: flex
            flex-direction: column
            .item
              display: flex
              flex-direction: column
              justify-content: center
              font-size: 1.1em
              font-weight: 400
              line-height: 1.3em
              width: 100%
              margin-bottom: 60px
              height: 84px
              padding-left: 110px
              padding-right: 8px
              vertical-align: center
              background-repeat: no-repeat
              background-position: 0 0
              background-size: contain
              &.playlist
                background-image: url('/plans/img/like.svg')
              &.player
                background-image: url('/plans/img/skip.svg')
              &.tracks
                padding-bottom: 8px
                background-image: url('/plans/img/tracks.svg')
              &.power
                background-image: url('/plans/img/power.png')
              .emphase
                font-weight: 600
                // text-transform: uppercase
                padding: 0
                margin: 0
                flex: none
              .support
                margin-top: 10px


        .block.main
          color: rgba(0,0,0,.87)
          display: flex
          flex-direction: column
          flex: 1
          // border: 2px solid rgba(0,0,0,.1)
          display: flex
          flex-direction: column
          overflow: auto
          max-width: $width
          margin: 0 auto

          .group.header
            margin-bottom: 64px
            .title
              font-size: 2em
              font-weight: 600
              text-align: center
              margin-bottom: 8px

            .subheader
              font-size: 1.1em
              color: rgba(0,0,0,.5)
              text-align: center
              padding: 0 48px
            #emphase
              font-size: .8em
              text-transform: uppercase
              font-style: none
              line-height: 1.5em
              text-align: center
              display: block
              margin: 0 0 12px 0
              color: rgba(0,0,0,.6)

          .group.offer
            display: flex
            flex-direction: column
            flex: none
            text-align: center
            margin-bottom: 10px
            margin-right: 0
            margin-left: 0
            margin-right: 0
              // height: 174px
            // overflow: hidden
            .title
              margin: 0
              text-align: center
            .plan
              float: left
              line-height: 1.5em
              color: rgba(0,0,0,.87)
              text-transform: none
              text-decoration: none
              text-align: center
              position: relative
              flex: 1
              display: flex
              flex-direction: column
              height: initial
              padding: 8px 8px
              margin: 0 16px
              margin-bottom: 64px
              border: 2px solid #E5E5E5
              border-radius: 10px
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
              &.monthly
                order: 2
                .top
                  display: block
                  background-color: white
                  border: 1px solid #E5E5E5
                  &.hide
                    display: none
              &.yearly
                order: 1
                background-color: #F4FCFF
                border: 2px solid darken(#E6F6F9, 30%)
                .top
                  display: block
                  background-color: #F4FCFF
                  border: 2px solid #3EA8D7
                  &.hide
                    display: none
              &.free
                order: 3
                margin-top: 32px
                .button.subscribe.hide
                  display: none

              // &:hover
              //   background-color: #FFF8E8
              //   border: 2px solid darken(#FFF8E8, 30%)
              //   .top
              //     background-color: #FFF8E8
              //     border: 2px solid darken(#FFF8E8, 30%)
              span
                color: rgba(0,0,0,87)
                font-size: 1.2em
                display: block
                padding: 4px
              .top
                color: #666666
                font-size: .9em
                font-weight: 500
                text-align: center
                position: absolute
                top: -18px
                left: 0
                right: 0
                display: inline-block
                width: 130px
                padding: 4px 8px 2px
                margin: 0 auto
                background-color: white
                border: 2px solid white
                border-radius: 12px 
                
              .name
                color: #002FA9
                font-size: 1.1em
                font-weight: 600
                display: block            
                margin: 32px 0 2px
              .info
                color: #666666
                font-size: .9em
                padding: 2px
                margin-bottom: 10px
              .price
                display: flex
                flex-direction: row
                justify-content: center
                margin-bottom: 14px
                .currency
                  width: 36px
                  text-align: right
                  align-self: flex-start
                  font-weight: 700
                  font-size: 1.2em
                .amount
                  line-height: 1.3em
                  font-size: 3em
                  font-weight: 900
                  height: 52px
                  padding: 0
                .period
                  font-size: .7em
                  color: #666666
                  padding-top: 8px
                  align-self: flex-end

              .free-price-text
                .free
                  font-size: 2em
                  font-weight: 900
                  padding: 0 5px

              .save
                font-size: 1.1em
                text-align: center
                color: #D22E26
                font-weight: 600
                margin: 6px 0

              .action
                .button.subscribe
                  font-size: 1.1em
                  font-weight: 600
                  color: white
                  text-transform: none
                  background-color: #358825
                  display: inline-block
                  justify-content: center
                  padding: 10px 48px
                  margin: 10px 0
                  height: initial
                  border-radius: 22px


              .items
                padding: 0 12px 0 16px
                margin: 10px 0
                .item
                  text-align: left
                  font-size: 1.1em
                  line-height: 1.2em
                  list-style: none
                  padding: 4px 0 8px 42px
                  background-image: url('/plans/img/check.svg')
                  background-repeat: no-repeat
                  background-size: 16px
                  background-position: 0 6px
                  margin: 8px 0
                  &.uncheck
                    background-image: url('/plans/img/uncheck.svg')

        
        .block.seenon
          .title
            margin-top: 32px
          .items
            display: block
            margin: 0 20px
            padding: 0
            overflow: hidden
            .item
              float: left
              list-style: none
              color: white
              width: 33%
              height: 80px
              margin: 4px 0
              background-size: 65%
              background-repeat: no-repeat
              background-position: center
              &.thenewyorker
                background-image: url('/img/logo/thenewyorker.svg')
              &.theguardian
                background-image: url('/img/logo/theguardian.svg')
              &.liberation
                background-image: url('/img/logo/liberation.svg')
              &.canalplus
                background-image: url('/img/logo/canalplus.svg')
              &.fader
                background-image: url('/img/logo/fader.jpg')
              &.konbini
                background-image: url('/img/logo/konbini.svg')

  @media only screen and (min-width: 760px)
    .plans.view
      .surface
        .head
          .logo
            width: 260px
            height: 80px
            margin: 10px 16px
          .title
            font-size: 2.4em
          .join
            height: 20px
          .action
            text-align: center
            padding: 42px
          .close
            position: fixed
            top: 2px
            right: 2px
            flex: none
            background-image: url('/theme/common/icon/dark/close.svg')
            background-color: #3EA8D7
            margin: 8px

        .body
          padding: 0 20px
          .block
            max-width: $width
            margin: 0 auto 84px
            .title
              font-size: 2em
              font-weight: 600
              margin: 36px 0
            .info
              color: #666666

          .block.what
            padding: 16px 0
            margin-bottom: 32px
            .title
              text-align: left
            .group
              display: flex
              flex-direction: row
              .item
                margin-bottom: 8px

          .block.main
            color: rgba(0,0,0,.87)
            display: flex
            flex-direction: column
            flex: 1
            // border: 2px solid rgba(0,0,0,.1)
            display: flex
            flex-direction: column
            overflow: auto
            max-width: $width
            margin: 0 auto 64px

            .group.header
              margin-bottom: 70px
              .title
                font-size: 2em
                text-align: center
                margin-bottom: 16px
              .subheader
                text-align: center
              #emphase
                font-size: .8em
                text-transform: uppercase
                font-style: none
                line-height: 1.5em
                text-align: center
                display: block
                margin: 0 0 12px 0
                color: rgba(0,0,0,.6)

            .group.offer
              display: flex
              margin-bottom: 10px
              margin-left: 16px
              margin-right: 0
              flex-direction: row
                // height: 174px
              // overflow: hidden
              .title
                margin: 0
                text-align: center
              .divider
                flex: 1
              .plan
                // order: 2
                flex: none
                width: 33%
                margin: 0 16px
                margin-bottom: 32px
                .months
                &.free
                  margin-top: 32px
                span
                  color: rgba(0,0,0,87)
                  font-size: 1.2em
                  display: block
                  padding: 4px
                  

          .block.seenon
            .title
              margin-top: 32px
              // padding: 10px 0
            .items
              display: flex
              flex-direction: row
              flex-wrap: wrap
              margin: 0
              .item
                list-style: none
                color: white
                flex: 1
                width: initial
                max-width: 25%
                height: 56px
                margin: 16px 32px
                justify-content: center
                background-size: contain
                background-repeat: no-repeat
                background-position: center

          .block.faq
            display: block
            padding: 16px 0
            margin: 0 auto
            border-radius: 6px
            .title
              margin: 56px 0
            .items
              font-size: 1.1em
              line-height: 1.3em
              display: block
              overflow: hidden
              .item
                float: left
                display: inline-block
                width: 33.333%
                margin-bottom: 32px
                height: 120px
                vertical-align: center
                background-repeat: no-repeat
                background-position: 0 0
                background-size: contain
                padding-right: 32px
                .question
                  font-weight: 600
