// mobile

.audio-player
  flex: 1
  z-index: 0
  display: flex
  flex-direction: column
  -webkit-touch-callout: none
  -webkit-user-select: none

  &.show
    .inner
      .body
        .progress
          display: block
          position: fixed
          z-index: 3
          bottom: $player_height + $appbar_height
          left: 0
          right: 0
          height: 44px
          flex: none
          transition: .1s ease height
          background-color: rgb(34, 89, 138)
          border-top: 1px solid rgba(255,255,255,.1)
          .indicator    
            position: absolute
            bottom: 0
            left: 0
            height: 100%
            border-right: 1px solid #E3A39F
            background-color: rgba(0,0,0,.1)
            transition: width 25ms ease
          .buffer
            bottom: 0
            left: 0
            position: absolute
            height: 100%
            background-color: rgba(0,0,0,.05)
            transition: width 25ms ease

          .time
            display: block
            z-index: 3
            pointer-events: none
            position: absolute
            left: 0
            right: 0
            bottom: 2px
            height: 18px
            >div
              position: absolute
              display: block
              width: 50px
              font-size: .7em
              padding: 3px
            .current
              text-align: left
              top: 0
              left: 12px
            .duration
              text-align: right
              top: 0
              right: 12px

  .inner
    position: relative
    height: $player_height
    // overflow: hidden
    z-index: 3
    display: flex
    background-color: #3FA8D7

    video
      display: none
    audio
      position: fixed
      right: 16px
      bottom: 96px

    .image
      // display: none
      width: $player_height
      height: $player_height
      background-repeat: no-reapet
      background-size: cover
      background-color: rgba(0,0,0,.2)
      .open
        width: 100%
        height: 100%
    .body
      flex: 1
      display: flex
      flex-direction: column
      width: 100%

      .info
        position: absolute
        left: 144px
        right: 44px
        margin: 4px 0
        overflow: hidden
        text-align: center
        height: 40px
        z-index: 3
        height: $player_height
        padding: 4px 0
        margin: 0
        // background-color: green
        .title
          z-index: 1
          position: absolute
          top: 6px
          left: 0
          right: 0
          height: 18px
          text-align: center
          font-size: .8em
          line-height: 1.6em
          overflow: hidden
          color: white
        .artist
          z-index: 1
          position: absolute
          top: 24px
          left: 0
          right: 0
          text-align: center
          font-size: .8em
          line-height: 1.9em
          overflow: hidden
          color: white

      .progress
        display: none
        position: fixed
        z-index: 3
        bottom: $player_height + $appbar_height
        left: 0
        right: 0
        height: 44px
        flex: none
        transition: .1s ease height
        background-color: rgb(34, 89, 138)
        .indicator    
          position: absolute
          bottom: 0
          left: 0
          height: 100%
          border-right: 1px solid #E3A39F
          background-color: rgba(0,0,0,.1)
          transition: width 25ms ease
        .buffer
          bottom: 0
          left: 0
          position: absolute
          height: 100%
          background-color: rgba(0,0,0,.05)
          transition: width 25ms ease

        .time
          display: block
          z-index: 3
          pointer-events: none
          position: absolute
          left: 0
          right: 0
          bottom: 2px
          height: 18px
          >div
            position: absolute
            display: block
            width: 50px
            font-size: .7em
            padding: 3px
          .current
            text-align: left
            top: 0
            left: 12px
          .duration
            text-align: right
            top: 0
            right: 12px

      .controls
        pointer-events: none
        position: absolute
        z-index: 2
        top: 0
        left: $player_height
        right: 0
        display: flex
        height: $player_height
        transition: 195ms left cubic-bezier(.4,0,.2,1)
        .group
          flex: 1
          display: flex
          pointer-events: auto
          &.command
            order: 1
          &.social
            flex: none
            order: 2
            justify-content: right
          &.alternate
            display: none
          .divider
            flex: 1
          .button.style-action
            height: $player_height - 6px
            width: $player_height - 6px
            padding: 0
            margin: 3px
            border-radius: 50%
            background-repeat: no-reapet
            background-position: center
            background-size: 50%
            display: inline-block
            transition: transform .1s, background-color .1s
            &:hover
              background-color: none
            &.pushed
                transform: scale(.8)
                background-color: rgba(255,255,255,0.35)
            &.prev
              display: none
              background-image: url('/theme/minimal/icon/player/prev.svg')
              
            &.history
              position: fixed
              left: 4px
              height: 48px
              width: 48px
              bottom: $appbar_height + $player_height + 52px
              // display: none
              background-size: 60%
              background-image: url('/theme/fancy/icon/player/history.svg')
              //background-color: rgb(34, 89, 138)
              // background-color: rgb(34, 89, 138)
            &.play
              height: 44px
              width: 44px
              margin: 5px 3px
              background-size: 45%
              background-position: 13px center
              background-image: url('/theme/minimal/icon/player/play.svg')
            &.pause
              background-size: 40%
              // background-position: 4px center 
              background-image: url('/theme/minimal/icon/player/pause.svg')
            &.next
              height: 40px
              width: 40px
              margin: 7px 0px
              padding-left: 0
              background-size: 45%
              background-image: url('/theme/minimal/icon/player/next.svg') 
            &.like
              height: 40px
              width: 40px
              margin: 7px 0px
              background-size: 75%
              background-image: url('/theme/minimal/icon/social/like.svg')
              label
                display: block
                width: 100%
                height: 100%
                font-weight: 500
                font-size: .6em
                text-align: center
                padding: 5px 0
                color: rgba(0,0,0,.67)
              &.liked
                background-image: url('/theme/minimal/icon/social/liked.svg')
                label
                  color: white
            &.share
              display: none
              background-position: 6px center
              background-image: url(/theme/minimal/icon/social/share.svg)


            input.volume
              display: none

.dark-mode
  .audio-player
    &.show
      .inner
        .progress
          background-color: $surface-color-dark
          border-bottom: 1px solid $background-color-dark
    .inner
      background-color: $background-color-dark

body
  &.admin-role, &.digger-role, &.premium-role
    .audio-player
      .inner
        .body
          .info
            .progress
              pointer-events: auto


// desktop

@media only screen and (min-width: $desktop_switch)
  // audioplayer
  .audio-player
    background-color: #3FA8D7

    &.show
      .inner
        border-top: 1px solid rgba(255,255,255,.05)
      .track
        transform: none

    video
      position: absolute
      right: 0
      top: 0
      left: 300px
      height: 300px

    .track.info
      z-index: 1
      height: 300px
      background-color: transparent
      transform: none
      .cover
        height: 300px
        width: 300px
        margin: 0
    .inner
      height: 100px
      background-color: #3FA8D7
      .image
        position: relative
        cursor: pointer
        display: block
        width: 100px
        height: 100px
        .open
          display: none
          height: 24px
          width: 24px
          position: absolute
          top: 8px
          right: 8px
          background-position: center 
          background-image: url('/theme/common/icon/closedown.svg')
          background-color: rgba(0,0,0,.4)
          border-radius: 50%
          transform: rotate(180deg)
        &:hover
          .open
            display: block

      .body
        height: 100px
        .info
          pointer-events: none
          position: relative
          left: initial
          right: initial
          overflow: hidden
          text-align: center
          height: 40px
          z-index: 3
          height: 50px
          padding: 4px 70px 4px 70px
          margin: 0
          border-bottom: 1px solid rgba(0,0,0,.07)
          .title
            pointer-events: none
            top: 4px
            left: 16px
            right: 16px
            height: 23px
            text-align: center
            font-size: .9em
            line-height: 1.6em
            overflow: hidden
          .artist
            pointer-events: none
            z-index: 5
            position: absolute
            top: 26px
            left: 64px
            right: 64px
            text-align: center
            font-size: .8em
            line-height: 1.6em
            overflow: hidden

        .progress
          pointer-events: auto
          position: absolute
          z-index: 2
          top: 0
          bottom: 0
          left: 100px
          right: 0
          display: block
          flex: none
          height: 49px
          background-color: transparent
          transition: .1s ease height
          >.indicator    
            position: absolute
            bottom: 0
            left: 0
            height: 100%
            border-right: none
            background-color: #0B89B5
            background-color: rgba(0,0,0,.05)
            transition: width 25ms ease
          >.buffer
            bottom: 0
            left: 0
            position: absolute
            height: 100%
            background-color: rgba(0,0,0,.03)
            transition: width 25ms ease

          .time
            display: block
            z-index: 3
            pointer-events: none
            position: absolute
            left: 0
            right: 0
            bottom: 2px
            height: 18px
            >div
              position: absolute
              display: block
              width: 50px
              font-size: .7em
              padding: 3px
            .current
              text-align: left
              top: 0
              left: 12px
            .duration
              text-align: right
              top: 0
              right: 12px

        .controls
          flex: 1
          position: relative
          top: initial
          height: 50px
          left: 0
          margin-top: 0
          margin-bottom: 0
          top: initial
          .group
            &.social
              flex: 1
              order: 1
              justify-content: left
            &.alternate
              flex: 1
              order: 3
              display: flex
              justify-content: flex-end
            &.command
              flex: 1
              order: 2
              justify-content: center

            .button.style-action
              display: inline-block
              height: 40px
              width: 40px
              flex: none
              margin: 5px
              background-size: 100%
              background-size: cover
              background-color: transparent
              border-radius: 50%
              opacity: .8
              &:hover
                opacity: 1
                background-color: transparent
              &:active
                opacity: 1
                background-color: transparent
             
              &.history
                position: relative
                bottom: initial
                left: initial
                padding: 6
                margin: 5px
                display: inline-block
                height: 40px
                width: 40px
                background-size: 45%
                background-color: transparent
                background-image: url('/theme/minimal/icon/player/history.svg')
                &:hover
                  background-color: rgba(0,0,0,.1)
                &:active
                  background-color: rgba(0,0,0,.1)

              &.like
                margin: 5px
                background-size: 70%
                background-position: center 
                background-image: url('/theme/minimal/icon/social/like.svg')
                border: none
                label
                  color: rgba(1,1,1,.87)
                  display: block
                  width: 100%
                  height: 100%
                  font-weight: 500
                  font-size: .7em
                  text-align: center
                  padding: 6px 0
                  
                &.liked
                  
                  background-image: url('/theme/minimal/icon/social/liked.svg')
                  label
                    color: rgba(255,255,255,.87)
                  &:hover
                    background-image: url('/theme/minimal/icon/social/liked.svg')
                    .label
                      color: rgba(255,255,255,.87)
                  
                &:hover
                  // background-image: url('/theme/minimal/icon/social/like_o.svg')
                  .label
                    color: #CF3151
              &.share
                background-size: 60%
                display: inline-block
                background-image: url('/theme/minimal/icon/social/share.svg')
              &.play
                width: 40px
                height: 40px
                margin: 5px
                background-size: 45%
                background-position: 12px center 
                background-image: url('/theme/minimal/icon/player/play.svg')
              &.pause
                width: 40px
                height: 40px
                margin: 5px
                background-size: 40%
                background-image: url('/theme/minimal/icon/player/pause.svg')
              &.next
                width: 40px
                height: 40px
                margin: 5px
                background-size: 50%
                background-image: url('/theme/minimal/icon/player/next.svg')
                // &:active
                  //background-image: url('/theme/minimal/icon/player/next_o.svg')
              &.prev
                display: inline-block
            input.volume
              display: inline-block
              width: 120px
              margin: 12px 16px
              padding-left: 40px
              background-image: url('/theme/common/icon/player/volume.svg')
              background-position: 3px center
              background-size: 25%
              background-repeat: no-repeat
              &.off
                background-image: url('/theme/common/icon/player/volume-off.svg')
              &.low
                background-position: .5px center
                background-image: url('/theme/common/icon/player/volume-low.svg')
              &.hide
                display: none

  .dark-mode
    .audio-player
      background-color: $surface-color-dark
      .inner
        background-color: $surface-color-dark
        .head
          background-color: #202124
        .body
          .progress
            >.indicator
              // opacity: .2
              background-color: rgba(0,0,0,.1)



  body.mode-taxi
    .audio-player
      .inner
        background-color: #3FA8D7
    &.dark-mode
      .audio-player
        .inner
          background-color: $surface-color-dark

