// mobile

.audio-player
  .track.info
    display: none

.dark-mode
  .audio-player
    .track.info
      background-color: transparent
      .side
        background-color: transparent
        .info
          .field
            border-bottom: 1px solid rgba(255,255,255,.05)

// desktop
@media only screen and (min-width: $desktop_switch)
  .audio-player
    &.show
      .track
        border-radius: none
        .button.close
          left: initial
          right: 16px
          top: 6px

    .track.info
      z-index: 2
      border-bottom: 1px solid rgba(255,255,255,.07)
      .button.close
        //display: none
        z-index: 3
        position: absolute
        right: 10px
        top: 10px
        width: 36px
        height: 36px
        margin: 0
        background-image: url('/theme/common/icon/dark/close.svg')
        background-repeat: no-repeat
        background-position: center
      .button.share
        display: none
      .cover
        display: block
        position: relative
        flex: none
        margin-right: 0
        margin-top: 0
        width: 300px
        height: 300px
        background-color: rgba(0,0,0,.2)
        .image
          display: block
          cursor: pointer
          width: 100%
          height: 100%
          border: none
          background-repeat: no-repeat
          background-size: contain
          background-position: center
          background-color: #4286A9
        .open
          pointer-events: none
          z-index: 2
          display: none
          height: 24px
          width: 24px
          position: absolute
          top: 8px
          right: 8px
          background-position: center 
          background-image: url('/theme/common/icon/closedown.svg')
          background-color: rgba(0,0,0,.4)
          border-radius: 50%
        &:hover
          .open
            display: block

      .side
        user-select: none
        flex: 1
        display: flex
        flex-direction: column
        background-color: #27669e
        background-color: #3FA8D7
        .info
          flex: 2
          padding: 36px 16px 8px 16px
          .field
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            padding: 2px 0 3px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(0,0,0,.05)
            .text
              flex: 1
              display: inline-block
              font-size: 1em
              padding: 2px 0
              margin-right: 0
              overflow: hidden
              text-overflow: ellipsis
              &.label
                text-align: right
                font-size: .7em
                opacity: .7
                flex: none
                padding-top: 8px
                margin-right: 8px
                display: inline-block
                width: 64px
                //text-transform: uppercase
                //
  .dark-mode
    .audio-player
      .track.info
        .side
          background-color: transparent
