
.awards
  overflow: hidden
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  padding: 0
  .head
    font-size: 0.8em
    font-weight: 400
    text-transform: uppercase
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 31px
    display: block
    padding: 8px 16px 8px 20px
    margin: 0
    border-bottom: 1px solid rgba(255, 255, 255, .2)
  .body
    overflow-x: hidden
    overflow-y: auto
    padding: 8px 7px
    margin-top: 31px
    .award
      position: relative
      display: inline-block
      width: 73px
      height: 108px
      margin: 8px
      padding: 0
      text-align: center
      img
        display: inline-block
        width: 48px
        height: 90px
      .name
        //color: rgba(255,255,255,1)
        font-size: .7em
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        display: block
        height: 30px
> div
  display: none
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: scroll
  &.show
    display: block


