
.genres

  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  width: 800px
  padding: 0
  margin: 200px auto
  background-color: rgba(0,0,0,.9)
  .head
    font-size: 0.8em
    font-weight: 400
    text-transform: uppercase
    position: absolute
    top: 0
    left: 0
    right: 0
    display: block
    padding: 8px 16px 8px 20px
    margin: 0
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  .body
    padding: 8px 7px
    margin-top: 31px
    .genre
      position: relative
      display: inline-block
      width: 120px
      height: 48px
      margin: 0
      padding: 0
      text-align: center
      background-color: grey
      
> div
  display: none
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: scroll
  &.show
    display: block


