.islands-list
  z-index: 150
  position: absolute
  display: none
  top: 56px
  left: 0
  right: 0
  bottom: $player_height + $appbar_height
  background-color: darken(#FBB03B, 10%)
  background-color: rgb(250, 156, 9)
  &.show
    display: flex
    flex-direction: column
    position: absolute

  .head
    flex: none
    display: flex
    flex-direction: row
    padding: 0
    //border-bottom: 1px solid rgba(255,255,255,.1)
    
    .title
      flex: 1
      font-size: 1.2em
      line-height: 1.7em
      color: white
      text-transform: uppercase
      padding: 8px 0 0
      margin-left: 20px
    //box-shadow: none
    .divider
      flex: 1
    .button.close
      flex: none
      // right: 14px
      // top: 8px
      width: 48px
      height: 42px
      margin: 2px 4px 0 0
      background-image: url('/theme/common/icon/dark/close.svg')
      background-position: center
      background-repeat: no-repeat
  >.category
    flex: none 
    display: flex
    height: 42px
    padding: 8px 8px 6px
    overflow-x: scroll
    overflow-y: hidden
    -webkit-overflow-scrolling: touch
    button
      font-size: .7em
      height: 28px
      padding: 2px 8px
      margin: 0 4px
      &.favourites
        width: 28px
        height: 28px
        background-repeat: no-repeat
        background-position: center
        background-size: 80%
        background-image: url('/theme/common/icon/dark/favourited.svg')
      &.selected
        background-color: rgba(0,0,0,.1)
  >.body
    flex: 1
    z-index: 9
    height: inherit
    top: 56px
    bottom: $appbar_height + $player_height
    margin: 0
    display: block
    padding: 0px
    overflow-x: hidden
    overflow-y: auto
    
    transition: .195s
    -webkit-overflow-scrolling: touch
    
    .inner
      display: flex
      flex-wrap: wrap
      overflow: auto
      .item
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        cursor: pointer
        position: relative
        width: 50%
        height: 118px
        padding: 0
        &.hide
          display: none   
        &.free
          .group
            .locked
              display: none

        .group
          
          position: relative
          height: 117px
          margin: 3px
          border: 1px solid white
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2)
          .image
            pointer-events: none
            width: 100%
            height: 79px
            margin: 0
            background-color: transparent
            background-size: cover
            background-position: center
            background-repeat: no-repeat

          .info
            font-family: roboto
            font-weight: 600
            pointer-events: none
            display: none

          .locked
            pointer-events: none
            position: absolute
            top: 0
            left: 0
            width: 48px
            height: 48px
            background-repeat: no-repeat

            background-image: url('/theme/fancy/icon/islands/locked.svg')
        
          .name
            pointer-events: none
            color: #195469
            flex: none
            font-size: .9em
            width: 100%
            height: 32px
            padding: 8px 36px 8px 8px
            margin: 0
            overflow: hidden
            background-color: white
          .favourite
            z-index: 2
            position: absolute
            bottom: 0
            right: 0
            width: 32px
            height: 32px
            background-repeat: no-repeat
            background-position: center
            background-size: 70%
            background-image: url('/theme/common/icon/favourite.svg')
            &.favourited
              background-image: url('/theme/common/icon/favourited.svg')

    >.foot
      display: none

.dark-mode
  .islands-list
    background-color: darken(#FBB03B, 35%)
    >.body
      .inner
        .item
          .group

            border: 1px solid black
            .name
              color: rgba(255,255,255,.87)
              background-color: black
            .favourite
              background-image: url('/theme/common/icon/dark/favourite.svg')
              &.favourited
                background-image: url('/theme/common/icon/dark/favourited.svg')

// .dark-mode
//   .islands-list


// body.trackdetail
//   .islands-list
//     bottom: $appbar_height + $player_height + 44px

body.admin-role, body.press-role, body.friends-role, body.digger-role, body.premium-role
  .islands-list
    >.body
      .item
        .group
          .locked
            display: none
    >.foot


@media only screen and (min-width: $desktop_switch)
  .islands-list
    top: 150px
    display: none
    width: 610px
    margin-left: auto
    margin-right: auto
    align-items: center
    justify-content: center
    height: 440px
    border-radius: 4px
    background-color: #0b89b5
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    &.show
      display: flex
    .head
      // display: none
      background-color: tranparent
      .title
        display: none
      .button.close
        position: absolute
        right: 4px
        top: 4px
        width: 32px
        height: 32px
    .category
      width: 100%
      flex: none 
      display: flex
      // height: 48px
      padding: 8px 8px 6px
      background-color: transparent
      .button
        maring: 0 2px
    .body
      flex: 1
      z-index: 9
      top: 64px
      left: 0
      right: 0
      display: flex
      flex-wrap: wrap
      flex-direction: column
      height: 398px
      width: 610px
      padding: 0
      flex: 1
      overflow: hidden
      margin: 0 auto
      bottom: initial
      border: none
      border-radius: 0
      background-color: transparent
      .inner
        flex: 1
        display: block
        flex-wrap: wrap
        overflow: auto
        scroll-behavior: smooth
        .item
          float: left
          width: initial
          cursor: pointer
          position: relative
          // flex-grow: 1
          height: 92px
          width: 25%
          padding: 0
          flex-direction: column

          .group
            height: 86px
            .image
              height: 64px
              background-size: cover
            .name
              pointer-events: none
              color: #195469
              flex: none
              font-size: .8em
              width: 100%
              height: 20px
              padding: 3px 8px
              margin: 0
              overflow: hidden
              background-color: white
            .info
              display: block
              font-size: .8em
              font-weight: 400
              text-align: center
              opacity: 0
              position: absolute
              left: 0
              right: 0
              top: 0
              bottom: 20px
              padding: 6px 12px
              background-color: rgba(0,0,0,.67)
              transition: .2s
            .favourite
              z-index: 2
              position: absolute
              bottom: 0
              right: 0
              width: 20px
              height: 20px  
              background-repeat: no-repeat
              background-position: center
              background-size: 70%
              background-image: url('/theme/common/icon/favourite.svg')
              &.favourited
                background-image: url('/theme/common/icon/favourited.svg')
          &:hover
            .group
              .info
                opacity: 1
                transition: .2s
      .foot
        display: block
        flex: none
        height: 30px
        border-top: 1px solid rgba(0,0,0,.1)
        .button.next
          display: block
          height: 30px
          width: 100%
          padding: 0
          margin: 0
          background-position: center
          background-image: url('/theme/common/icon/closedown.svg')
          background-color: transparent
          &.bottom
            transform: rotate(180deg)
          