.liked.list
  z-index: 130
  position: absolute
  top: 56px
  bottom: $appbar_height + $player_height
  right: 0
  overflow: hidden
  display: none
  flex-direction: column
  flex: none
  width: 100%
  background-color: #27669e
  &.show
    display: flex

  .head
    .button.close
      margin-left: 0
    .button.shuffle
      width: 48px

  .list.tracks
    flex: 1
    position: relative
    h3
      display: none

  .foot
    display: none

body.dark-mode
  .list.liked
    background-color: darken(#27669e, 30%)
    .button.close
      background-image: url('/theme/common/icon/dark/close.svg')
    .body
      // background-color: darken(#27669e, 15%)


// body.trackdetail
//   .liked.list
//     bottom: $appbar_height + $player_height + 44px

@media only screen and (min-width: $desktop_switch)
  .list.liked
    position: absolute
    z-index: 50
    width: 380px
    top: 80px
    bottom: 210px
    left: initial
    right: 20px
    border-radius: 12px
    border-bottom: 1px solid rgba(255,255,255,.1)
    border: 1px solid rgba(255,255,255,1)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    //transition: .225s bottom cubic-bezier(.4,0,.2,1), .225s transform cubic-bezier(.4,0,.2,1)
    transition: .225s bottom cubic-bezier(.4,0,.2,1)
 
    &.show
      transform: translateY(0px)
      //transition: .225s opacity cubic-bezier(.4,0,.2,1)
    &.up
      bottom: 500px
      transition: .195s bottom cubic-bezier(.4,0,.2,1)

    .head
      .button.close
        margin-left: 0
      .button.shuffle
        width: 32px

    .body
      .item
        padding-right: 8px
        padding-left: 20px
        >.info
          >.title
            width: 242px
          >.artist
            width: 242px
        &:last-child
          border-bottom: none

body.dark-mode
  .list.liked
    border: 1px solid rgba(0,0,0,1)
