
.subscribers
  position: absolute
  top: 0
  left: 0
  width: 0
  height: 0

body.FRA-2015
  .subscribers
    .subscriber01
      opacity: 1
      z-index: 0
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-image:  url('/theme/common/img/team2015.jpg')
      background-size: cover

@media only screen and (min-width: $desktop_switch)
  .subscriber02
    opacity: 1
    z-index: 11
    position: fixed
    top: 5px
    left: 91px
    display: block
    width: 8px
    height: 8px
    transition: 200ms ease-out
    border-radius: 50%
    background-color: #D83947
    //background-image:  url('/theme/common/img/supernovae.jpg')
    //
    background-size: 110%
    background-size: cover
    background-position: center
    &:hover
      // transition: 200ms ease-out
      // opacity: .4
      // transform: scale(1.1)
      // background-image:  url('/theme/common/img/supernovae.jpg')
    &.show
      opacity: 1
      top: 0
      left: 0
      background-image:  url('/theme/common/img/supernovae.jpg')
     
      width: 100%
      height: 100%
      transition: 100ms ease-in
      border-radius: 0
      // &:hover
      //   transition: 100ms ease-out
      //   opacity: .7
      //   transform: scale(1.07)



