.list.tracks, .list.liked
  .head
     border-bottom: 1px solid rgba(255,255,255,.1)
  .body
    -webkit-overflow-scrolling: touch
    .item
      position: relative
      display: flex
      height: 60px
      flex-direction: row
      flex-wrap: nowrap
      padding: 8px
      // border-bottom: 1px solid rgba(0,0,0,.05)
      border-bottom: none
      &:hover
        >.image
          >.control
            opacity: 1
            display: block

      &.selected
        background-color: rgba(0, 0, 0, 0.05)
        // background-color: darken(#68b5e4, 20%)
        >.image
          >.control
            opacity: 1
            display: block
            background-size: 80%
            background-image: url('/theme/common/icon/player/pause-circle.svg')
        &.paused
          >.image
            >.control
              opacity: 1
              display: block
              background-size: 80%
              background-image: url('/theme/common/icon/player/play-circle.svg')    


      >.image
        position: relative
        width: 42px
        height: 42px
        background-color: rgba(0,0,0,.05)
        background-size: cover
        >.control
          opacity: 0
          display: block
          cursor: pointer
          z-index: 1
          width: 42px
          height: 42px
          position: absolute
          top: 0px
          left: 0px
          //right: 0
          //bottom: 0
          padding: 9px
          background-color: rgba(0,0,0,.6)
          background-size: 80%
          background-position: center
          background-repeat: no-repeat
          background-image: url('/theme/common/icon/player/play-circle.svg')

      >.info
        flex: 1
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        >.title
          display: inline-block
          flex: 1
          display: block
          height: 23px
          padding: 2px 0
          overflow: hidden
          text-overflow: ellipsis
        >.artist
          font-size: 1em
          opacity: 0.6
          display: block
          height: 22px
          padding: 2px 0
          overflow: hidden
          text-overflow: ellipsis

      >.like
        cursor: pointer
        flex: none
        width: 40px
        display: flex
        flex-direction: column
        padding-left: 0
        text-align: center
        flex: none
        .icon
          flex: none
          display: block
          height: 28px
          background-image: url('/theme/common/icon/social/favorite.svg')
          background-position:  center 2px
          background-size: 50%
          background-repeat: no-repeat
          &.liked
            background-image: url('/theme/common/icon/social/like.svg')
        .count
          // display: none
          font-size: .8em
          line-height: 1em

.dark-mode
  .list.tracks, .list.liked
    .body
      .item.selected
        background-color: rgba(255,255,255,.1)


@media only screen and (min-width: $desktop_switch)
  .list.tracks, .list.liked
    z-index: 110
    top: 0
    right: 0
    bottom: 0
    border-radius: 12px
    border-right: none
    border-bottom: none
    border-top: none
    border-radius: 0
    &.up
      bottom: 460px
    .body
      .item
        display: flex
        padding: 8px 8px 8px 20px
        &.selected
          background-color: rgba(0,0,0,.08)
        >.image
          >.control
            display: none
        &:hover
          >.image
            >.control
              opacity: 1
              display: block
