
input, textarea, keygen, select
  font-size: 1em
  font-family: Helvetica, arial, serif
  color: $color-text

body.dark-mode 
  input, textarea, keygen, select
    font-size: 1em
    font-family: Helvetica, arial, serif
    color: $color-text-dark

button
  font-size: 1em
  font-family: futura, roboto, Helvetica, Arial, sans-serif
  color: white

input
  user-select: auto
  -webkit-touch-callout: default
  -webkit-user-select: auto
  font-family: roboto, Helvetica, Arial, sans-serif

.material-button.type-raised.primary-color:focus,
.material-button.type-raised.primary-color:focus:hover
  background-color: transparent

.material-button
  .button-label
    font-weight: 500
  .button-icon
    height: 22px
  // &:focus
  //   //transition-delay: .2s
  //   transition-duration: .3s
  //   background-color: inherit
  //   &:hover
  //     background-color: inherit
  &.type-action
    &:focus
      transition-duration: 0.3s
      background-color: rgba(255,255,255,.15)
      &:active
        transition-duration: 0.3s
        background-color: rgba(255,255,255,.3)
    &:hover
      transition-duration: 0.3s
      background-color: rgba(255,255,255,.15)

    &:active
      transition-duration: 0.3s
      background-color: rgba(255,255,255,.3)
      // background-color: red

  &.type-raised
    border-radius: 2px
    &.deepblue-color
      background-color: rgb(2, 49, 104)
      color: $secondary-color-text
    .button-icon
      svg
        fill: $secondary-color-text
    .material-ripple
      opacity: .3
      background-color: white
    // &:focus
    //   background-color: lighten(rgb(2, 49, 104), 10%)
    // &:focus
    //   background-color: lighten(rgb(2, 49, 104), 10%)
    //   &:hover
    //     background-color: lighten(rgb(2, 49, 104), 10%)
    // &:hover
    //   background-color: lighten(rgb(2, 49, 104), 5%)
  &.type-action
    .material-ripple
      opacity: .3
      background-color: white

.material-card
  padding: 8px
  .container-inner
    padding: 8px
    padding-top: 8px

  .toolbar-foot
    //text-align: right
    padding: 8px

.material-dialog
  .dialog-surface
    overflow: hidden
  .toolbar-head
    padding: 8px
    margin-top: 0
    .text-title
      margin-left: 8px
  .container-inner
    padding: 16px
  .toolbar-foot
    padding: 16px
    overflow: hidden

.dialog-oops
  .dialog-surface
    width: 360px

.material-component
  background-color: transparent

.material-list 
  .material-button 
    flex-wrap: nowrap
    width: inherit
    display: inline-block


.material-divider
  margin: 0

.material-tabs
  .material-list
    .material-button
      padding: 0 8px
      min-width: inherit
      min-height: inherit
      .button-label
        padding: 0 4px



// Material Textfield

.material-textfield
  display: block
  position: relative
  margin-right: 16px
  padding-top: 8px
  margin-bottom: 18px
  vertical-align: top
  &:after
    content: '' 
    position: relative
    opacity: 0
    left: 50%
    bottom: 0px
    height: 2px
    width: 2px
    background-color: red
    transition: 0.1s

  &.is-focused
    .textfield-underline
      background-color: white

  &.is-empty
    .textfield-input
      border-bottom: 1px solid rgba(255,255,255,.3)

  .textfield-input
    user-select: auto
    border-bottom: 1px solid rgba(255,255,255,.3)

  .textfield-underline
    position: absolute
    opacity: 0
    left: 50%
    bottom: 0px
    height: 2px
    width: 2px
    background-color: white
    transition: .1s

  &.textfield-error
    .textfield-label
      //color: $error-color-text

    textarea,
    input
      border-bottom: 1px solid $error-color-text

  .textfield-info
    display: block
    height: 12px
    font-size: .7em

  .textfield-label
    color: white

// states
.material-textfield
  
  select
    // position: absolute
    // left: 0
    color: white
    padding: 12px 8px 8px 0
    font-size: 16px
    border: none
    width: 100%
    height: 40px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: transparent
    //background: url() 96% / 15% no-repeat #eee

    //outline:none
    &:hover
      cursor: default

      //background-color: rgba(100, 100, 100, .06)

    &:focus
      cursor: text

  input[readonly],
  textarea[readonly]
    color: white
    //color: #9A9A9A
    //color: rgba(0, 0, 0, 1)
    //background-color: rgba(255,255,255,1)
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12)

    &:hover
      cursor: default

      //background-color: rgba(255,255,255,1)

    &:focus,
    &:active
      cursor: text
      border-bottom: 1px dashed rgba(0, 0, 0, 0.12) !important

      //background-color: rgba(255,255,255,1)

.dark-mode
  .material-textfield
    .textfield-label
      transition: .2s
      color: rgba(255, 255, 255, 0.3)

    .textfield-input
      border-bottom: 1px solid rgba(255, 255, 255, 0.12)

@media only screen and (max-width: 1024px)
  .material-textfield
    textarea,
    input
      font-size: 16px
